24_Schedule_Content_with_Review/blueprint_Distribute_AI_Image_and_Text.json
{
    "name": "Social Media - Distribute AI Image + Text",
    "flow": [
        {
            "id": 8,
            "module": "gotohuman:onFormComplete",
            "version": 1,
            "parameters": {
                "__IMTHOOK__": 566147
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 450
                },
                "restore": {
                    "parameters": {
                        "__IMTHOOK__": {
                            "data": {
                                "editable": "false"
                            },
                            "label": "AI Image + Text webhook"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTHOOK__",
                        "type": "hook:gotohuman",
                        "label": "Webhook",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 1,
            "module": "http:ActionGetFile",
            "version": 3,
            "parameters": {
                "handleErrors": false
            },
            "filter": {
                "name": "Is approved?",
                "conditions": [
                    [
                        {
                            "a": "{{8.response}}",
                            "b": "approved",
                            "o": "text:equal"
                        }
                    ]
                ]
            },
            "mapper": {
                "url": "{{8.responseValues.link_to_image.value[].url}}",
                "method": "get",
                "serializeUrl": false,
                "shareCookies": false
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 450
                },
                "restore": {},
                "parameters": [
                    {
                        "name": "handleErrors",
                        "type": "boolean",
                        "label": "Evaluate all states as errors (except for 2xx and 3xx )",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "url",
                        "type": "url",
                        "label": "URL",
                        "required": true
                    },
                    {
                        "name": "serializeUrl",
                        "type": "boolean",
                        "label": "Serialize URL",
                        "required": true
                    },
                    {
                        "name": "method",
                        "type": "hidden",
                        "label": "Method"
                    },
                    {
                        "name": "shareCookies",
                        "type": "boolean",
                        "label": "Share cookies with other HTTP modules",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 2,
            "module": "builtin:BasicRouter",
            "version": 1,
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 450
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": 3,
                            "module": "util:FunctionSleep",
                            "version": 1,
                            "parameters": {},
                            "mapper": {
                                "duration": "{{floor(random * 3) + 1}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 900,
                                    "y": 0,
                                    "name": "Random Pause"
                                },
                                "restore": {},
                                "expect": [
                                    {
                                        "name": "duration",
                                        "type": "uinteger",
                                        "label": "Delay",
                                        "required": true,
                                        "validate": {
                                            "max": 300,
                                            "min": 1
                                        }
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 4,
                            "module": "instagram-business:CreatePostPhoto",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 1493671
                            },
                            "mapper": {
                                "caption": "{{8.responseValues.instagram_caption.value}}",
                                "accountId": "17841468332360742",
                                "image_url": "{{8.responseValues.link_to_image.value[].url}}",
                                "location_id": "120712654673390"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 900,
                                    "y": 300
                                },
                                "restore": {
                                    "expect": {
                                        "accountId": {
                                            "mode": "chose",
                                            "label": "Command Labs (@cmdlabs)"
                                        },
                                        "user_tags": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "facebook"
                                            },
                                            "label": "IG / Facebook Meta Business Suite (Tad Duval)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:facebook",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "accountId",
                                        "type": "select",
                                        "label": "Page",
                                        "required": true
                                    },
                                    {
                                        "name": "image_url",
                                        "type": "url",
                                        "label": "Photo URL",
                                        "required": true
                                    },
                                    {
                                        "name": "caption",
                                        "type": "text",
                                        "label": "Caption"
                                    },
                                    {
                                        "name": "user_tags",
                                        "spec": [
                                            {
                                                "name": "username",
                                                "type": "text",
                                                "label": "Username",
                                                "required": true,
                                                "validate": {
                                                    "pattern": "^(?!@)"
                                                }
                                            },
                                            {
                                                "name": "x",
                                                "type": "number",
                                                "label": "X position",
                                                "required": true,
                                                "validate": {
                                                    "max": 1,
                                                    "min": 0
                                                }
                                            },
                                            {
                                                "name": "y",
                                                "type": "number",
                                                "label": "Y position",
                                                "required": true,
                                                "validate": {
                                                    "max": 1,
                                                    "min": 0
                                                }
                                            }
                                        ],
                                        "type": "array",
                                        "label": "User Tags"
                                    },
                                    {
                                        "name": "location_id",
                                        "type": "text",
                                        "label": "Location ID"
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 5,
                            "module": "twitter:uploadAMedia",
                            "version": 5,
                            "parameters": {
                                "__IMTCONN__": 1497097
                            },
                            "mapper": {
                                "select": "image",
                                "attachments": [
                                    {
                                        "data": "{{1.data}}",
                                        "filename": "{{1.fileName}}"
                                    }
                                ]
                            },
                            "metadata": {
                                "designer": {
                                    "x": 900,
                                    "y": 600
                                },
                                "restore": {
                                    "expect": {
                                        "select": {
                                            "label": "Image or GIF (Size less than 5MB)"
                                        },
                                        "attachments": {
                                            "mode": "chose",
                                            "items": [
                                                null
                                            ]
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "twitter"
                                            },
                                            "label": "My X (formerly Twitter) connection (COMMAND)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:twitter",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "select",
                                        "type": "select",
                                        "label": "Upload",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "image",
                                                "video"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "attachments",
                                        "spec": [
                                            {
                                                "name": "filename",
                                                "type": "filename",
                                                "label": "File Name",
                                                "required": true,
                                                "semantic": "file:name"
                                            },
                                            {
                                                "name": "data",
                                                "type": "buffer",
                                                "label": "Data",
                                                "required": true,
                                                "semantic": "file:data"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Attachments",
                                        "required": true,
                                        "validate": {
                                            "maxItems": 4
                                        }
                                    }
                                ]
                            }
                        },
                        {
                            "id": 6,
                            "module": "twitter:createATweet",
                            "version": 6,
                            "parameters": {
                                "__IMTCONN__": 1497894
                            },
                            "mapper": {
                                "text": "{{8.responseValues.x_dot_com_post.value}}",
                                "media_ids": "{{5.media_ids}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1200,
                                    "y": 600
                                },
                                "restore": {
                                    "expect": {
                                        "media_ids": {
                                            "mode": "edit"
                                        },
                                        "reply_settings": {
                                            "mode": "chose",
                                            "label": "Empty"
                                        },
                                        "for_super_followers_only": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "twitter2"
                                            },
                                            "label": "My X (formerly Twitter) OAuth 2.0 connection (CMD_LABS)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:twitter2",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text Content",
                                        "required": true
                                    },
                                    {
                                        "mode": "edit",
                                        "name": "media_ids",
                                        "spec": {
                                            "name": "value",
                                            "type": "text"
                                        },
                                        "type": "array",
                                        "label": "Media IDs"
                                    },
                                    {
                                        "name": "place_id",
                                        "type": "text",
                                        "label": "Place ID"
                                    },
                                    {
                                        "name": "direct_message_deep_link",
                                        "type": "url",
                                        "label": "Direct Message Link"
                                    },
                                    {
                                        "name": "for_super_followers_only",
                                        "type": "boolean",
                                        "label": "Allow to Post Exclusively for Super Followers Only"
                                    },
                                    {
                                        "name": "quote_tweet_id",
                                        "type": "text",
                                        "label": "Quote Post ID"
                                    },
                                    {
                                        "name": "reply_settings",
                                        "type": "select",
                                        "label": "Reply Settings"
                                    }
                                ],
                                "advanced": true
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 7,
                            "module": "linkedin:ShareImage",
                            "version": 2,
                            "parameters": {
                                "__IMTCONN__": 980694
                            },
                            "mapper": {
                                "data": "{{1.data}}",
                                "title": "Automate your Social Media with A.I. Workshop on 2/27/2025",
                                "altText": "Automate your Social Media with A.I. Workshop on 2/27/2025 Promo Image",
                                "content": "{{8.responseValues.linkedin_post.value}}",
                                "fileName": "{{1.fileName}}",
                                "visibility": "PUBLIC",
                                "feedDistribution": "MAIN_FEED",
                                "isReshareDisabledByAuthor": false
                            },
                            "metadata": {
                                "designer": {
                                    "x": 900,
                                    "y": 900
                                },
                                "restore": {
                                    "expect": {
                                        "visibility": {
                                            "mode": "chose",
                                            "label": "Public"
                                        },
                                        "feedDistribution": {
                                            "mode": "chose",
                                            "label": "Main feed"
                                        },
                                        "isReshareDisabledByAuthor": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "linkedin2"
                                            },
                                            "label": "My LinkedIn connection (🌈 Tad Duval 🌈)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:linkedin2,linkedin-openid",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "fileName",
                                        "type": "text",
                                        "label": "File name",
                                        "required": true
                                    },
                                    {
                                        "name": "data",
                                        "type": "buffer",
                                        "label": "Data",
                                        "required": true
                                    },
                                    {
                                        "name": "title",
                                        "type": "text",
                                        "label": "Title"
                                    },
                                    {
                                        "name": "altText",
                                        "type": "text",
                                        "label": "Alt Text"
                                    },
                                    {
                                        "name": "content",
                                        "type": "text",
                                        "label": "Content",
                                        "required": true
                                    },
                                    {
                                        "name": "visibility",
                                        "type": "select",
                                        "label": "Visibility",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "PUBLIC",
                                                "CONNECTIONS",
                                                "LOGGED_IN"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "feedDistribution",
                                        "type": "select",
                                        "label": "Feed Distribution",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "MAIN_FEED",
                                                "NONE"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "isReshareDisabledByAuthor",
                                        "type": "boolean",
                                        "label": "Is Reshare Disabled",
                                        "required": true
                                    }
                                ]
                            }
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "us2.make.com",
        "notes": []
    }
}