22_practice_makes_perfect/blueprint.json
{
    "name": "22_practice_makes_perfect",
    "flow": [
        {
            "id": 1,
            "module": "google-sheets:filterRows",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 2309368
            },
            "mapper": {
                "from": "drive",
                "valueRenderOption": "FORMATTED_VALUE",
                "dateTimeRenderOption": "FORMATTED_STRING",
                "spreadsheetId": "1WzMjAYJxjmAOufbofyd-yqY4OCIW43oW5MkE4NUlMIE",
                "sheetId": "Sheet1",
                "includesHeaders": true,
                "tableFirstRow": "A1:Z1",
                "filter": [
                    [
                        {
                            "a": "J",
                            "o": "text:equal",
                            "b": "Unprocessed"
                        }
                    ]
                ],
                "sortOrder": "asc"
            },
            "metadata": {
                "designer": {
                    "x": -384,
                    "y": 18
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "My Google connection (tad@cmdlabs.io)",
                            "data": {
                                "scoped": "true",
                                "connection": "google"
                            }
                        }
                    },
                    "expect": {
                        "from": {
                            "label": "Select from My Drive"
                        },
                        "valueRenderOption": {
                            "mode": "chose",
                            "label": "Formatted value"
                        },
                        "dateTimeRenderOption": {
                            "mode": "chose",
                            "label": "Formatted string"
                        },
                        "spreadsheetId": {
                            "mode": "edit"
                        },
                        "sheetId": {
                            "mode": "chose",
                            "label": "Sheet1"
                        },
                        "includesHeaders": {
                            "mode": "chose",
                            "label": "Yes"
                        },
                        "tableFirstRow": {
                            "label": "A-Z"
                        },
                        "orderBy": {
                            "mode": "chose"
                        },
                        "sortOrder": {
                            "mode": "chose",
                            "label": "Ascending"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "from",
                        "type": "select",
                        "label": "Search Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "drive",
                                "share"
                            ]
                        }
                    },
                    {
                        "name": "valueRenderOption",
                        "type": "select",
                        "label": "Value render option",
                        "validate": {
                            "enum": [
                                "FORMATTED_VALUE",
                                "UNFORMATTED_VALUE",
                                "FORMULA"
                            ]
                        }
                    },
                    {
                        "name": "dateTimeRenderOption",
                        "type": "select",
                        "label": "Date and time render option",
                        "validate": {
                            "enum": [
                                "SERIAL_NUMBER",
                                "FORMATTED_STRING"
                            ]
                        }
                    },
                    {
                        "name": "limit",
                        "type": "uinteger",
                        "label": "Limit"
                    },
                    {
                        "name": "spreadsheetId",
                        "type": "select",
                        "label": "Spreadsheet ID",
                        "required": true
                    },
                    {
                        "name": "sheetId",
                        "type": "select",
                        "label": "Sheet Name",
                        "required": true
                    },
                    {
                        "name": "includesHeaders",
                        "type": "select",
                        "label": "Table contains headers",
                        "required": true,
                        "validate": {
                            "enum": [
                                true,
                                false
                            ]
                        }
                    },
                    {
                        "name": "tableFirstRow",
                        "type": "select",
                        "label": "Column range",
                        "required": true,
                        "validate": {
                            "enum": [
                                "A1:Z1",
                                "A1:BZ1",
                                "A1:CZ1",
                                "A1:DZ1",
                                "A1:MZ1",
                                "A1:ZZ1",
                                "A1:AZZ1",
                                "A1:BZZ1",
                                "A1:CZZ1",
                                "A1:DZZ1",
                                "A1:MZZ1",
                                "A1:ZZZ1"
                            ]
                        }
                    },
                    {
                        "name": "filter",
                        "type": "filter",
                        "label": "Filter",
                        "options": "rpc://google-sheets/2/rpcGetFilterKeys?includesHeaders=true"
                    },
                    {
                        "name": "orderBy",
                        "type": "select",
                        "label": "Order by"
                    },
                    {
                        "name": "sortOrder",
                        "type": "select",
                        "label": "Sort order",
                        "validate": {
                            "enum": [
                                "asc",
                                "desc"
                            ]
                        }
                    }
                ],
                "interface": [
                    {
                        "name": "__IMTLENGTH__",
                        "label": "Total number of bundles",
                        "type": "uinteger"
                    },
                    {
                        "name": "__IMTINDEX__",
                        "label": "Bundle order position",
                        "type": "uinteger"
                    },
                    {
                        "name": "__ROW_NUMBER__",
                        "label": "Row number",
                        "type": "number"
                    },
                    {
                        "name": "__SPREADSHEET_ID__",
                        "label": "Spreadsheet ID",
                        "type": "text"
                    },
                    {
                        "name": "__SHEET__",
                        "label": "Sheet",
                        "type": "text"
                    },
                    {
                        "name": "0",
                        "label": "Short title (A)",
                        "type": "text"
                    },
                    {
                        "name": "1",
                        "label": "Video style (B)",
                        "type": "text"
                    },
                    {
                        "name": "2",
                        "label": "Make.com paid account (C)",
                        "type": "text"
                    },
                    {
                        "name": "3",
                        "label": "Language (D)",
                        "type": "text"
                    },
                    {
                        "name": "4",
                        "label": "Voice (E)",
                        "type": "text"
                    },
                    {
                        "name": "5",
                        "label": "Number of scenes (F)",
                        "type": "text"
                    },
                    {
                        "name": "6",
                        "label": "Voice model (G)",
                        "type": "text"
                    },
                    {
                        "name": "7",
                        "label": "Image model (H)",
                        "type": "text"
                    },
                    {
                        "name": "8",
                        "label": "Final video (I)",
                        "type": "text"
                    },
                    {
                        "name": "9",
                        "label": "Status (J)",
                        "type": "text"
                    },
                    {
                        "name": "10",
                        "label": "(K)",
                        "type": "text"
                    },
                    {
                        "name": "11",
                        "label": "(L)",
                        "type": "text"
                    },
                    {
                        "name": "12",
                        "label": "(M)",
                        "type": "text"
                    },
                    {
                        "name": "13",
                        "label": "(N)",
                        "type": "text"
                    },
                    {
                        "name": "14",
                        "label": "(O)",
                        "type": "text"
                    },
                    {
                        "name": "15",
                        "label": "(P)",
                        "type": "text"
                    },
                    {
                        "name": "16",
                        "label": "(Q)",
                        "type": "text"
                    },
                    {
                        "name": "17",
                        "label": "(R)",
                        "type": "text"
                    },
                    {
                        "name": "18",
                        "label": "(S)",
                        "type": "text"
                    },
                    {
                        "name": "19",
                        "label": "(T)",
                        "type": "text"
                    },
                    {
                        "name": "20",
                        "label": "(U)",
                        "type": "text"
                    },
                    {
                        "name": "21",
                        "label": "(V)",
                        "type": "text"
                    },
                    {
                        "name": "22",
                        "label": "(W)",
                        "type": "text"
                    },
                    {
                        "name": "23",
                        "label": "(X)",
                        "type": "text"
                    },
                    {
                        "name": "24",
                        "label": "(Y)",
                        "type": "text"
                    },
                    {
                        "name": "25",
                        "label": "(Z)",
                        "type": "text"
                    }
                ]
            }
        },
        {
            "id": 2,
            "module": "openai-gpt-3:CreateCompletion",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 1731058
            },
            "mapper": {
                "select": "chat",
                "temperature": "1",
                "top_p": "1",
                "n_completions": "1",
                "model": "gpt-4o-mini",
                "max_tokens": "2048",
                "messages": [
                    {
                        "role": "user",
                        "content": "Create a structured script for a short social media video based on the topic provided below. The video will be divided into multiple scenes, each consisting of:\n    1. A voice-over script (at least 20 words per scene)\n    2. A detailed, {{1.`1`}} image prompt describing the scene in {{1.`3`}}\n\nRequirements:\n    - The script should have {{1.`5`}} scenes\n    - The voice-over text must be in  {{1.`3`}}\n    - The image prompt must be highly detailed and realistic, avoiding any inappropriate or sensitive content (e.g. violence, gore, sex, nudity, NSFW, or anything that may trigger rejection by the A.I.)\n    - The response must be formatted in valid JSON following this structure:\n\n{\n    \"scenes\": [\n        {\n            \"voiceOverText\": \"Your voice-over text here (at least 20 words)\",\n            \"imagePrompt\": \"A detailed, {{1.`1`}} image description in English\"\n        }\n    ]\n}\n\nTopic of the video: {{1.`0`}}",
                        "imageDetail": "auto"
                    }
                ],
                "response_format": "json_object",
                "parseJSONResponse": true
            },
            "metadata": {
                "designer": {
                    "x": -26,
                    "y": 13
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "IG DM Bot connection",
                            "data": {
                                "scoped": "true",
                                "connection": "openai-gpt-3"
                            }
                        }
                    },
                    "expect": {
                        "select": {
                            "label": "Create a Chat Completion (GPT and o1 models)"
                        },
                        "logit_bias": {
                            "mode": "chose"
                        },
                        "stop": {
                            "mode": "chose"
                        },
                        "additionalParameters": {
                            "mode": "chose"
                        },
                        "model": {
                            "mode": "chose",
                            "label": "gpt-4o-mini (system)"
                        },
                        "messages": {
                            "mode": "chose",
                            "items": [
                                {
                                    "role": {
                                        "mode": "chose",
                                        "label": "User"
                                    },
                                    "imageInputType": {
                                        "mode": "chose",
                                        "label": "Empty"
                                    },
                                    "imageDetail": {
                                        "mode": "chose",
                                        "label": "Auto"
                                    }
                                }
                            ]
                        },
                        "response_format": {
                            "mode": "chose",
                            "label": "JSON Object"
                        },
                        "parseJSONResponse": {
                            "mode": "chose"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:openai-gpt-3",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "select",
                        "type": "select",
                        "label": "Select Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "chat",
                                "prompt"
                            ]
                        }
                    },
                    {
                        "name": "temperature",
                        "type": "number",
                        "label": "Temperature",
                        "validate": {
                            "max": 2,
                            "min": 0
                        }
                    },
                    {
                        "name": "top_p",
                        "type": "number",
                        "label": "Top P",
                        "validate": {
                            "max": 1,
                            "min": 0
                        }
                    },
                    {
                        "name": "n_completions",
                        "type": "number",
                        "label": "Number"
                    },
                    {
                        "name": "frequency_penalty",
                        "type": "number",
                        "label": "Frequency Penalty",
                        "validate": {
                            "max": 2,
                            "min": -2
                        }
                    },
                    {
                        "name": "presence_penalty",
                        "type": "number",
                        "label": "Presence Penalty",
                        "validate": {
                            "max": 2,
                            "min": -2
                        }
                    },
                    {
                        "name": "logit_bias",
                        "type": "array",
                        "label": "Token Probability",
                        "spec": {
                            "spec": [
                                {
                                    "name": "token",
                                    "type": "text",
                                    "label": "Token ID",
                                    "required": true
                                },
                                {
                                    "name": "probability",
                                    "type": "number",
                                    "label": "Probability",
                                    "required": true,
                                    "validate": {
                                        "max": 100,
                                        "min": -100
                                    }
                                }
                            ],
                            "type": "collection",
                            "label": "Token Probability",
                            "name": "value"
                        }
                    },
                    {
                        "name": "seed",
                        "type": "integer",
                        "label": "Seed"
                    },
                    {
                        "name": "stop",
                        "type": "array",
                        "label": "Stop Sequences",
                        "validate": {
                            "maxItems": 4
                        },
                        "spec": {
                            "type": "text",
                            "label": "Stop Sequence",
                            "name": "value"
                        }
                    },
                    {
                        "name": "additionalParameters",
                        "type": "array",
                        "label": "Other Input Parameters",
                        "spec": {
                            "spec": [
                                {
                                    "name": "key",
                                    "type": "text",
                                    "label": "Parameter Name",
                                    "required": true
                                },
                                {
                                    "name": "type",
                                    "type": "select",
                                    "label": "Input Type",
                                    "options": [
                                        {
                                            "label": "Text",
                                            "value": "text",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "text",
                                                    "label": "Parameter Value"
                                                }
                                            ],
                                            "default": true
                                        },
                                        {
                                            "label": "Number",
                                            "value": "number",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "number",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Boolean",
                                            "value": "boolean",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "boolean",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Date",
                                            "value": "date",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "date",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Any",
                                            "value": "any",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "any",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        }
                                    ]
                                }
                            ],
                            "type": "collection",
                            "label": "Input Parameter",
                            "name": "value"
                        }
                    },
                    {
                        "name": "model",
                        "type": "select",
                        "label": "Model",
                        "required": true
                    },
                    {
                        "name": "max_tokens",
                        "type": "uinteger",
                        "label": "Max Completion Tokens"
                    },
                    {
                        "name": "messages",
                        "type": "array",
                        "label": "Messages",
                        "required": true,
                        "spec": {
                            "label": "Message",
                            "type": "collection",
                            "spec": [
                                {
                                    "name": "role",
                                    "type": "select",
                                    "label": "Role",
                                    "required": true,
                                    "options": {
                                        "store": [
                                            {
                                                "label": "User",
                                                "value": "user",
                                                "nested": [
                                                    {
                                                        "help": "Text content of the message on behalf of the selected __Role__.",
                                                        "name": "content",
                                                        "type": "text",
                                                        "label": "Text Content"
                                                    },
                                                    {
                                                        "name": "imageInputType",
                                                        "type": "select",
                                                        "label": "Image Input Type",
                                                        "mappable": false,
                                                        "options": [
                                                            {
                                                                "value": "url",
                                                                "label": "URL",
                                                                "nested": [
                                                                    {
                                                                        "name": "imageUrl",
                                                                        "label": "Image URL",
                                                                        "type": "url",
                                                                        "help": "Make sure to use a publicly accessible URL.\nYou can test if your image is publicly accessible by opening the link in an incognito tab."
                                                                    }
                                                                ]
                                                            },
                                                            {
                                                                "value": "file",
                                                                "label": "Image File",
                                                                "nested": [
                                                                    {
                                                                        "name": "imageFile",
                                                                        "label": "Image",
                                                                        "type": "collection",
                                                                        "spec": [
                                                                            {
                                                                                "name": "imageFilename",
                                                                                "type": "filename",
                                                                                "label": "Image Filename",
                                                                                "semantic": "file:name",
                                                                                "extension": [
                                                                                    "jpg",
                                                                                    "jpeg",
                                                                                    "png",
                                                                                    "webp",
                                                                                    "gif"
                                                                                ],
                                                                                "help": "Accepted extensions: `.jpg`, `.jpeg`, `.png`, `.webp` and `.gif`."
                                                                            },
                                                                            {
                                                                                "name": "imageData",
                                                                                "type": "buffer",
                                                                                "label": "Image Data",
                                                                                "semantic": "file:data"
                                                                            }
                                                                        ]
                                                                    }
                                                                ]
                                                            }
                                                        ]
                                                    },
                                                    {
                                                        "name": "imageDetail",
                                                        "type": "select",
                                                        "label": "Image Detail",
                                                        "help": "Recommended value: `Auto`",
                                                        "options": [
                                                            {
                                                                "value": "auto",
                                                                "default": true,
                                                                "label": "Auto"
                                                            },
                                                            {
                                                                "value": "high",
                                                                "label": "High"
                                                            },
                                                            {
                                                                "value": "low",
                                                                "label": "Low"
                                                            }
                                                        ]
                                                    }
                                                ]
                                            },
                                            {
                                                "label": "Assistant",
                                                "value": "assistant",
                                                "nested": [
                                                    {
                                                        "help": "Text content of the message on behalf of the selected __Role__.",
                                                        "name": "content",
                                                        "type": "text",
                                                        "label": "Text Content"
                                                    }
                                                ]
                                            },
                                            {
                                                "label": "Developer / System",
                                                "value": "system",
                                                "nested": [
                                                    {
                                                        "help": "Text content of the message on behalf of the selected __Role__.",
                                                        "name": "content",
                                                        "type": "text",
                                                        "label": "Text Content"
                                                    }
                                                ]
                                            }
                                        ]
                                    }
                                }
                            ],
                            "name": "value"
                        }
                    },
                    {
                        "name": "response_format",
                        "type": "select",
                        "label": "Response Format",
                        "validate": {
                            "enum": [
                                "text",
                                "json_object"
                            ]
                        }
                    },
                    {
                        "name": "prediction",
                        "type": "text",
                        "label": "Predicted Outputs"
                    },
                    {
                        "name": "parseJSONResponse",
                        "type": "boolean",
                        "label": "Parse JSON Response",
                        "required": true
                    }
                ],
                "interface": [
                    {
                        "name": "result",
                        "type": "any",
                        "label": "Result"
                    },
                    {
                        "name": "id",
                        "type": "text",
                        "label": "ID"
                    },
                    {
                        "name": "object",
                        "type": "text",
                        "label": "Object"
                    },
                    {
                        "name": "created",
                        "type": "date",
                        "label": "Created"
                    },
                    {
                        "name": "model",
                        "type": "text",
                        "label": "Model"
                    },
                    {
                        "name": "choices",
                        "spec": {
                            "spec": [
                                {
                                    "name": "text",
                                    "type": "text",
                                    "label": "Text"
                                },
                                {
                                    "name": "index",
                                    "type": "number",
                                    "label": "Index"
                                },
                                {
                                    "name": "logprobs",
                                    "type": "text",
                                    "label": "Log Probs"
                                },
                                {
                                    "name": "finish_reason",
                                    "type": "text",
                                    "label": "Finish Reason"
                                },
                                {
                                    "name": "message",
                                    "spec": [
                                        {
                                            "name": "role",
                                            "type": "text",
                                            "label": "Role"
                                        },
                                        {
                                            "name": "content",
                                            "type": "text",
                                            "label": "Content"
                                        },
                                        {
                                            "name": "refusal",
                                            "type": "text",
                                            "label": "Refusal"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Message"
                                }
                            ],
                            "type": "collection"
                        },
                        "type": "array",
                        "label": "Choices"
                    },
                    {
                        "name": "usage",
                        "spec": [
                            {
                                "name": "prompt_tokens",
                                "type": "number",
                                "label": "Prompt Tokens"
                            },
                            {
                                "name": "completion_tokens",
                                "type": "text",
                                "label": "Completion Tokens"
                            },
                            {
                                "name": "total_tokens",
                                "type": "number",
                                "label": "Total Tokens"
                            },
                            {
                                "name": "prompt_tokens_details",
                                "spec": [
                                    {
                                        "name": "cached_tokens",
                                        "type": "uinteger",
                                        "label": "Cached Tokens"
                                    },
                                    {
                                        "name": "text_tokens",
                                        "type": "uinteger",
                                        "label": "Text Tokens"
                                    },
                                    {
                                        "name": "image_tokens",
                                        "type": "uinteger",
                                        "label": "Image Tokens"
                                    },
                                    {
                                        "name": "audio_tokens",
                                        "type": "uinteger",
                                        "label": "Audio Tokens"
                                    }
                                ],
                                "type": "collection",
                                "label": "Prompt Tokens Details"
                            },
                            {
                                "name": "completion_tokens_details",
                                "spec": [
                                    {
                                        "name": "reasoning_tokens",
                                        "type": "uinteger",
                                        "label": "Reasoning Tokens"
                                    },
                                    {
                                        "name": "text_tokens",
                                        "type": "uinteger",
                                        "label": "Text Tokens"
                                    },
                                    {
                                        "name": "audio_tokens",
                                        "type": "uinteger",
                                        "label": "Audio Tokens"
                                    },
                                    {
                                        "name": "accepted_prediction_tokens",
                                        "type": "uinteger",
                                        "label": "Accepted Prediction Tokens"
                                    },
                                    {
                                        "name": "rejected_prediction_tokens",
                                        "type": "uinteger",
                                        "label": "Rejected Prediction Tokens"
                                    }
                                ],
                                "type": "collection",
                                "label": "Completion Tokens Details"
                            }
                        ],
                        "type": "collection",
                        "label": "Usage"
                    },
                    {
                        "name": "service_tier",
                        "type": "text",
                        "label": "Service Tier"
                    },
                    {
                        "name": "system_fingerprint",
                        "type": "text",
                        "label": "System Fingerprint"
                    }
                ],
                "advanced": true
            }
        },
        {
            "id": 3,
            "module": "json2video:toolbox",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 2242114
            },
            "mapper": {
                "resolution": "instagram-story",
                "id": "6EHBQFYGPXHfMCMBsgPY",
                "scenes": "{{2.result.scenes}}",
                "voiceModel": "azure",
                "voice": "{{1.`4`}}",
                "imageModel": "freepik-classic"
            },
            "metadata": {
                "designer": {
                    "x": 303,
                    "y": 9
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "My JSON2Video connection (tad@cmdlabs.io - admin)",
                            "data": {
                                "scoped": "true",
                                "connection": "json2video"
                            }
                        }
                    },
                    "expect": {
                        "resolution": {
                            "mode": "chose",
                            "label": "1080x1920 - Vertical"
                        },
                        "id": {
                            "mode": "chose",
                            "nested": [
                                {
                                    "help": null,
                                    "name": "scenes",
                                    "spec": [
                                        {
                                            "name": "imagePrompt",
                                            "label": "Image Prompt",
                                            "type": "text",
                                            "default": "A sunset at a beautiful beach"
                                        },
                                        {
                                            "name": "voiceOverText",
                                            "label": "Voice Over Text",
                                            "type": "text",
                                            "default": "The hills are alive with the sound of music, with songs they have sung for a thousand years. The hills fill my heart with the sound of music. My heart wants to sing every song it hears"
                                        }
                                    ],
                                    "type": "array",
                                    "label": "Scenes",
                                    "options": null,
                                    "advanced": null,
                                    "required": null
                                },
                                {
                                    "help": "Check [credit consumption](https://json2video.com/pricing/credit-consumption.html)",
                                    "name": "voiceModel",
                                    "spec": null,
                                    "type": "select",
                                    "label": "Voice Model",
                                    "options": [
                                        {
                                            "label": "Azure (free to use)",
                                            "value": "azure"
                                        },
                                        {
                                            "label": "ElevenLabs (consumes extra credits)",
                                            "value": "elevenlabs"
                                        },
                                        {
                                            "label": "ElevenLabs Flash v2.5 (consumes extra credits)",
                                            "value": "elevenlabs-flash-v2-5"
                                        }
                                    ],
                                    "advanced": null,
                                    "required": null
                                },
                                {
                                    "help": "Choose the voice name depending on the Voice Model used. Check [Azure voice catalogue](https://json2video.com/ai-voices/azure/languages/).",
                                    "name": "voice",
                                    "spec": null,
                                    "type": "text",
                                    "label": "Voice",
                                    "options": null,
                                    "advanced": null,
                                    "required": null
                                },
                                {
                                    "help": "Check [credit consumption](https://json2video.com/pricing/credit-consumption.html)",
                                    "name": "imageModel",
                                    "spec": null,
                                    "type": "select",
                                    "label": "Image Model",
                                    "options": [
                                        {
                                            "label": "Freepik Classic (free to use)",
                                            "value": "freepik-classic"
                                        },
                                        {
                                            "label": "Flux Pro (consumes extra credits)",
                                            "value": "flux-pro"
                                        }
                                    ],
                                    "advanced": null,
                                    "required": null
                                },
                                {
                                    "help": "Choose the transcription model. Start with 'default' and if it does not work fine for your language try 'whisper'.",
                                    "name": "subtitlesModel",
                                    "spec": null,
                                    "type": "select",
                                    "label": "Subtitles Model",
                                    "options": [
                                        {
                                            "label": "Default",
                                            "value": "default"
                                        },
                                        {
                                            "label": "Whisper",
                                            "value": "whisper"
                                        }
                                    ],
                                    "advanced": null,
                                    "required": null
                                },
                                {
                                    "help": "Choose the font family for the subtitles. Default font is 'Oswald Bold'",
                                    "name": "fontFamily",
                                    "spec": null,
                                    "type": "text",
                                    "label": "Font Family",
                                    "options": null,
                                    "advanced": null,
                                    "required": null
                                },
                                {
                                    "help": "URL that will be called once the video has been created. This can be a Make.com webhook URL or any other URL",
                                    "name": "make_webhook_url",
                                    "spec": null,
                                    "type": "text",
                                    "label": "Webhook URL",
                                    "options": null,
                                    "advanced": true,
                                    "required": null
                                },
                                {
                                    "help": "This is a collection of key-value pairs that is passed to the webhook. You can use it to pass along data from this scenerio to the next scenario",
                                    "name": "client_data",
                                    "spec": [
                                        {
                                            "name": "key",
                                            "type": "text",
                                            "label": "Key"
                                        },
                                        {
                                            "name": "value",
                                            "type": "text",
                                            "label": "Value"
                                        }
                                    ],
                                    "type": "array",
                                    "label": "Client data",
                                    "options": null,
                                    "advanced": true,
                                    "required": null
                                }
                            ],
                            "label": "Social media reel (Choose model)"
                        },
                        "scenes": {
                            "mode": "edit"
                        },
                        "voiceModel": {
                            "mode": "chose",
                            "label": "Azure (free to use)"
                        },
                        "imageModel": {
                            "mode": "chose",
                            "label": "Freepik Classic (free to use)"
                        },
                        "subtitlesModel": {
                            "mode": "chose",
                            "label": "Empty"
                        },
                        "client_data": {
                            "mode": "chose"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:json2video",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "resolution",
                        "type": "select",
                        "label": "Desired video resolution",
                        "validate": {
                            "enum": [
                                "full-hd",
                                "instagram-story",
                                "squared",
                                "custom"
                            ]
                        }
                    },
                    {
                        "name": "id",
                        "type": "select",
                        "label": "Select a tool"
                    },
                    {
                        "name": "scenes",
                        "type": "array",
                        "label": "Scenes",
                        "spec": [
                            {
                                "name": "imagePrompt",
                                "label": "Image Prompt",
                                "type": "text"
                            },
                            {
                                "name": "voiceOverText",
                                "label": "Voice Over Text",
                                "type": "text"
                            }
                        ]
                    },
                    {
                        "name": "voiceModel",
                        "type": "select",
                        "label": "Voice Model",
                        "validate": {
                            "enum": [
                                "azure",
                                "elevenlabs",
                                "elevenlabs-flash-v2-5"
                            ]
                        }
                    },
                    {
                        "name": "voice",
                        "type": "text",
                        "label": "Voice"
                    },
                    {
                        "name": "imageModel",
                        "type": "select",
                        "label": "Image Model",
                        "validate": {
                            "enum": [
                                "freepik-classic",
                                "flux-pro"
                            ]
                        }
                    },
                    {
                        "name": "subtitlesModel",
                        "type": "select",
                        "label": "Subtitles Model",
                        "validate": {
                            "enum": [
                                "default",
                                "whisper"
                            ]
                        }
                    },
                    {
                        "name": "fontFamily",
                        "type": "text",
                        "label": "Font Family"
                    },
                    {
                        "name": "make_webhook_url",
                        "type": "text",
                        "label": "Webhook URL"
                    },
                    {
                        "name": "client_data",
                        "type": "array",
                        "label": "Client data",
                        "spec": [
                            {
                                "name": "key",
                                "type": "text",
                                "label": "Key"
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value"
                            }
                        ]
                    }
                ]
            }
        },
        {
            "id": 4,
            "module": "json2video:waitForAMovieToRender",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 2242114
            },
            "mapper": {
                "project": "{{3.project}}"
            },
            "metadata": {
                "designer": {
                    "x": 603,
                    "y": 9
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "My JSON2Video connection (tad@cmdlabs.io - admin)",
                            "data": {
                                "scoped": "true",
                                "connection": "json2video"
                            }
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:json2video",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "project",
                        "type": "text",
                        "label": "Project ID",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 5,
            "module": "google-sheets:updateRow",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 2309368
            },
            "mapper": {
                "mode": "select",
                "valueInputOption": "USER_ENTERED",
                "from": "drive",
                "spreadsheetId": "/1084DABzvCsYN4-Cov1V2ptIzSOs-OaeD/1VS62Jh1O8jjvESU_wEgppj3pcVe7Dknj/1WzMjAYJxjmAOufbofyd-yqY4OCIW43oW5MkE4NUlMIE",
                "sheetId": "Sheet1",
                "rowNumber": "{{1.`__ROW_NUMBER__`}}",
                "includesHeaders": true,
                "values": {
                    "9": "Processed"
                }
            },
            "metadata": {
                "designer": {
                    "x": 903,
                    "y": 9
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "My Google connection (tad@cmdlabs.io)",
                            "data": {
                                "scoped": "true",
                                "connection": "google"
                            }
                        }
                    },
                    "expect": {
                        "mode": {
                            "label": "Search by path"
                        },
                        "valueInputOption": {
                            "mode": "chose",
                            "label": "User entered"
                        },
                        "from": {
                            "label": "My Drive"
                        },
                        "spreadsheetId": {
                            "path": [
                                "Social_Media_Content",
                                "content_related_spreadsheets",
                                "practice_makes_perfect"
                            ]
                        },
                        "sheetId": {
                            "label": "Sheet1"
                        },
                        "includesHeaders": {
                            "nested": [
                                {
                                    "name": "values",
                                    "label": "Values",
                                    "type": "collection",
                                    "spec": [
                                        {
                                            "name": "0",
                                            "label": "Short title (A)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "1",
                                            "label": "Video style (B)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "2",
                                            "label": "Make.com paid account (C)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "3",
                                            "label": "Language (D)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "4",
                                            "label": "Voice (E)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "5",
                                            "label": "Number of scenes (F)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "6",
                                            "label": "Voice model (G)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "7",
                                            "label": "Image model (H)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "8",
                                            "label": "Final video (I)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "9",
                                            "label": "Status (J)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "10",
                                            "label": "(K)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "11",
                                            "label": "(L)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "12",
                                            "label": "(M)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "13",
                                            "label": "(N)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "14",
                                            "label": "(O)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "15",
                                            "label": "(P)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "16",
                                            "label": "(Q)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "17",
                                            "label": "(R)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "18",
                                            "label": "(S)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "19",
                                            "label": "(T)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "20",
                                            "label": "(U)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "21",
                                            "label": "(V)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "22",
                                            "label": "(W)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "23",
                                            "label": "(X)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "24",
                                            "label": "(Y)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "25",
                                            "label": "(Z)",
                                            "type": "text"
                                        }
                                    ]
                                }
                            ],
                            "label": "Yes"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "mode",
                        "type": "select",
                        "label": "Search Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "select",
                                "fromAll",
                                "map"
                            ]
                        }
                    },
                    {
                        "name": "valueInputOption",
                        "type": "select",
                        "label": "Value input option",
                        "validate": {
                            "enum": [
                                "USER_ENTERED",
                                "RAW"
                            ]
                        }
                    },
                    {
                        "name": "from",
                        "type": "select",
                        "label": "Drive",
                        "required": true,
                        "validate": {
                            "enum": [
                                "drive",
                                "share",
                                "team"
                            ]
                        }
                    },
                    {
                        "name": "spreadsheetId",
                        "type": "file",
                        "label": "Spreadsheet ID",
                        "required": true
                    },
                    {
                        "name": "sheetId",
                        "type": "select",
                        "label": "Sheet Name",
                        "required": true
                    },
                    {
                        "name": "rowNumber",
                        "type": "uinteger",
                        "label": "Row number",
                        "required": true
                    },
                    {
                        "name": "includesHeaders",
                        "type": "select",
                        "label": "Table contains headers",
                        "required": true,
                        "validate": {
                            "enum": [
                                true,
                                false
                            ]
                        }
                    },
                    {
                        "name": "values",
                        "type": "collection",
                        "label": "Values",
                        "spec": [
                            {
                                "name": "0",
                                "type": "text",
                                "label": "Short title (A)"
                            },
                            {
                                "name": "1",
                                "type": "text",
                                "label": "Video style (B)"
                            },
                            {
                                "name": "2",
                                "type": "text",
                                "label": "Make.com paid account (C)"
                            },
                            {
                                "name": "3",
                                "type": "text",
                                "label": "Language (D)"
                            },
                            {
                                "name": "4",
                                "type": "text",
                                "label": "Voice (E)"
                            },
                            {
                                "name": "5",
                                "type": "text",
                                "label": "Number of scenes (F)"
                            },
                            {
                                "name": "6",
                                "type": "text",
                                "label": "Voice model (G)"
                            },
                            {
                                "name": "7",
                                "type": "text",
                                "label": "Image model (H)"
                            },
                            {
                                "name": "8",
                                "type": "text",
                                "label": "Final video (I)"
                            },
                            {
                                "name": "9",
                                "type": "text",
                                "label": "Status (J)"
                            },
                            {
                                "name": "10",
                                "type": "text",
                                "label": "(K)"
                            },
                            {
                                "name": "11",
                                "type": "text",
                                "label": "(L)"
                            },
                            {
                                "name": "12",
                                "type": "text",
                                "label": "(M)"
                            },
                            {
                                "name": "13",
                                "type": "text",
                                "label": "(N)"
                            },
                            {
                                "name": "14",
                                "type": "text",
                                "label": "(O)"
                            },
                            {
                                "name": "15",
                                "type": "text",
                                "label": "(P)"
                            },
                            {
                                "name": "16",
                                "type": "text",
                                "label": "(Q)"
                            },
                            {
                                "name": "17",
                                "type": "text",
                                "label": "(R)"
                            },
                            {
                                "name": "18",
                                "type": "text",
                                "label": "(S)"
                            },
                            {
                                "name": "19",
                                "type": "text",
                                "label": "(T)"
                            },
                            {
                                "name": "20",
                                "type": "text",
                                "label": "(U)"
                            },
                            {
                                "name": "21",
                                "type": "text",
                                "label": "(V)"
                            },
                            {
                                "name": "22",
                                "type": "text",
                                "label": "(W)"
                            },
                            {
                                "name": "23",
                                "type": "text",
                                "label": "(X)"
                            },
                            {
                                "name": "24",
                                "type": "text",
                                "label": "(Y)"
                            },
                            {
                                "name": "25",
                                "type": "text",
                                "label": "(Z)"
                            }
                        ]
                    }
                ]
            }
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "us2.make.com",
        "notes": []
    }
}