6_Video_Post_to_Multiple_Platforms/blueprint.json
{
    "name": "6_video_post_to_multiple_platforms",
    "flow": [
        {
            "id": 1,
            "module": "google-sheets:watchRows",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 1463896,
                "mode": "fromAll",
                "includesHeaders": true,
                "limit": 1,
                "valueRenderOption": "FORMATTED_VALUE",
                "dateTimeRenderOption": "FORMATTED_STRING",
                "spreadsheetId": "1Xcf2Zc0zb7I6P6GmfPnxEQFxnpMcPGciEiAI42rQW6s",
                "sheetId": "Sheet1",
                "tableFirstRow": "A1:Z1"
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 450
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "Video_Post_Automation_Connection (tad@cmdlabs.io)",
                            "data": {
                                "scoped": "true",
                                "connection": "google"
                            }
                        },
                        "mode": {
                            "label": "Select from all"
                        },
                        "includesHeaders": {
                            "label": "Yes"
                        },
                        "valueRenderOption": {
                            "mode": "chose",
                            "label": "Formatted value"
                        },
                        "dateTimeRenderOption": {
                            "mode": "chose",
                            "label": "Formatted string"
                        },
                        "sheetId": {
                            "label": "Sheet1"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google",
                        "label": "Connection",
                        "required": true
                    },
                    {
                        "name": "mode",
                        "type": "select",
                        "label": "Search Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "select",
                                "fromAll",
                                "map"
                            ]
                        }
                    },
                    {
                        "name": "includesHeaders",
                        "type": "select",
                        "label": "Table contains headers",
                        "required": true,
                        "validate": {
                            "enum": [
                                true,
                                false
                            ]
                        }
                    },
                    {
                        "name": "limit",
                        "type": "uinteger",
                        "label": "Limit",
                        "required": true
                    },
                    {
                        "name": "valueRenderOption",
                        "type": "select",
                        "label": "Value render option",
                        "validate": {
                            "enum": [
                                "FORMATTED_VALUE",
                                "UNFORMATTED_VALUE",
                                "FORMULA"
                            ]
                        }
                    },
                    {
                        "name": "dateTimeRenderOption",
                        "type": "select",
                        "label": "Date and time render option",
                        "validate": {
                            "enum": [
                                "SERIAL_NUMBER",
                                "FORMATTED_STRING"
                            ]
                        }
                    },
                    {
                        "name": "spreadsheetId",
                        "type": "text",
                        "label": "Spreadsheet ID",
                        "required": true
                    },
                    {
                        "name": "sheetId",
                        "type": "select",
                        "label": "Sheet Name",
                        "required": true
                    },
                    {
                        "name": "tableFirstRow",
                        "type": "text",
                        "label": "Row with headers",
                        "required": true
                    }
                ],
                "interface": [
                    {
                        "name": "__ROW_NUMBER__",
                        "label": "Row number",
                        "type": "number"
                    },
                    {
                        "name": "__SPREADSHEET_ID__",
                        "label": "Spreadsheet ID",
                        "type": "text"
                    },
                    {
                        "name": "__SHEET__",
                        "label": "Sheet",
                        "type": "text"
                    },
                    {
                        "name": "0",
                        "label": "Post Type (A)",
                        "type": "text"
                    },
                    {
                        "name": "1",
                        "label": "Prompt (B)",
                        "type": "text"
                    },
                    {
                        "name": "2",
                        "label": "Video Link (C)",
                        "type": "text"
                    },
                    {
                        "name": "3",
                        "label": "VideoLinkID                                                                                                                                                                 (D)",
                        "type": "text"
                    },
                    {
                        "name": "4",
                        "label": "Timestamp (E)",
                        "type": "text"
                    },
                    {
                        "name": "5",
                        "label": "Processed (F)",
                        "type": "text"
                    },
                    {
                        "name": "6",
                        "label": "(G)",
                        "type": "text"
                    },
                    {
                        "name": "7",
                        "label": "(H)",
                        "type": "text"
                    },
                    {
                        "name": "8",
                        "label": "(I)",
                        "type": "text"
                    },
                    {
                        "name": "9",
                        "label": "(J)",
                        "type": "text"
                    },
                    {
                        "name": "10",
                        "label": "(K)",
                        "type": "text"
                    },
                    {
                        "name": "11",
                        "label": "(L)",
                        "type": "text"
                    },
                    {
                        "name": "12",
                        "label": "(M)",
                        "type": "text"
                    },
                    {
                        "name": "13",
                        "label": "(N)",
                        "type": "text"
                    },
                    {
                        "name": "14",
                        "label": "(O)",
                        "type": "text"
                    },
                    {
                        "name": "15",
                        "label": "(P)",
                        "type": "text"
                    },
                    {
                        "name": "16",
                        "label": "(Q)",
                        "type": "text"
                    },
                    {
                        "name": "17",
                        "label": "(R)",
                        "type": "text"
                    },
                    {
                        "name": "18",
                        "label": "(S)",
                        "type": "text"
                    },
                    {
                        "name": "19",
                        "label": "(T)",
                        "type": "text"
                    },
                    {
                        "name": "20",
                        "label": "(U)",
                        "type": "text"
                    },
                    {
                        "name": "21",
                        "label": "(V)",
                        "type": "text"
                    },
                    {
                        "name": "22",
                        "label": "(W)",
                        "type": "text"
                    },
                    {
                        "name": "23",
                        "label": "(X)",
                        "type": "text"
                    },
                    {
                        "name": "24",
                        "label": "(Y)",
                        "type": "text"
                    },
                    {
                        "name": "25",
                        "label": "(Z)",
                        "type": "text"
                    }
                ],
                "advanced": true
            }
        },
        {
            "id": 16,
            "module": "openai-gpt-3:CreateCompletion",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 977869
            },
            "mapper": {
                "select": "chat",
                "temperature": "1",
                "top_p": "1",
                "n_completions": "1",
                "model": "gpt-4o",
                "max_tokens": "2048",
                "messages": [
                    {
                        "role": "user",
                        "content": "{{1.`1`}}",
                        "imageDetail": "auto"
                    }
                ],
                "response_format": "json_object",
                "parseJSONResponse": false
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 450
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "My OpenAI connection",
                            "data": {
                                "scoped": "true",
                                "connection": "openai-gpt-3"
                            }
                        }
                    },
                    "expect": {
                        "select": {
                            "label": "Create a Chat Completion (GPT and o1 models)"
                        },
                        "logit_bias": {
                            "mode": "chose"
                        },
                        "stop": {
                            "mode": "chose"
                        },
                        "additionalParameters": {
                            "mode": "chose"
                        },
                        "model": {
                            "mode": "chose",
                            "label": "gpt-4o (system)"
                        },
                        "messages": {
                            "mode": "chose",
                            "items": [
                                {
                                    "role": {
                                        "mode": "chose",
                                        "label": "User"
                                    },
                                    "imageInputType": {
                                        "mode": "chose",
                                        "label": "Empty"
                                    },
                                    "imageDetail": {
                                        "mode": "chose",
                                        "label": "Auto"
                                    }
                                }
                            ]
                        },
                        "response_format": {
                            "mode": "chose",
                            "label": "JSON Object"
                        },
                        "parseJSONResponse": {
                            "mode": "chose"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:openai-gpt-3",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "select",
                        "type": "select",
                        "label": "Select Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "chat",
                                "prompt"
                            ]
                        }
                    },
                    {
                        "name": "temperature",
                        "type": "number",
                        "label": "Temperature",
                        "validate": {
                            "max": 2,
                            "min": 0
                        }
                    },
                    {
                        "name": "top_p",
                        "type": "number",
                        "label": "Top P",
                        "validate": {
                            "max": 1,
                            "min": 0
                        }
                    },
                    {
                        "name": "n_completions",
                        "type": "number",
                        "label": "Number"
                    },
                    {
                        "name": "frequency_penalty",
                        "type": "number",
                        "label": "Frequency Penalty",
                        "validate": {
                            "max": 2,
                            "min": -2
                        }
                    },
                    {
                        "name": "presence_penalty",
                        "type": "number",
                        "label": "Presence Penalty",
                        "validate": {
                            "max": 2,
                            "min": -2
                        }
                    },
                    {
                        "name": "logit_bias",
                        "type": "array",
                        "label": "Token Probability",
                        "spec": {
                            "spec": [
                                {
                                    "name": "token",
                                    "type": "text",
                                    "label": "Token ID",
                                    "required": true
                                },
                                {
                                    "name": "probability",
                                    "type": "number",
                                    "label": "Probability",
                                    "required": true,
                                    "validate": {
                                        "max": 100,
                                        "min": -100
                                    }
                                }
                            ],
                            "type": "collection",
                            "label": "Token Probability",
                            "name": "value"
                        }
                    },
                    {
                        "name": "seed",
                        "type": "integer",
                        "label": "Seed"
                    },
                    {
                        "name": "stop",
                        "type": "array",
                        "label": "Stop Sequences",
                        "validate": {
                            "maxItems": 4
                        },
                        "spec": {
                            "type": "text",
                            "label": "Stop Sequence",
                            "name": "value"
                        }
                    },
                    {
                        "name": "additionalParameters",
                        "type": "array",
                        "label": "Other Input Parameters",
                        "spec": {
                            "spec": [
                                {
                                    "name": "key",
                                    "type": "text",
                                    "label": "Parameter Name",
                                    "required": true
                                },
                                {
                                    "name": "type",
                                    "type": "select",
                                    "label": "Input Type",
                                    "options": [
                                        {
                                            "label": "Text",
                                            "value": "text",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "text",
                                                    "label": "Parameter Value"
                                                }
                                            ],
                                            "default": true
                                        },
                                        {
                                            "label": "Number",
                                            "value": "number",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "number",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Boolean",
                                            "value": "boolean",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "boolean",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Date",
                                            "value": "date",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "date",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Any",
                                            "value": "any",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "any",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        }
                                    ]
                                }
                            ],
                            "type": "collection",
                            "label": "Input Parameter",
                            "name": "value"
                        }
                    },
                    {
                        "name": "model",
                        "type": "select",
                        "label": "Model",
                        "required": true
                    },
                    {
                        "name": "max_tokens",
                        "type": "uinteger",
                        "label": "Max Completion Tokens"
                    },
                    {
                        "name": "messages",
                        "type": "array",
                        "label": "Messages",
                        "required": true,
                        "spec": {
                            "label": "Message",
                            "type": "collection",
                            "spec": [
                                {
                                    "name": "role",
                                    "type": "select",
                                    "label": "Role",
                                    "required": true,
                                    "options": {
                                        "store": [
                                            {
                                                "label": "Developer / System",
                                                "value": "system",
                                                "nested": [
                                                    {
                                                        "help": "Text content of the message on behalf of the selected __Role__.",
                                                        "name": "content",
                                                        "type": "text",
                                                        "label": "Text Content"
                                                    }
                                                ]
                                            },
                                            {
                                                "label": "User",
                                                "value": "user",
                                                "nested": [
                                                    {
                                                        "help": "Text content of the message on behalf of the selected __Role__.",
                                                        "name": "content",
                                                        "type": "text",
                                                        "label": "Text Content"
                                                    },
                                                    {
                                                        "name": "imageInputType",
                                                        "type": "select",
                                                        "label": "Image Input Type",
                                                        "mappable": false,
                                                        "options": [
                                                            {
                                                                "value": "url",
                                                                "label": "URL",
                                                                "nested": [
                                                                    {
                                                                        "name": "imageUrl",
                                                                        "label": "Image URL",
                                                                        "type": "url",
                                                                        "help": "Make sure to use a publicly accessible URL.\nYou can test if your image is publicly accessible by opening the link in an incognito tab."
                                                                    }
                                                                ]
                                                            },
                                                            {
                                                                "value": "file",
                                                                "label": "Image File",
                                                                "nested": [
                                                                    {
                                                                        "name": "imageFile",
                                                                        "label": "Image",
                                                                        "type": "collection",
                                                                        "spec": [
                                                                            {
                                                                                "name": "imageFilename",
                                                                                "type": "filename",
                                                                                "label": "Image Filename",
                                                                                "semantic": "file:name",
                                                                                "extension": [
                                                                                    "jpg",
                                                                                    "jpeg",
                                                                                    "png",
                                                                                    "webp",
                                                                                    "gif"
                                                                                ],
                                                                                "help": "Accepted extensions: `.jpg`, `.jpeg`, `.png`, `.webp` and `.gif`."
                                                                            },
                                                                            {
                                                                                "name": "imageData",
                                                                                "type": "buffer",
                                                                                "label": "Image Data",
                                                                                "semantic": "file:data"
                                                                            }
                                                                        ]
                                                                    }
                                                                ]
                                                            }
                                                        ]
                                                    },
                                                    {
                                                        "name": "imageDetail",
                                                        "type": "select",
                                                        "label": "Image Detail",
                                                        "advanced": true,
                                                        "options": [
                                                            {
                                                                "value": "auto",
                                                                "default": true,
                                                                "label": "Auto"
                                                            },
                                                            {
                                                                "value": "high",
                                                                "label": "High"
                                                            },
                                                            {
                                                                "value": "low",
                                                                "label": "Low"
                                                            }
                                                        ]
                                                    }
                                                ]
                                            },
                                            {
                                                "label": "Assistant",
                                                "value": "assistant",
                                                "nested": [
                                                    {
                                                        "help": "Text content of the message on behalf of the selected __Role__.",
                                                        "name": "content",
                                                        "type": "text",
                                                        "label": "Text Content"
                                                    }
                                                ]
                                            }
                                        ]
                                    }
                                }
                            ],
                            "name": "value"
                        }
                    },
                    {
                        "name": "response_format",
                        "type": "select",
                        "label": "Response Format",
                        "validate": {
                            "enum": [
                                "text",
                                "json_object"
                            ]
                        }
                    },
                    {
                        "name": "prediction",
                        "type": "text",
                        "label": "Predicted outputs"
                    },
                    {
                        "name": "parseJSONResponse",
                        "type": "boolean",
                        "label": "Parse JSON Response",
                        "required": true
                    }
                ],
                "interface": [
                    {
                        "name": "result",
                        "type": "any",
                        "label": "Result"
                    },
                    {
                        "name": "id",
                        "type": "text",
                        "label": "ID"
                    },
                    {
                        "name": "object",
                        "type": "text",
                        "label": "Object"
                    },
                    {
                        "name": "created",
                        "type": "date",
                        "label": "Created"
                    },
                    {
                        "name": "model",
                        "type": "text",
                        "label": "Model"
                    },
                    {
                        "name": "choices",
                        "spec": {
                            "spec": [
                                {
                                    "name": "text",
                                    "type": "text",
                                    "label": "Text"
                                },
                                {
                                    "name": "index",
                                    "type": "number",
                                    "label": "Index"
                                },
                                {
                                    "name": "logprobs",
                                    "type": "text",
                                    "label": "Log Probs"
                                },
                                {
                                    "name": "finish_reason",
                                    "type": "text",
                                    "label": "Finish Reason"
                                },
                                {
                                    "name": "message",
                                    "spec": [
                                        {
                                            "name": "role",
                                            "type": "text",
                                            "label": "Role"
                                        },
                                        {
                                            "name": "content",
                                            "type": "text",
                                            "label": "Content"
                                        },
                                        {
                                            "name": "refusal",
                                            "type": "text",
                                            "label": "Refusal"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Message"
                                }
                            ],
                            "type": "collection"
                        },
                        "type": "array",
                        "label": "Choices"
                    },
                    {
                        "name": "usage",
                        "spec": [
                            {
                                "name": "prompt_tokens",
                                "type": "number",
                                "label": "Prompt Tokens"
                            },
                            {
                                "name": "completion_tokens",
                                "type": "text",
                                "label": "Completion Tokens"
                            },
                            {
                                "name": "total_tokens",
                                "type": "number",
                                "label": "Total Tokens"
                            },
                            {
                                "name": "prompt_tokens_details",
                                "spec": [
                                    {
                                        "name": "cached_tokens",
                                        "type": "uinteger",
                                        "label": "Cached Tokens"
                                    },
                                    {
                                        "name": "text_tokens",
                                        "type": "uinteger",
                                        "label": "Text Tokens"
                                    },
                                    {
                                        "name": "image_tokens",
                                        "type": "uinteger",
                                        "label": "Image Tokens"
                                    },
                                    {
                                        "name": "audio_tokens",
                                        "type": "uinteger",
                                        "label": "Audio Tokens"
                                    }
                                ],
                                "type": "collection",
                                "label": "Prompt Tokens Details"
                            },
                            {
                                "name": "completion_tokens_details",
                                "spec": [
                                    {
                                        "name": "reasoning_tokens",
                                        "type": "uinteger",
                                        "label": "Reasoning Tokens"
                                    },
                                    {
                                        "name": "text_tokens",
                                        "type": "uinteger",
                                        "label": "Text Tokens"
                                    },
                                    {
                                        "name": "audio_tokens",
                                        "type": "uinteger",
                                        "label": "Audio Tokens"
                                    },
                                    {
                                        "name": "accepted_prediction_tokens",
                                        "type": "uinteger",
                                        "label": "Accepted Prediction Tokens"
                                    },
                                    {
                                        "name": "rejected_prediction_tokens",
                                        "type": "uinteger",
                                        "label": "Rejected Prediction Tokens"
                                    }
                                ],
                                "type": "collection",
                                "label": "Completion Tokens Details"
                            }
                        ],
                        "type": "collection",
                        "label": "Usage"
                    },
                    {
                        "name": "system_fingerprint",
                        "type": "text",
                        "label": "System Fingerprint"
                    }
                ],
                "advanced": true
            }
        },
        {
            "id": 17,
            "module": "json:ParseJSON",
            "version": 1,
            "parameters": {
                "type": ""
            },
            "mapper": {
                "json": "{{16.result}}"
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 450
                },
                "restore": {
                    "parameters": {
                        "type": {
                            "label": "Choose a data structure"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "type",
                        "type": "udt",
                        "label": "Data structure"
                    }
                ],
                "expect": [
                    {
                        "name": "json",
                        "type": "text",
                        "label": "JSON string",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 3,
            "module": "google-drive:getAFile",
            "version": 4,
            "parameters": {
                "__IMTCONN__": 1464137
            },
            "mapper": {
                "select": "map",
                "formatDocuments": "application/vnd.openxmlformats-officedocument.wordprocessingml.document",
                "formatSpreadsheets": "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet",
                "formatPresentations": "application/vnd.openxmlformats-officedocument.presentationml.presentation",
                "formatDrawings": "image/jpeg",
                "file": "{{1.`3`}}"
            },
            "metadata": {
                "designer": {
                    "x": 900,
                    "y": 450
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "Video_Post_Automation_Connection (tad@cmdlabs.io)",
                            "data": {
                                "scoped": "true",
                                "connection": "google-restricted"
                            }
                        }
                    },
                    "expect": {
                        "select": {
                            "label": "Enter manually"
                        },
                        "formatDocuments": {
                            "label": "MS Word Document"
                        },
                        "formatSpreadsheets": {
                            "label": "MS Excel"
                        },
                        "formatPresentations": {
                            "label": "MS PowerPoint"
                        },
                        "formatDrawings": {
                            "label": "JPEG"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google-restricted",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "type": "hidden"
                    },
                    {
                        "name": "select",
                        "type": "select",
                        "label": "Enter a File ID",
                        "required": true,
                        "validate": {
                            "enum": [
                                "map",
                                "value"
                            ]
                        }
                    },
                    {
                        "name": "formatDocuments",
                        "type": "select",
                        "label": "Convert Google Documents Files to Format",
                        "required": true,
                        "validate": {
                            "enum": [
                                "application/vnd.openxmlformats-officedocument.wordprocessingml.document",
                                "application/pdf",
                                "application/vnd.oasis.opendocument.text",
                                "text/html",
                                "text/plain",
                                "application/rtf"
                            ]
                        }
                    },
                    {
                        "name": "formatSpreadsheets",
                        "type": "select",
                        "label": "Convert Google Spreadsheets Files to Format",
                        "required": true,
                        "validate": {
                            "enum": [
                                "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet",
                                "application/x-vnd.oasis.opendocument.spreadsheet",
                                "application/pdf"
                            ]
                        }
                    },
                    {
                        "name": "formatPresentations",
                        "type": "select",
                        "label": "Convert Google Slides Files to Format",
                        "required": true,
                        "validate": {
                            "enum": [
                                "application/vnd.openxmlformats-officedocument.presentationml.presentation",
                                "application/pdf"
                            ]
                        }
                    },
                    {
                        "name": "formatDrawings",
                        "type": "select",
                        "label": "Convert Google Drawings Files to Format",
                        "required": true,
                        "validate": {
                            "enum": [
                                "image/jpeg",
                                "image/png",
                                "image/svg+xml",
                                "application/pdf"
                            ]
                        }
                    },
                    {
                        "name": "file",
                        "type": "text",
                        "label": "File ID",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 8,
            "module": "builtin:BasicRouter",
            "version": 1,
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": 1200,
                    "y": 450
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": 10,
                            "module": "youtube:uploadVideo",
                            "version": 4,
                            "parameters": {
                                "__IMTCONN__": 1465264
                            },
                            "mapper": {
                                "title": "This is an AI-generated title.",
                                "fileName": "{{3.name}}",
                                "data": "{{3.data}}",
                                "categoryId": "28",
                                "privacyStatus": "public",
                                "description": "{{17.youtube.text}}",
                                "selfDeclaredMadeForKids": false
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1500,
                                    "y": 0
                                },
                                "restore": {
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "label": "Video_Post_Automation_Connection (Command <ceemmmdee@gmail.com>)",
                                            "data": {
                                                "scoped": "true",
                                                "connection": "youtube"
                                            }
                                        }
                                    },
                                    "expect": {
                                        "categoryId": {
                                            "mode": "chose",
                                            "label": "Science & Technology"
                                        },
                                        "privacyStatus": {
                                            "mode": "chose",
                                            "label": "Public"
                                        },
                                        "selfDeclaredMadeForKids": {
                                            "mode": "chose"
                                        },
                                        "tags": {
                                            "mode": "chose"
                                        },
                                        "license": {
                                            "mode": "chose",
                                            "label": "Empty"
                                        },
                                        "embeddable": {
                                            "mode": "chose"
                                        },
                                        "notifySubscribers": {
                                            "mode": "chose"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:youtube",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "type": "hidden"
                                    },
                                    {
                                        "name": "title",
                                        "type": "text",
                                        "label": "Title",
                                        "validate": {
                                            "max": 100
                                        },
                                        "required": true
                                    },
                                    {
                                        "name": "fileName",
                                        "type": "filename",
                                        "label": "File Name",
                                        "required": true
                                    },
                                    {
                                        "name": "data",
                                        "type": "buffer",
                                        "label": "Data",
                                        "required": true
                                    },
                                    {
                                        "name": "categoryId",
                                        "type": "select",
                                        "label": "Video Category",
                                        "required": true
                                    },
                                    {
                                        "name": "privacyStatus",
                                        "type": "select",
                                        "label": "Privacy Status",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "private",
                                                "unlisted",
                                                "public"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "description",
                                        "type": "text",
                                        "label": "Description",
                                        "validate": {
                                            "max": 5000
                                        }
                                    },
                                    {
                                        "name": "selfDeclaredMadeForKids",
                                        "type": "boolean",
                                        "label": "The video is made for kids",
                                        "required": true
                                    },
                                    {
                                        "name": "tags",
                                        "type": "array",
                                        "label": "Tags",
                                        "spec": {
                                            "type": "text",
                                            "label": "Tag",
                                            "required": true,
                                            "validate": {
                                                "max": 500
                                            },
                                            "name": "value"
                                        }
                                    },
                                    {
                                        "name": "recordingDate",
                                        "type": "date",
                                        "label": "Recording Date"
                                    },
                                    {
                                        "name": "license",
                                        "type": "select",
                                        "label": "License",
                                        "validate": {
                                            "enum": [
                                                "youtube",
                                                "creativeCommon"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "embeddable",
                                        "type": "boolean",
                                        "label": "Allow Embedding"
                                    },
                                    {
                                        "name": "notifySubscribers",
                                        "type": "boolean",
                                        "label": "Notify Subscribers"
                                    }
                                ]
                            },
                            "onerror": [
                                {
                                    "id": 15,
                                    "module": "builtin:Ignore",
                                    "version": 1,
                                    "filter": {
                                        "name": "Catch all",
                                        "conditions": []
                                    },
                                    "metadata": {
                                        "designer": {
                                            "x": 1800,
                                            "y": 0
                                        }
                                    }
                                }
                            ]
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 7,
                            "module": "linkedin:createVideoPost",
                            "version": 2,
                            "parameters": {
                                "__IMTCONN__": 980694
                            },
                            "mapper": {
                                "videoName": "{{3.name}}",
                                "video": "{{3.data}}",
                                "title": "This is an AI-generated title.",
                                "content": "{{17.linkedin.text}}",
                                "visibility": "PUBLIC",
                                "feedDistribution": "MAIN_FEED",
                                "isReshareDisabledByAuthor": false
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1500,
                                    "y": 300
                                },
                                "restore": {
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "label": "My LinkedIn connection ( Tad Duval )",
                                            "data": {
                                                "scoped": "true",
                                                "connection": "linkedin2"
                                            }
                                        }
                                    },
                                    "expect": {
                                        "visibility": {
                                            "mode": "chose",
                                            "label": "Public"
                                        },
                                        "feedDistribution": {
                                            "mode": "chose",
                                            "label": "Main Feed"
                                        },
                                        "isReshareDisabledByAuthor": {
                                            "mode": "chose"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:linkedin2,linkedin-openid",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "videoName",
                                        "type": "text",
                                        "label": "File Name",
                                        "required": true
                                    },
                                    {
                                        "name": "video",
                                        "type": "buffer",
                                        "label": "Video",
                                        "required": true
                                    },
                                    {
                                        "name": "title",
                                        "type": "text",
                                        "label": "Title"
                                    },
                                    {
                                        "name": "content",
                                        "type": "text",
                                        "label": "Content",
                                        "required": true
                                    },
                                    {
                                        "name": "visibility",
                                        "type": "select",
                                        "label": "Visibility",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "PUBLIC",
                                                "CONNECTIONS",
                                                "LOGGED_IN"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "feedDistribution",
                                        "type": "select",
                                        "label": "Feed Distribution",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "MAIN_FEED",
                                                "NONE"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "isReshareDisabledByAuthor",
                                        "type": "boolean",
                                        "label": "Is Reshare Disabled",
                                        "required": true
                                    }
                                ]
                            },
                            "onerror": [
                                {
                                    "id": 14,
                                    "module": "builtin:Ignore",
                                    "version": 1,
                                    "filter": {
                                        "name": "Catch all",
                                        "conditions": []
                                    },
                                    "metadata": {
                                        "designer": {
                                            "x": 1800,
                                            "y": 300
                                        }
                                    }
                                }
                            ]
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 4,
                            "module": "twitter:uploadAMedia",
                            "version": 5,
                            "parameters": {
                                "__IMTCONN__": 1497097
                            },
                            "mapper": {
                                "select": "video",
                                "filename": "{{3.name}}",
                                "data": "{{3.data}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1500,
                                    "y": 600
                                },
                                "restore": {
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "label": "My X (formerly Twitter) connection (COMMAND)",
                                            "data": {
                                                "scoped": "true",
                                                "connection": "twitter"
                                            }
                                        }
                                    },
                                    "expect": {
                                        "select": {
                                            "label": "Video or GIF (Size more than 5MB)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:twitter",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "select",
                                        "type": "select",
                                        "label": "Upload",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "image",
                                                "video"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "filename",
                                        "type": "filename",
                                        "label": "File Name",
                                        "required": true
                                    },
                                    {
                                        "name": "data",
                                        "type": "buffer",
                                        "label": "Data",
                                        "required": true
                                    }
                                ]
                            }
                        },
                        {
                            "id": 19,
                            "module": "twitter:createATweet",
                            "version": 6,
                            "parameters": {
                                "__IMTCONN__": 1497894
                            },
                            "mapper": {
                                "text": "{{17.x_dot_com.text}}",
                                "media_ids": "{{4.media_ids}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1800,
                                    "y": 600
                                },
                                "restore": {
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "label": "My X (formerly Twitter) OAuth 2.0 connection (CMD_LABS)",
                                            "data": {
                                                "scoped": "true",
                                                "connection": "twitter2"
                                            }
                                        }
                                    },
                                    "expect": {
                                        "media_ids": {
                                            "mode": "edit"
                                        },
                                        "for_super_followers_only": {
                                            "mode": "chose"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:twitter2",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text Content",
                                        "required": true
                                    },
                                    {
                                        "name": "media_ids",
                                        "type": "array",
                                        "label": "Media IDs",
                                        "mode": "edit",
                                        "spec": {
                                            "type": "text",
                                            "name": "value"
                                        }
                                    },
                                    {
                                        "name": "place_id",
                                        "type": "text",
                                        "label": "Place ID"
                                    },
                                    {
                                        "name": "direct_message_deep_link",
                                        "type": "url",
                                        "label": "Direct Message Link"
                                    },
                                    {
                                        "name": "for_super_followers_only",
                                        "type": "boolean",
                                        "label": "Allow to Post Exclusively for Super Followers Only"
                                    },
                                    {
                                        "name": "quote_tweet_id",
                                        "type": "text",
                                        "label": "Quote Post ID"
                                    }
                                ],
                                "advanced": true
                            },
                            "onerror": [
                                {
                                    "id": 20,
                                    "module": "builtin:Ignore",
                                    "version": 1,
                                    "filter": {
                                        "name": "Catch all",
                                        "conditions": []
                                    },
                                    "metadata": {
                                        "designer": {
                                            "x": 2100,
                                            "y": 600
                                        }
                                    }
                                }
                            ]
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 12,
                            "module": "google-sheets:updateRow",
                            "version": 2,
                            "parameters": {
                                "__IMTCONN__": 1463896
                            },
                            "mapper": {
                                "mode": "fromAll",
                                "valueInputOption": "USER_ENTERED",
                                "spreadsheetId": "1Xcf2Zc0zb7I6P6GmfPnxEQFxnpMcPGciEiAI42rQW6s",
                                "sheetId": "Sheet1",
                                "rowNumber": "{{1.`__ROW_NUMBER__`}}",
                                "includesHeaders": true,
                                "values": {
                                    "5": "True"
                                }
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1500,
                                    "y": 900
                                },
                                "restore": {
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "label": "Video_Post_Automation_Connection (tad@cmdlabs.io)",
                                            "data": {
                                                "scoped": "true",
                                                "connection": "google"
                                            }
                                        }
                                    },
                                    "expect": {
                                        "mode": {
                                            "label": "Select from all"
                                        },
                                        "valueInputOption": {
                                            "mode": "chose",
                                            "label": "User entered"
                                        },
                                        "sheetId": {
                                            "mode": "edit"
                                        },
                                        "includesHeaders": {
                                            "nested": [
                                                {
                                                    "name": "values",
                                                    "label": "Values",
                                                    "type": "collection",
                                                    "spec": [
                                                        {
                                                            "name": "0",
                                                            "label": "Post Type (A)",
                                                            "type": "text"
                                                        },
                                                        {
                                                            "name": "1",
                                                            "label": "Text (B)",
                                                            "type": "text"
                                                        },
                                                        {
                                                            "name": "2",
                                                            "label": "Video Link (C)",
                                                            "type": "text"
                                                        },
                                                        {
                                                            "name": "3",
                                                            "label": "VideoLinkID                                                                                                                                                                 (D)",
                                                            "type": "text"
                                                        },
                                                        {
                                                            "name": "4",
                                                            "label": "Timestamp (E)",
                                                            "type": "text"
                                                        },
                                                        {
                                                            "name": "5",
                                                            "label": "Processed (F)",
                                                            "type": "text"
                                                        },
                                                        {
                                                            "name": "6",
                                                            "label": "(G)",
                                                            "type": "text"
                                                        },
                                                        {
                                                            "name": "7",
                                                            "label": "(H)",
                                                            "type": "text"
                                                        },
                                                        {
                                                            "name": "8",
                                                            "label": "(I)",
                                                            "type": "text"
                                                        },
                                                        {
                                                            "name": "9",
                                                            "label": "(J)",
                                                            "type": "text"
                                                        },
                                                        {
                                                            "name": "10",
                                                            "label": "(K)",
                                                            "type": "text"
                                                        },
                                                        {
                                                            "name": "11",
                                                            "label": "(L)",
                                                            "type": "text"
                                                        },
                                                        {
                                                            "name": "12",
                                                            "label": "(M)",
                                                            "type": "text"
                                                        },
                                                        {
                                                            "name": "13",
                                                            "label": "(N)",
                                                            "type": "text"
                                                        },
                                                        {
                                                            "name": "14",
                                                            "label": "(O)",
                                                            "type": "text"
                                                        },
                                                        {
                                                            "name": "15",
                                                            "label": "(P)",
                                                            "type": "text"
                                                        },
                                                        {
                                                            "name": "16",
                                                            "label": "(Q)",
                                                            "type": "text"
                                                        },
                                                        {
                                                            "name": "17",
                                                            "label": "(R)",
                                                            "type": "text"
                                                        },
                                                        {
                                                            "name": "18",
                                                            "label": "(S)",
                                                            "type": "text"
                                                        },
                                                        {
                                                            "name": "19",
                                                            "label": "(T)",
                                                            "type": "text"
                                                        },
                                                        {
                                                            "name": "20",
                                                            "label": "(U)",
                                                            "type": "text"
                                                        },
                                                        {
                                                            "name": "21",
                                                            "label": "(V)",
                                                            "type": "text"
                                                        },
                                                        {
                                                            "name": "22",
                                                            "label": "(W)",
                                                            "type": "text"
                                                        },
                                                        {
                                                            "name": "23",
                                                            "label": "(X)",
                                                            "type": "text"
                                                        },
                                                        {
                                                            "name": "24",
                                                            "label": "(Y)",
                                                            "type": "text"
                                                        },
                                                        {
                                                            "name": "25",
                                                            "label": "(Z)",
                                                            "type": "text"
                                                        }
                                                    ]
                                                }
                                            ],
                                            "label": "Yes"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:google",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "mode",
                                        "type": "select",
                                        "label": "Search Method",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "select",
                                                "fromAll",
                                                "map"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "valueInputOption",
                                        "type": "select",
                                        "label": "Value input option",
                                        "validate": {
                                            "enum": [
                                                "USER_ENTERED",
                                                "RAW"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "spreadsheetId",
                                        "type": "text",
                                        "label": "Spreadsheet ID",
                                        "required": true
                                    },
                                    {
                                        "name": "sheetId",
                                        "type": "select",
                                        "label": "Sheet Name",
                                        "mode": "edit",
                                        "required": true
                                    },
                                    {
                                        "name": "rowNumber",
                                        "type": "uinteger",
                                        "label": "Row number",
                                        "required": true
                                    },
                                    {
                                        "name": "includesHeaders",
                                        "type": "select",
                                        "label": "Table contains headers",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                true,
                                                false
                                            ]
                                        }
                                    },
                                    {
                                        "name": "values",
                                        "type": "collection",
                                        "label": "Values",
                                        "spec": [
                                            {
                                                "name": "0",
                                                "type": "text",
                                                "label": "Post Type (A)"
                                            },
                                            {
                                                "name": "1",
                                                "type": "text",
                                                "label": "Text (B)"
                                            },
                                            {
                                                "name": "2",
                                                "type": "text",
                                                "label": "Video Link (C)"
                                            },
                                            {
                                                "name": "3",
                                                "type": "text",
                                                "label": "VideoLinkID                                                                                                                                                                 (D)"
                                            },
                                            {
                                                "name": "4",
                                                "type": "text",
                                                "label": "Timestamp (E)"
                                            },
                                            {
                                                "name": "5",
                                                "type": "text",
                                                "label": "Processed (F)"
                                            },
                                            {
                                                "name": "6",
                                                "type": "text",
                                                "label": "(G)"
                                            },
                                            {
                                                "name": "7",
                                                "type": "text",
                                                "label": "(H)"
                                            },
                                            {
                                                "name": "8",
                                                "type": "text",
                                                "label": "(I)"
                                            },
                                            {
                                                "name": "9",
                                                "type": "text",
                                                "label": "(J)"
                                            },
                                            {
                                                "name": "10",
                                                "type": "text",
                                                "label": "(K)"
                                            },
                                            {
                                                "name": "11",
                                                "type": "text",
                                                "label": "(L)"
                                            },
                                            {
                                                "name": "12",
                                                "type": "text",
                                                "label": "(M)"
                                            },
                                            {
                                                "name": "13",
                                                "type": "text",
                                                "label": "(N)"
                                            },
                                            {
                                                "name": "14",
                                                "type": "text",
                                                "label": "(O)"
                                            },
                                            {
                                                "name": "15",
                                                "type": "text",
                                                "label": "(P)"
                                            },
                                            {
                                                "name": "16",
                                                "type": "text",
                                                "label": "(Q)"
                                            },
                                            {
                                                "name": "17",
                                                "type": "text",
                                                "label": "(R)"
                                            },
                                            {
                                                "name": "18",
                                                "type": "text",
                                                "label": "(S)"
                                            },
                                            {
                                                "name": "19",
                                                "type": "text",
                                                "label": "(T)"
                                            },
                                            {
                                                "name": "20",
                                                "type": "text",
                                                "label": "(U)"
                                            },
                                            {
                                                "name": "21",
                                                "type": "text",
                                                "label": "(V)"
                                            },
                                            {
                                                "name": "22",
                                                "type": "text",
                                                "label": "(W)"
                                            },
                                            {
                                                "name": "23",
                                                "type": "text",
                                                "label": "(X)"
                                            },
                                            {
                                                "name": "24",
                                                "type": "text",
                                                "label": "(Y)"
                                            },
                                            {
                                                "name": "25",
                                                "type": "text",
                                                "label": "(Z)"
                                            }
                                        ]
                                    }
                                ],
                                "advanced": true
                            }
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "us2.make.com"
    }
}