05_Text_and_Image_Post_based_on_Prompt_to_Instagram/blueprint_5.json
{
    "name": "5_post_to_instagram",
    "flow": [
        {
            "id": 7,
            "module": "util:SetVariable2",
            "version": 1,
            "parameters": {},
            "mapper": {
                "name": "Prompt",
                "scope": "roundtrip",
                "value": "Generate a caption for an Instagram Post AND generate a prompt for generating an image to accompany this post. The image will be generated using the FLUX.1-dev model from Black Forest Labs. The image prompt should generate a very simple abstract representation of striving for and attaining health, wealth, and abundance for oneself and one's tribe.\n\nThe output should be JSON that adheres to this schema\n\n## Pydantic Schema for Output\n\nclass Instagram(BaseModel):\n  text: str\n\nclass GeneratedContent(BaseModel):\n  instagram: Instagram\n  aped_image_prompt: str\n​"
            },
            "metadata": {
                "designer": {
                    "x": -1185,
                    "y": -159
                },
                "restore": {
                    "expect": {
                        "scope": {
                            "label": "One cycle"
                        }
                    }
                },
                "expect": [
                    {
                        "name": "name",
                        "type": "text",
                        "label": "Variable name",
                        "required": true
                    },
                    {
                        "name": "scope",
                        "type": "select",
                        "label": "Variable lifetime",
                        "required": true,
                        "validate": {
                            "enum": [
                                "roundtrip",
                                "execution"
                            ]
                        }
                    },
                    {
                        "name": "value",
                        "type": "any",
                        "label": "Variable value"
                    }
                ],
                "interface": [
                    {
                        "name": "Prompt",
                        "label": "Prompt",
                        "type": "any"
                    }
                ],
                "advanced": true
            }
        },
        {
            "id": 8,
            "module": "openai-gpt-3:CreateCompletion",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 977869
            },
            "mapper": {
                "select": "chat",
                "temperature": "1",
                "top_p": "1",
                "n_completions": "1",
                "model": "gpt-4o",
                "max_tokens": "2048",
                "messages": [
                    {
                        "role": "user",
                        "content": "{{7.Prompt}}",
                        "imageDetail": "auto"
                    }
                ],
                "response_format": "json_object",
                "parseJSONResponse": false
            },
            "metadata": {
                "designer": {
                    "x": -874,
                    "y": -156
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "My OpenAI connection",
                            "data": {
                                "scoped": "true",
                                "connection": "openai-gpt-3"
                            }
                        }
                    },
                    "expect": {
                        "select": {
                            "label": "Create a Chat Completion (GPT and o1 models)"
                        },
                        "logit_bias": {
                            "mode": "chose"
                        },
                        "stop": {
                            "mode": "chose"
                        },
                        "additionalParameters": {
                            "mode": "chose"
                        },
                        "model": {
                            "mode": "chose",
                            "label": "gpt-4o (system)"
                        },
                        "messages": {
                            "mode": "chose",
                            "items": [
                                {
                                    "role": {
                                        "mode": "chose",
                                        "label": "User"
                                    },
                                    "imageInputType": {
                                        "mode": "chose",
                                        "label": "Empty"
                                    },
                                    "imageDetail": {
                                        "mode": "chose",
                                        "label": "Auto"
                                    }
                                }
                            ]
                        },
                        "response_format": {
                            "mode": "chose",
                            "label": "JSON Object"
                        },
                        "parseJSONResponse": {
                            "mode": "chose"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:openai-gpt-3",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "select",
                        "type": "select",
                        "label": "Select Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "chat",
                                "prompt"
                            ]
                        }
                    },
                    {
                        "name": "temperature",
                        "type": "number",
                        "label": "Temperature",
                        "validate": {
                            "max": 2,
                            "min": 0
                        }
                    },
                    {
                        "name": "top_p",
                        "type": "number",
                        "label": "Top P",
                        "validate": {
                            "max": 1,
                            "min": 0
                        }
                    },
                    {
                        "name": "n_completions",
                        "type": "number",
                        "label": "Number"
                    },
                    {
                        "name": "frequency_penalty",
                        "type": "number",
                        "label": "Frequency Penalty",
                        "validate": {
                            "max": 2,
                            "min": -2
                        }
                    },
                    {
                        "name": "presence_penalty",
                        "type": "number",
                        "label": "Presence Penalty",
                        "validate": {
                            "max": 2,
                            "min": -2
                        }
                    },
                    {
                        "name": "logit_bias",
                        "type": "array",
                        "label": "Token Probability",
                        "spec": {
                            "spec": [
                                {
                                    "name": "token",
                                    "type": "text",
                                    "label": "Token ID",
                                    "required": true
                                },
                                {
                                    "name": "probability",
                                    "type": "number",
                                    "label": "Probability",
                                    "required": true,
                                    "validate": {
                                        "max": 100,
                                        "min": -100
                                    }
                                }
                            ],
                            "type": "collection",
                            "label": "Token Probability",
                            "name": "value"
                        }
                    },
                    {
                        "name": "seed",
                        "type": "integer",
                        "label": "Seed"
                    },
                    {
                        "name": "stop",
                        "type": "array",
                        "label": "Stop Sequences",
                        "validate": {
                            "maxItems": 4
                        },
                        "spec": {
                            "type": "text",
                            "label": "Stop Sequence",
                            "name": "value"
                        }
                    },
                    {
                        "name": "additionalParameters",
                        "type": "array",
                        "label": "Other Input Parameters",
                        "spec": {
                            "spec": [
                                {
                                    "name": "key",
                                    "type": "text",
                                    "label": "Parameter Name",
                                    "required": true
                                },
                                {
                                    "name": "type",
                                    "type": "select",
                                    "label": "Input Type",
                                    "options": [
                                        {
                                            "label": "Text",
                                            "value": "text",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "text",
                                                    "label": "Parameter Value"
                                                }
                                            ],
                                            "default": true
                                        },
                                        {
                                            "label": "Number",
                                            "value": "number",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "number",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Boolean",
                                            "value": "boolean",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "boolean",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Date",
                                            "value": "date",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "date",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Any",
                                            "value": "any",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "any",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        }
                                    ]
                                }
                            ],
                            "type": "collection",
                            "label": "Input Parameter",
                            "name": "value"
                        }
                    },
                    {
                        "name": "model",
                        "type": "select",
                        "label": "Model",
                        "required": true
                    },
                    {
                        "name": "max_tokens",
                        "type": "uinteger",
                        "label": "Max Completion Tokens"
                    },
                    {
                        "name": "messages",
                        "type": "array",
                        "label": "Messages",
                        "required": true,
                        "spec": {
                            "label": "Message",
                            "type": "collection",
                            "spec": [
                                {
                                    "name": "role",
                                    "type": "select",
                                    "label": "Role",
                                    "required": true,
                                    "options": {
                                        "store": [
                                            {
                                                "label": "Developer / System",
                                                "value": "system",
                                                "nested": [
                                                    {
                                                        "help": "Text content of the message on behalf of the selected __Role__.",
                                                        "name": "content",
                                                        "type": "text",
                                                        "label": "Text Content"
                                                    }
                                                ]
                                            },
                                            {
                                                "label": "User",
                                                "value": "user",
                                                "nested": [
                                                    {
                                                        "help": "Text content of the message on behalf of the selected __Role__.",
                                                        "name": "content",
                                                        "type": "text",
                                                        "label": "Text Content"
                                                    },
                                                    {
                                                        "name": "imageInputType",
                                                        "type": "select",
                                                        "label": "Image Input Type",
                                                        "mappable": false,
                                                        "options": [
                                                            {
                                                                "value": "url",
                                                                "label": "URL",
                                                                "nested": [
                                                                    {
                                                                        "name": "imageUrl",
                                                                        "label": "Image URL",
                                                                        "type": "url",
                                                                        "help": "Make sure to use a publicly accessible URL.\nYou can test if your image is publicly accessible by opening the link in an incognito tab."
                                                                    }
                                                                ]
                                                            },
                                                            {
                                                                "value": "file",
                                                                "label": "Image File",
                                                                "nested": [
                                                                    {
                                                                        "name": "imageFile",
                                                                        "label": "Image",
                                                                        "type": "collection",
                                                                        "spec": [
                                                                            {
                                                                                "name": "imageFilename",
                                                                                "type": "filename",
                                                                                "label": "Image Filename",
                                                                                "semantic": "file:name",
                                                                                "extension": [
                                                                                    "jpg",
                                                                                    "jpeg",
                                                                                    "png",
                                                                                    "webp",
                                                                                    "gif"
                                                                                ],
                                                                                "help": "Accepted extensions: `.jpg`, `.jpeg`, `.png`, `.webp` and `.gif`."
                                                                            },
                                                                            {
                                                                                "name": "imageData",
                                                                                "type": "buffer",
                                                                                "label": "Image Data",
                                                                                "semantic": "file:data"
                                                                            }
                                                                        ]
                                                                    }
                                                                ]
                                                            }
                                                        ]
                                                    },
                                                    {
                                                        "name": "imageDetail",
                                                        "type": "select",
                                                        "label": "Image Detail",
                                                        "advanced": true,
                                                        "options": [
                                                            {
                                                                "value": "auto",
                                                                "default": true,
                                                                "label": "Auto"
                                                            },
                                                            {
                                                                "value": "high",
                                                                "label": "High"
                                                            },
                                                            {
                                                                "value": "low",
                                                                "label": "Low"
                                                            }
                                                        ]
                                                    }
                                                ]
                                            },
                                            {
                                                "label": "Assistant",
                                                "value": "assistant",
                                                "nested": [
                                                    {
                                                        "help": "Text content of the message on behalf of the selected __Role__.",
                                                        "name": "content",
                                                        "type": "text",
                                                        "label": "Text Content"
                                                    }
                                                ]
                                            }
                                        ]
                                    }
                                }
                            ],
                            "name": "value"
                        }
                    },
                    {
                        "name": "response_format",
                        "type": "select",
                        "label": "Response Format",
                        "validate": {
                            "enum": [
                                "text",
                                "json_object"
                            ]
                        }
                    },
                    {
                        "name": "prediction",
                        "type": "text",
                        "label": "Predicted outputs"
                    },
                    {
                        "name": "parseJSONResponse",
                        "type": "boolean",
                        "label": "Parse JSON Response",
                        "required": true
                    }
                ],
                "interface": [
                    {
                        "name": "result",
                        "type": "any",
                        "label": "Result"
                    },
                    {
                        "name": "id",
                        "type": "text",
                        "label": "ID"
                    },
                    {
                        "name": "object",
                        "type": "text",
                        "label": "Object"
                    },
                    {
                        "name": "created",
                        "type": "date",
                        "label": "Created"
                    },
                    {
                        "name": "model",
                        "type": "text",
                        "label": "Model"
                    },
                    {
                        "name": "choices",
                        "spec": {
                            "spec": [
                                {
                                    "name": "text",
                                    "type": "text",
                                    "label": "Text"
                                },
                                {
                                    "name": "index",
                                    "type": "number",
                                    "label": "Index"
                                },
                                {
                                    "name": "logprobs",
                                    "type": "text",
                                    "label": "Log Probs"
                                },
                                {
                                    "name": "finish_reason",
                                    "type": "text",
                                    "label": "Finish Reason"
                                },
                                {
                                    "name": "message",
                                    "spec": [
                                        {
                                            "name": "role",
                                            "type": "text",
                                            "label": "Role"
                                        },
                                        {
                                            "name": "content",
                                            "type": "text",
                                            "label": "Content"
                                        },
                                        {
                                            "name": "refusal",
                                            "type": "text",
                                            "label": "Refusal"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Message"
                                }
                            ],
                            "type": "collection"
                        },
                        "type": "array",
                        "label": "Choices"
                    },
                    {
                        "name": "usage",
                        "spec": [
                            {
                                "name": "prompt_tokens",
                                "type": "number",
                                "label": "Prompt Tokens"
                            },
                            {
                                "name": "completion_tokens",
                                "type": "text",
                                "label": "Completion Tokens"
                            },
                            {
                                "name": "total_tokens",
                                "type": "number",
                                "label": "Total Tokens"
                            },
                            {
                                "name": "prompt_tokens_details",
                                "spec": [
                                    {
                                        "name": "cached_tokens",
                                        "type": "uinteger",
                                        "label": "Cached Tokens"
                                    },
                                    {
                                        "name": "text_tokens",
                                        "type": "uinteger",
                                        "label": "Text Tokens"
                                    },
                                    {
                                        "name": "image_tokens",
                                        "type": "uinteger",
                                        "label": "Image Tokens"
                                    },
                                    {
                                        "name": "audio_tokens",
                                        "type": "uinteger",
                                        "label": "Audio Tokens"
                                    }
                                ],
                                "type": "collection",
                                "label": "Prompt Tokens Details"
                            },
                            {
                                "name": "completion_tokens_details",
                                "spec": [
                                    {
                                        "name": "reasoning_tokens",
                                        "type": "uinteger",
                                        "label": "Reasoning Tokens"
                                    },
                                    {
                                        "name": "text_tokens",
                                        "type": "uinteger",
                                        "label": "Text Tokens"
                                    },
                                    {
                                        "name": "audio_tokens",
                                        "type": "uinteger",
                                        "label": "Audio Tokens"
                                    },
                                    {
                                        "name": "accepted_prediction_tokens",
                                        "type": "uinteger",
                                        "label": "Accepted Prediction Tokens"
                                    },
                                    {
                                        "name": "rejected_prediction_tokens",
                                        "type": "uinteger",
                                        "label": "Rejected Prediction Tokens"
                                    }
                                ],
                                "type": "collection",
                                "label": "Completion Tokens Details"
                            }
                        ],
                        "type": "collection",
                        "label": "Usage"
                    },
                    {
                        "name": "system_fingerprint",
                        "type": "text",
                        "label": "System Fingerprint"
                    }
                ],
                "advanced": true
            }
        },
        {
            "id": 9,
            "module": "json:ParseJSON",
            "version": 1,
            "parameters": {
                "type": ""
            },
            "mapper": {
                "json": "{{8.result}}"
            },
            "metadata": {
                "designer": {
                    "x": -572,
                    "y": -166
                },
                "restore": {
                    "parameters": {
                        "type": {
                            "label": "Choose a data structure"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "type",
                        "type": "udt",
                        "label": "Data structure"
                    }
                ],
                "expect": [
                    {
                        "name": "json",
                        "type": "text",
                        "label": "JSON string",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 10,
            "module": "leonardo-ai:generateImage",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 1500888
            },
            "mapper": {
                "prompt": "{{9.aped_image_prompt}}",
                "modelId": "1e60896f-3c26-4296-8ecc-53e2afecc132",
                "num_images": "1",
                "height": "1024",
                "width": "1024"
            },
            "metadata": {
                "designer": {
                    "x": -193,
                    "y": -144
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "My Leonardo.AI connection (kalygo)",
                            "data": {
                                "scoped": "true",
                                "connection": "leonardo-ai"
                            }
                        }
                    },
                    "expect": {
                        "modelId": {
                            "mode": "chose",
                            "label": "Leonardo Diffusion XL"
                        },
                        "source": {
                            "mode": "chose",
                            "label": "Empty"
                        },
                        "public": {
                            "mode": "chose"
                        },
                        "unzoom": {
                            "mode": "chose"
                        },
                        "alchemy": {
                            "mode": "chose"
                        },
                        "promptMagic": {
                            "mode": "chose"
                        },
                        "controlNet": {
                            "mode": "chose"
                        },
                        "presetStyle": {
                            "mode": "chose",
                            "label": "Empty"
                        },
                        "nsfw": {
                            "mode": "chose"
                        },
                        "tiling": {
                            "mode": "chose"
                        },
                        "sd_version": {
                            "mode": "chose",
                            "label": "Empty"
                        },
                        "imagePrompts": {
                            "mode": "chose"
                        },
                        "scheduler": {
                            "mode": "chose",
                            "label": "Empty"
                        },
                        "transparency": {
                            "mode": "chose",
                            "label": "Empty"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:leonardo-ai",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "prompt",
                        "type": "text",
                        "label": "Prompt",
                        "required": true
                    },
                    {
                        "name": "modelId",
                        "type": "select",
                        "label": "Model"
                    },
                    {
                        "name": "num_images",
                        "type": "uinteger",
                        "label": "Number of images to generate",
                        "validate": {
                            "max": 8,
                            "min": 1
                        }
                    },
                    {
                        "name": "source",
                        "type": "select",
                        "label": "Source",
                        "validate": {
                            "enum": [
                                "im",
                                "gen"
                            ]
                        }
                    },
                    {
                        "name": "public",
                        "type": "boolean",
                        "label": "Public"
                    },
                    {
                        "name": "height",
                        "type": "uinteger",
                        "label": "Height"
                    },
                    {
                        "name": "width",
                        "type": "uinteger",
                        "label": "Width"
                    },
                    {
                        "name": "unzoom",
                        "type": "boolean",
                        "label": "Unzoom"
                    },
                    {
                        "name": "alchemy",
                        "type": "boolean",
                        "label": "Alchemy"
                    },
                    {
                        "name": "promptMagic",
                        "type": "boolean",
                        "label": "Prompt Magic"
                    },
                    {
                        "name": "controlNet",
                        "type": "boolean",
                        "label": "ControlNet"
                    },
                    {
                        "name": "presetStyle",
                        "type": "select",
                        "label": "Preset style",
                        "validate": {
                            "enum": [
                                "CINEMATIC",
                                "CREATIVE",
                                "VIBRANT",
                                "NONE",
                                "ANIME",
                                "CREATIVE",
                                "DYNAMIC",
                                "ENVIRONMENT",
                                "GENERAL",
                                "ILLUSTRATION",
                                "PHOTOGRAPHY",
                                "RAYTRACED",
                                "RENDER_3D",
                                "SKETCH_BW",
                                "SKETCH_COLOR",
                                "NONE",
                                "LEONARDO",
                                "NONE"
                            ]
                        }
                    },
                    {
                        "name": "guidance_scale",
                        "type": "uinteger",
                        "label": "Guidance scale",
                        "validate": {
                            "max": 20,
                            "min": 1
                        }
                    },
                    {
                        "name": "weighting",
                        "type": "number",
                        "label": "Weighting"
                    },
                    {
                        "name": "init_strength",
                        "type": "number",
                        "label": "Init strength",
                        "validate": {
                            "max": 0.9,
                            "min": 0.1
                        }
                    },
                    {
                        "name": "nsfw",
                        "type": "boolean",
                        "label": "NSFW"
                    },
                    {
                        "name": "tiling",
                        "type": "boolean",
                        "label": "Tiling"
                    },
                    {
                        "name": "num_inference_steps",
                        "type": "uinteger",
                        "label": "Number of inference steps",
                        "validate": {
                            "max": 60,
                            "min": 30
                        }
                    },
                    {
                        "name": "sd_version",
                        "type": "select",
                        "label": "SD version",
                        "validate": {
                            "enum": [
                                "v1_5",
                                "v2"
                            ]
                        }
                    },
                    {
                        "name": "imagePrompts",
                        "type": "array",
                        "label": "Image prompts",
                        "spec": {
                            "type": "text",
                            "label": "Image prompt",
                            "name": "value"
                        }
                    },
                    {
                        "name": "imagePromptWeight",
                        "type": "number",
                        "label": "Image prompt weight"
                    },
                    {
                        "name": "scheduler",
                        "type": "select",
                        "label": "Scheduler",
                        "validate": {
                            "enum": [
                                "KLMS",
                                "EULER_ANCESTRAL_DISCRETE",
                                "EULER_DISCRETE",
                                "DDIM",
                                "DPM_SOLVER",
                                "PNDM",
                                "LEONARDO"
                            ]
                        }
                    },
                    {
                        "name": "seed",
                        "type": "uinteger",
                        "label": "Seed"
                    },
                    {
                        "name": "negative_prompt",
                        "type": "text",
                        "label": "Negative prompt"
                    },
                    {
                        "name": "upscaleRatio",
                        "type": "number",
                        "label": "Upscale ratio"
                    },
                    {
                        "name": "transparency",
                        "type": "select",
                        "label": "Transparency",
                        "validate": {
                            "enum": [
                                "disabled",
                                "foreground_only"
                            ]
                        }
                    }
                ],
                "advanced": true
            }
        },
        {
            "id": 3,
            "module": "instagram-business:CreatePostPhoto",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 1493671
            },
            "mapper": {
                "accountId": "17841468332360742",
                "image_url": "{{10.generated_images[].url}}",
                "caption": "{{9.instagram.text}}"
            },
            "metadata": {
                "designer": {
                    "x": 197,
                    "y": -103
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "IG / Facebook Meta Business Suite (Tad Duval)",
                            "data": {
                                "scoped": "true",
                                "connection": "facebook"
                            }
                        }
                    },
                    "expect": {
                        "accountId": {
                            "mode": "chose",
                            "label": "Command Labs (@cmdlabs)"
                        },
                        "user_tags": {
                            "mode": "chose"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:facebook",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "accountId",
                        "type": "select",
                        "label": "Page",
                        "required": true
                    },
                    {
                        "name": "image_url",
                        "type": "url",
                        "label": "Photo URL",
                        "required": true
                    },
                    {
                        "name": "caption",
                        "type": "text",
                        "label": "Caption"
                    },
                    {
                        "name": "user_tags",
                        "type": "array",
                        "label": "User Tags",
                        "spec": [
                            {
                                "name": "username",
                                "type": "text",
                                "label": "Username",
                                "required": true,
                                "validate": {
                                    "pattern": "^(?!@)"
                                }
                            },
                            {
                                "name": "x",
                                "type": "number",
                                "label": "X position",
                                "required": true,
                                "validate": {
                                    "max": 1,
                                    "min": 0
                                }
                            },
                            {
                                "name": "y",
                                "type": "number",
                                "label": "Y position",
                                "required": true,
                                "validate": {
                                    "max": 1,
                                    "min": 0
                                }
                            }
                        ]
                    },
                    {
                        "name": "location_id",
                        "type": "text",
                        "label": "Location ID"
                    }
                ]
            }
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "us2.make.com",
        "notes": []
    }
}