8a_Generate_Text_and_Leonardo_ai_Image_Post_for_LinkedIn_and_X/blueprint_1.json
{
    "name": "8a_Generate_Text_and_Leonardo_ai_Image_Post_for_LinkedIn_and_X",
    "flow": [
        {
            "id": 1,
            "module": "util:SetVariable2",
            "version": 1,
            "parameters": {},
            "mapper": {
                "name": "Prompt for text",
                "scope": "roundtrip",
                "value": "# Task\n\nMake posts about how there less than 24 hours until an in-person workshop sharing cutting-edge techniques for leveraging A.I. in social media automation takes place. At midnight tonite admission will increase from $99 to $199. The call to action should point people to sign up for the in-person workshop taking place in Edgewater, Miami, FL. The link to the workshop is here: https://lu.ma/7zpii5gi.\n\nMake sure the content is simple, nicely formatted (multiple lines & clean spacing), and easy to read for the respective platforms: LinkedIn & X.com (formerly Twitter)\n\nAlso generate a prompt for generating an image to accompany these posts. The prompt should generate a very simple abstract image of the Egdewater neighborhood in Downtown Miami. No people or text in the image. The aesthetic should be astract, simple, and relaxing.\n\nYour output should be JSON that adheres to the Pydantic schema below\n\n## Event Details\n\nName: Automate your Social Media Marketing with A.I.\nDate: 1-30-2025\nTime: 6pm-9pm EST\nLocation: Office Logic in Miami, FL\nLink: https://lu.ma/7zpii5gi\n\n## Requirements\n\n- Ensure the final output does not exceed the character limits for each platform\n\n## Pydantic Schema for Output\n\nclass LinkedIn(BaseModel):\n  text: str\n\nclass XDotCom(BaseModel):\n  text: str\n\nclass GeneratedContent(BaseModel):\n  linkedin: LinkedIn\n  x_dot_com: XDotCom\n  aped_image_prompt: str"
            },
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0,
                    "name": "Prompt for text"
                },
                "restore": {
                    "expect": {
                        "scope": {
                            "label": "One cycle"
                        }
                    }
                },
                "expect": [
                    {
                        "name": "name",
                        "type": "text",
                        "label": "Variable name",
                        "required": true
                    },
                    {
                        "name": "scope",
                        "type": "select",
                        "label": "Variable lifetime",
                        "required": true,
                        "validate": {
                            "enum": [
                                "roundtrip",
                                "execution"
                            ]
                        }
                    },
                    {
                        "name": "value",
                        "type": "any",
                        "label": "Variable value"
                    }
                ],
                "interface": [
                    {
                        "name": "Prompt for text",
                        "type": "any",
                        "label": "Prompt for text"
                    }
                ],
                "advanced": true
            }
        },
        {
            "id": 14,
            "module": "openai-gpt-3:CreateCompletion",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 977869
            },
            "mapper": {
                "model": "gpt-4o",
                "top_p": "1",
                "select": "chat",
                "messages": [
                    {
                        "role": "user",
                        "content": "{{1.`Prompt for text`}}",
                        "imageDetail": "auto"
                    }
                ],
                "max_tokens": "2048",
                "temperature": "1",
                "n_completions": "1",
                "response_format": "json_object",
                "parseJSONResponse": false
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "stop": {
                            "mode": "chose"
                        },
                        "model": {
                            "mode": "chose",
                            "label": "gpt-4o (system)"
                        },
                        "select": {
                            "label": "Create a Chat Completion (GPT and o1 models)"
                        },
                        "messages": {
                            "mode": "chose",
                            "items": [
                                {
                                    "role": {
                                        "mode": "chose",
                                        "label": "User"
                                    },
                                    "imageDetail": {
                                        "mode": "chose",
                                        "label": "Auto"
                                    },
                                    "imageInputType": {
                                        "mode": "chose",
                                        "label": "Empty"
                                    }
                                }
                            ]
                        },
                        "logit_bias": {
                            "mode": "chose"
                        },
                        "response_format": {
                            "mode": "chose",
                            "label": "JSON Object"
                        },
                        "parseJSONResponse": {
                            "mode": "chose"
                        },
                        "additionalParameters": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "openai-gpt-3"
                            },
                            "label": "My OpenAI connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:openai-gpt-3",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "select",
                        "type": "select",
                        "label": "Select Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "chat",
                                "prompt"
                            ]
                        }
                    },
                    {
                        "name": "temperature",
                        "type": "number",
                        "label": "Temperature",
                        "validate": {
                            "max": 2,
                            "min": 0
                        }
                    },
                    {
                        "name": "top_p",
                        "type": "number",
                        "label": "Top P",
                        "validate": {
                            "max": 1,
                            "min": 0
                        }
                    },
                    {
                        "name": "n_completions",
                        "type": "number",
                        "label": "Number"
                    },
                    {
                        "name": "frequency_penalty",
                        "type": "number",
                        "label": "Frequency Penalty",
                        "validate": {
                            "max": 2,
                            "min": -2
                        }
                    },
                    {
                        "name": "presence_penalty",
                        "type": "number",
                        "label": "Presence Penalty",
                        "validate": {
                            "max": 2,
                            "min": -2
                        }
                    },
                    {
                        "name": "logit_bias",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "token",
                                    "type": "text",
                                    "label": "Token ID",
                                    "required": true
                                },
                                {
                                    "name": "probability",
                                    "type": "number",
                                    "label": "Probability",
                                    "required": true,
                                    "validate": {
                                        "max": 100,
                                        "min": -100
                                    }
                                }
                            ],
                            "type": "collection",
                            "label": "Token Probability"
                        },
                        "type": "array",
                        "label": "Token Probability"
                    },
                    {
                        "name": "seed",
                        "type": "integer",
                        "label": "Seed"
                    },
                    {
                        "name": "stop",
                        "spec": {
                            "name": "value",
                            "type": "text",
                            "label": "Stop Sequence"
                        },
                        "type": "array",
                        "label": "Stop Sequences",
                        "validate": {
                            "maxItems": 4
                        }
                    },
                    {
                        "name": "additionalParameters",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "key",
                                    "type": "text",
                                    "label": "Parameter Name",
                                    "required": true
                                },
                                {
                                    "name": "type",
                                    "type": "select",
                                    "label": "Input Type",
                                    "options": [
                                        {
                                            "label": "Text",
                                            "value": "text",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "text",
                                                    "label": "Parameter Value"
                                                }
                                            ],
                                            "default": true
                                        },
                                        {
                                            "label": "Number",
                                            "value": "number",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "number",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Boolean",
                                            "value": "boolean",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "boolean",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Date",
                                            "value": "date",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "date",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Any",
                                            "value": "any",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "any",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        }
                                    ]
                                }
                            ],
                            "type": "collection",
                            "label": "Input Parameter"
                        },
                        "type": "array",
                        "label": "Other Input Parameters"
                    },
                    {
                        "name": "model",
                        "type": "select",
                        "label": "Model",
                        "required": true
                    },
                    {
                        "name": "max_tokens",
                        "type": "uinteger",
                        "label": "Max Completion Tokens"
                    },
                    {
                        "name": "messages",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "role",
                                    "type": "select",
                                    "label": "Role",
                                    "options": {
                                        "store": [
                                            {
                                                "label": "Developer / System",
                                                "value": "system",
                                                "nested": [
                                                    {
                                                        "help": "Text content of the message on behalf of the selected __Role__.",
                                                        "name": "content",
                                                        "type": "text",
                                                        "label": "Text Content"
                                                    }
                                                ]
                                            },
                                            {
                                                "label": "User",
                                                "value": "user",
                                                "nested": [
                                                    {
                                                        "help": "Text content of the message on behalf of the selected __Role__.",
                                                        "name": "content",
                                                        "type": "text",
                                                        "label": "Text Content"
                                                    },
                                                    {
                                                        "name": "imageInputType",
                                                        "type": "select",
                                                        "label": "Image Input Type",
                                                        "options": [
                                                            {
                                                                "label": "URL",
                                                                "value": "url",
                                                                "nested": [
                                                                    {
                                                                        "help": "Make sure to use a publicly accessible URL.\nYou can test if your image is publicly accessible by opening the link in an incognito tab.",
                                                                        "name": "imageUrl",
                                                                        "type": "url",
                                                                        "label": "Image URL"
                                                                    }
                                                                ]
                                                            },
                                                            {
                                                                "label": "Image File",
                                                                "value": "file",
                                                                "nested": [
                                                                    {
                                                                        "name": "imageFile",
                                                                        "spec": [
                                                                            {
                                                                                "help": "Accepted extensions: `.jpg`, `.jpeg`, `.png`, `.webp` and `.gif`.",
                                                                                "name": "imageFilename",
                                                                                "type": "filename",
                                                                                "label": "Image Filename",
                                                                                "semantic": "file:name",
                                                                                "extension": [
                                                                                    "jpg",
                                                                                    "jpeg",
                                                                                    "png",
                                                                                    "webp",
                                                                                    "gif"
                                                                                ]
                                                                            },
                                                                            {
                                                                                "name": "imageData",
                                                                                "type": "buffer",
                                                                                "label": "Image Data",
                                                                                "semantic": "file:data"
                                                                            }
                                                                        ],
                                                                        "type": "collection",
                                                                        "label": "Image"
                                                                    }
                                                                ]
                                                            }
                                                        ],
                                                        "mappable": false
                                                    },
                                                    {
                                                        "name": "imageDetail",
                                                        "type": "select",
                                                        "label": "Image Detail",
                                                        "options": [
                                                            {
                                                                "label": "Auto",
                                                                "value": "auto",
                                                                "default": true
                                                            },
                                                            {
                                                                "label": "High",
                                                                "value": "high"
                                                            },
                                                            {
                                                                "label": "Low",
                                                                "value": "low"
                                                            }
                                                        ],
                                                        "advanced": true
                                                    }
                                                ]
                                            },
                                            {
                                                "label": "Assistant",
                                                "value": "assistant",
                                                "nested": [
                                                    {
                                                        "help": "Text content of the message on behalf of the selected __Role__.",
                                                        "name": "content",
                                                        "type": "text",
                                                        "label": "Text Content"
                                                    }
                                                ]
                                            }
                                        ]
                                    },
                                    "required": true
                                }
                            ],
                            "type": "collection",
                            "label": "Message"
                        },
                        "type": "array",
                        "label": "Messages",
                        "required": true
                    },
                    {
                        "name": "response_format",
                        "type": "select",
                        "label": "Response Format",
                        "validate": {
                            "enum": [
                                "text",
                                "json_object"
                            ]
                        }
                    },
                    {
                        "name": "parseJSONResponse",
                        "type": "boolean",
                        "label": "Parse JSON Response",
                        "required": true
                    }
                ],
                "interface": [
                    {
                        "name": "result",
                        "type": "any",
                        "label": "Result"
                    },
                    {
                        "name": "id",
                        "type": "text",
                        "label": "ID"
                    },
                    {
                        "name": "object",
                        "type": "text",
                        "label": "Object"
                    },
                    {
                        "name": "created",
                        "type": "date",
                        "label": "Created"
                    },
                    {
                        "name": "model",
                        "type": "text",
                        "label": "Model"
                    },
                    {
                        "name": "choices",
                        "spec": {
                            "spec": [
                                {
                                    "name": "text",
                                    "type": "text",
                                    "label": "Text"
                                },
                                {
                                    "name": "index",
                                    "type": "number",
                                    "label": "Index"
                                },
                                {
                                    "name": "logprobs",
                                    "type": "text",
                                    "label": "Log Probs"
                                },
                                {
                                    "name": "finish_reason",
                                    "type": "text",
                                    "label": "Finish Reason"
                                },
                                {
                                    "name": "message",
                                    "spec": [
                                        {
                                            "name": "role",
                                            "type": "text",
                                            "label": "Role"
                                        },
                                        {
                                            "name": "content",
                                            "type": "text",
                                            "label": "Content"
                                        },
                                        {
                                            "name": "refusal",
                                            "type": "text",
                                            "label": "Refusal"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Message"
                                }
                            ],
                            "type": "collection"
                        },
                        "type": "array",
                        "label": "Choices"
                    },
                    {
                        "name": "usage",
                        "spec": [
                            {
                                "name": "prompt_tokens",
                                "type": "number",
                                "label": "Prompt Tokens"
                            },
                            {
                                "name": "completion_tokens",
                                "type": "text",
                                "label": "Completion Tokens"
                            },
                            {
                                "name": "total_tokens",
                                "type": "number",
                                "label": "Total Tokens"
                            },
                            {
                                "name": "prompt_tokens_details",
                                "spec": [
                                    {
                                        "name": "cached_tokens",
                                        "type": "uinteger",
                                        "label": "Cached Tokens"
                                    },
                                    {
                                        "name": "text_tokens",
                                        "type": "uinteger",
                                        "label": "Text Tokens"
                                    },
                                    {
                                        "name": "image_tokens",
                                        "type": "uinteger",
                                        "label": "Image Tokens"
                                    },
                                    {
                                        "name": "audio_tokens",
                                        "type": "uinteger",
                                        "label": "Audio Tokens"
                                    }
                                ],
                                "type": "collection",
                                "label": "Prompt Tokens Details"
                            },
                            {
                                "name": "completion_tokens_details",
                                "spec": [
                                    {
                                        "name": "reasoning_tokens",
                                        "type": "uinteger",
                                        "label": "Reasoning Tokens"
                                    },
                                    {
                                        "name": "text_tokens",
                                        "type": "uinteger",
                                        "label": "Text Tokens"
                                    },
                                    {
                                        "name": "audio_tokens",
                                        "type": "uinteger",
                                        "label": "Audio Tokens"
                                    },
                                    {
                                        "name": "accepted_prediction_tokens",
                                        "type": "uinteger",
                                        "label": "Accepted Prediction Tokens"
                                    },
                                    {
                                        "name": "rejected_prediction_tokens",
                                        "type": "uinteger",
                                        "label": "Rejected Prediction Tokens"
                                    }
                                ],
                                "type": "collection",
                                "label": "Completion Tokens Details"
                            }
                        ],
                        "type": "collection",
                        "label": "Usage"
                    },
                    {
                        "name": "system_fingerprint",
                        "type": "text",
                        "label": "System Fingerprint"
                    }
                ],
                "advanced": true
            }
        },
        {
            "id": 12,
            "module": "json:ParseJSON",
            "version": 1,
            "parameters": {
                "type": ""
            },
            "mapper": {
                "json": "{{14.result}}"
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "type": {
                            "label": "Choose a data structure"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "type",
                        "type": "udt",
                        "label": "Data structure"
                    }
                ],
                "expect": [
                    {
                        "name": "json",
                        "type": "text",
                        "label": "JSON string",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 17,
            "module": "leonardo-ai:generateImage",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 1500888
            },
            "mapper": {
                "prompt": "{{12.aped_image_prompt}}",
                "modelId": "1e60896f-3c26-4296-8ecc-53e2afecc132",
                "num_images": "1"
            },
            "metadata": {
                "designer": {
                    "x": 883,
                    "y": 19
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "My Leonardo.AI connection (kalygo)",
                            "data": {
                                "scoped": "true",
                                "connection": "leonardo-ai"
                            }
                        }
                    },
                    "expect": {
                        "modelId": {
                            "mode": "chose",
                            "label": "Leonardo Diffusion XL"
                        },
                        "source": {
                            "mode": "chose",
                            "label": "Empty"
                        },
                        "public": {
                            "mode": "chose"
                        },
                        "unzoom": {
                            "mode": "chose"
                        },
                        "alchemy": {
                            "mode": "chose"
                        },
                        "promptMagic": {
                            "mode": "chose"
                        },
                        "controlNet": {
                            "mode": "chose"
                        },
                        "presetStyle": {
                            "mode": "chose",
                            "label": "Empty"
                        },
                        "nsfw": {
                            "mode": "chose"
                        },
                        "tiling": {
                            "mode": "chose"
                        },
                        "sd_version": {
                            "mode": "chose",
                            "label": "Empty"
                        },
                        "imagePrompts": {
                            "mode": "chose"
                        },
                        "scheduler": {
                            "mode": "chose",
                            "label": "Empty"
                        },
                        "transparency": {
                            "mode": "chose",
                            "label": "Empty"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:leonardo-ai",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "prompt",
                        "type": "text",
                        "label": "Prompt",
                        "required": true
                    },
                    {
                        "name": "modelId",
                        "type": "select",
                        "label": "Model"
                    },
                    {
                        "name": "num_images",
                        "type": "uinteger",
                        "label": "Number of images to generate",
                        "validate": {
                            "max": 8,
                            "min": 1
                        }
                    },
                    {
                        "name": "source",
                        "type": "select",
                        "label": "Source",
                        "validate": {
                            "enum": [
                                "im",
                                "gen"
                            ]
                        }
                    },
                    {
                        "name": "public",
                        "type": "boolean",
                        "label": "Public"
                    },
                    {
                        "name": "height",
                        "type": "uinteger",
                        "label": "Height"
                    },
                    {
                        "name": "width",
                        "type": "uinteger",
                        "label": "Width"
                    },
                    {
                        "name": "unzoom",
                        "type": "boolean",
                        "label": "Unzoom"
                    },
                    {
                        "name": "alchemy",
                        "type": "boolean",
                        "label": "Alchemy"
                    },
                    {
                        "name": "promptMagic",
                        "type": "boolean",
                        "label": "Prompt Magic"
                    },
                    {
                        "name": "controlNet",
                        "type": "boolean",
                        "label": "ControlNet"
                    },
                    {
                        "name": "presetStyle",
                        "type": "select",
                        "label": "Preset style",
                        "validate": {
                            "enum": [
                                "CINEMATIC",
                                "CREATIVE",
                                "VIBRANT",
                                "NONE",
                                "ANIME",
                                "CREATIVE",
                                "DYNAMIC",
                                "ENVIRONMENT",
                                "GENERAL",
                                "ILLUSTRATION",
                                "PHOTOGRAPHY",
                                "RAYTRACED",
                                "RENDER_3D",
                                "SKETCH_BW",
                                "SKETCH_COLOR",
                                "NONE",
                                "LEONARDO",
                                "NONE"
                            ]
                        }
                    },
                    {
                        "name": "guidance_scale",
                        "type": "uinteger",
                        "label": "Guidance scale",
                        "validate": {
                            "max": 20,
                            "min": 1
                        }
                    },
                    {
                        "name": "weighting",
                        "type": "number",
                        "label": "Weighting"
                    },
                    {
                        "name": "init_strength",
                        "type": "number",
                        "label": "Init strength",
                        "validate": {
                            "max": 0.9,
                            "min": 0.1
                        }
                    },
                    {
                        "name": "nsfw",
                        "type": "boolean",
                        "label": "NSFW"
                    },
                    {
                        "name": "tiling",
                        "type": "boolean",
                        "label": "Tiling"
                    },
                    {
                        "name": "num_inference_steps",
                        "type": "uinteger",
                        "label": "Number of inference steps",
                        "validate": {
                            "max": 60,
                            "min": 30
                        }
                    },
                    {
                        "name": "sd_version",
                        "type": "select",
                        "label": "SD version",
                        "validate": {
                            "enum": [
                                "v1_5",
                                "v2"
                            ]
                        }
                    },
                    {
                        "name": "imagePrompts",
                        "type": "array",
                        "label": "Image prompts",
                        "spec": {
                            "type": "text",
                            "label": "Image prompt",
                            "name": "value"
                        }
                    },
                    {
                        "name": "imagePromptWeight",
                        "type": "number",
                        "label": "Image prompt weight"
                    },
                    {
                        "name": "scheduler",
                        "type": "select",
                        "label": "Scheduler",
                        "validate": {
                            "enum": [
                                "KLMS",
                                "EULER_ANCESTRAL_DISCRETE",
                                "EULER_DISCRETE",
                                "DDIM",
                                "DPM_SOLVER",
                                "PNDM",
                                "LEONARDO"
                            ]
                        }
                    },
                    {
                        "name": "seed",
                        "type": "uinteger",
                        "label": "Seed"
                    },
                    {
                        "name": "negative_prompt",
                        "type": "text",
                        "label": "Negative prompt"
                    },
                    {
                        "name": "upscaleRatio",
                        "type": "number",
                        "label": "Upscale ratio"
                    },
                    {
                        "name": "transparency",
                        "type": "select",
                        "label": "Transparency",
                        "validate": {
                            "enum": [
                                "disabled",
                                "foreground_only"
                            ]
                        }
                    }
                ]
            }
        },
        {
            "id": 13,
            "module": "json:CreateJSON",
            "version": 1,
            "parameters": {
                "type": 26316,
                "space": ""
            },
            "mapper": {
                "formId": "hrjKASB5fwpM0iTcw3ll",
                "fields": {
                    "images": [
                        {
                            "url": "{{17.generated_images[].url}}",
                            "label": "Generated Image"
                        }
                    ],
                    "linkedin_text": "{{12.linkedin.text}}",
                    "x_dot_com_text": "{{12.x_dot_com.text}}"
                },
                "meta": {
                    "metaIsOptional": ""
                }
            },
            "metadata": {
                "designer": {
                    "x": 1202,
                    "y": 8
                },
                "restore": {
                    "parameters": {
                        "type": {
                            "label": "My data structure"
                        },
                        "space": {
                            "label": "Empty"
                        }
                    },
                    "expect": {
                        "fields": {
                            "nested": {
                                "images": {
                                    "mode": "chose",
                                    "items": [
                                        null
                                    ]
                                }
                            }
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "type",
                        "type": "udt",
                        "label": "Data structure",
                        "required": true
                    },
                    {
                        "name": "space",
                        "type": "select",
                        "label": "Indentation",
                        "validate": {
                            "enum": [
                                "tab",
                                "2",
                                "4"
                            ]
                        }
                    }
                ],
                "expect": [
                    {
                        "name": "formId",
                        "type": "text",
                        "label": "Form ID"
                    },
                    {
                        "name": "fields",
                        "type": "collection",
                        "label": "Fields",
                        "spec": [
                            {
                                "name": "images",
                                "type": "array",
                                "label": null,
                                "spec": {
                                    "type": "collection",
                                    "spec": [
                                        {
                                            "name": "url",
                                            "label": null,
                                            "type": "text"
                                        },
                                        {
                                            "name": "label",
                                            "label": null,
                                            "type": "text"
                                        }
                                    ],
                                    "name": "value"
                                }
                            },
                            {
                                "name": "linkedin_text",
                                "type": "text",
                                "label": null
                            },
                            {
                                "name": "x_dot_com_text",
                                "type": "text",
                                "label": null
                            }
                        ]
                    },
                    {
                        "name": "meta",
                        "type": "collection",
                        "label": "Meta",
                        "spec": [
                            {
                                "name": "metaIsOptional",
                                "type": "text",
                                "label": null
                            }
                        ]
                    }
                ],
                "advanced": true
            }
        },
        {
            "id": 11,
            "module": "json:ParseJSON",
            "version": 1,
            "parameters": {
                "type": 26316
            },
            "mapper": {
                "json": "{{13.json}}"
            },
            "metadata": {
                "designer": {
                    "x": 1500,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "type": {
                            "label": "My data structure"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "type",
                        "type": "udt",
                        "label": "Data structure"
                    }
                ],
                "expect": [
                    {
                        "name": "json",
                        "type": "text",
                        "label": "JSON string",
                        "required": true
                    }
                ],
                "interface": [
                    {
                        "name": "formId",
                        "type": "text",
                        "label": "Form ID",
                        "default": null,
                        "required": false,
                        "multiline": false
                    },
                    {
                        "name": "fields",
                        "spec": [
                            {
                                "name": "images",
                                "spec": {
                                    "spec": [
                                        {
                                            "name": "url",
                                            "type": "text",
                                            "label": null,
                                            "default": null,
                                            "required": false,
                                            "multiline": false
                                        },
                                        {
                                            "name": "label",
                                            "type": "text",
                                            "label": null,
                                            "default": null,
                                            "required": false,
                                            "multiline": false
                                        }
                                    ],
                                    "type": "collection",
                                    "required": false
                                },
                                "type": "array",
                                "label": null,
                                "required": false
                            },
                            {
                                "name": "linkedin_text",
                                "type": "text",
                                "label": null,
                                "default": null,
                                "required": false,
                                "multiline": false
                            },
                            {
                                "name": "x_dot_com_text",
                                "type": "text",
                                "label": null,
                                "default": null,
                                "required": false,
                                "multiline": false
                            }
                        ],
                        "type": "collection",
                        "label": "Fields",
                        "required": false
                    },
                    {
                        "name": "meta",
                        "spec": [
                            {
                                "name": "metaIsOptional",
                                "type": "text",
                                "label": null,
                                "default": null,
                                "required": false,
                                "multiline": false
                            }
                        ],
                        "type": "collection",
                        "label": "Meta",
                        "required": false
                    }
                ]
            }
        },
        {
            "id": 9,
            "module": "gotohuman:requestReview",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 985891
            },
            "mapper": {
                "formId": "8lnM9nkrXK050DIb0afM",
                "fields": {
                    "images": [
                        {
                            "url": "{{17.generated_images[].url}}",
                            "label": "Generated Image"
                        }
                    ],
                    "x_dot_com_text": "{{11.fields.x_dot_com_text}}",
                    "linkedin_text": "{{11.fields.linkedin_text}}"
                },
                "assignToSelect": "all"
            },
            "metadata": {
                "designer": {
                    "x": 1800,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "My gotoHuman connection (uJkEvocZQvwuUMfLiNMv)",
                            "data": {
                                "scoped": "true",
                                "connection": "gotohuman"
                            }
                        }
                    },
                    "expect": {
                        "formId": {
                            "nested": [
                                {
                                    "name": "fields",
                                    "label": "Fields",
                                    "type": "collection",
                                    "spec": [
                                        {
                                            "type": "array",
                                            "spec": {
                                                "type": "collection",
                                                "spec": [
                                                    {
                                                        "name": "url",
                                                        "type": "url",
                                                        "label": "Link to Image",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "label",
                                                        "type": "text",
                                                        "label": "Label"
                                                    }
                                                ]
                                            },
                                            "name": "images",
                                            "label": "images (imageGrid)"
                                        },
                                        {
                                            "type": "text",
                                            "name": "x_dot_com_text",
                                            "label": "x_dot_com_text (text)"
                                        },
                                        {
                                            "type": "text",
                                            "name": "linkedin_text",
                                            "label": "linkedin_text (text)"
                                        }
                                    ]
                                },
                                {
                                    "name": "meta",
                                    "label": "Meta Data",
                                    "help": "Any additional meta data that you want to receive back in the webhook response.Read how to use [our Make integration here](https://docs.gotohuman.com/Integrations/make-com).",
                                    "type": "array",
                                    "spec": {
                                        "type": "collection",
                                        "spec": [
                                            {
                                                "name": "key",
                                                "type": "text",
                                                "label": "Key"
                                            },
                                            {
                                                "name": "value",
                                                "type": "any",
                                                "label": "Value"
                                            }
                                        ],
                                        "name": "value"
                                    }
                                },
                                {
                                    "name": "assignToSelect",
                                    "label": "Assigned Users",
                                    "help": "Select who you want to assign the review to.",
                                    "type": "select",
                                    "required": true,
                                    "options": {
                                        "store": [
                                            {
                                                "value": "all",
                                                "label": "All users in your account"
                                            },
                                            {
                                                "value": "selectByEmail",
                                                "label": "Only selected users",
                                                "nested": [
                                                    {
                                                        "name": "assignTo",
                                                        "label": "Selected Users",
                                                        "help": "List the email addresses of the users you want to assign the review to.",
                                                        "type": "array",
                                                        "spec": {
                                                            "type": "email",
                                                            "label": "Email Address",
                                                            "help": "The email address the user used when signing up for gotoHuman.",
                                                            "required": true
                                                        },
                                                        "required": true
                                                    }
                                                ]
                                            }
                                        ],
                                        "placeholder": {
                                            "label": "Select who to assign"
                                        }
                                    }
                                }
                            ],
                            "label": "Text & Image Post with Leonardo.ai (8lnM9nkrXK050DIb0afM)"
                        },
                        "fields": {
                            "nested": {
                                "images": {
                                    "mode": "chose",
                                    "items": [
                                        null
                                    ]
                                }
                            }
                        },
                        "meta": {
                            "mode": "chose"
                        },
                        "assignToSelect": {
                            "mode": "chose",
                            "label": "All users in your account"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:gotohuman",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "formId",
                        "type": "select",
                        "label": "Form",
                        "required": true
                    },
                    {
                        "name": "fields",
                        "type": "collection",
                        "label": "Fields",
                        "spec": [
                            {
                                "name": "images",
                                "type": "array",
                                "label": "images (imageGrid)",
                                "spec": {
                                    "type": "collection",
                                    "spec": [
                                        {
                                            "name": "url",
                                            "type": "url",
                                            "label": "Link to Image",
                                            "required": true
                                        },
                                        {
                                            "name": "label",
                                            "type": "text",
                                            "label": "Label"
                                        }
                                    ],
                                    "name": "value"
                                }
                            },
                            {
                                "name": "x_dot_com_text",
                                "type": "text",
                                "label": "x_dot_com_text (text)"
                            },
                            {
                                "name": "linkedin_text",
                                "type": "text",
                                "label": "linkedin_text (text)"
                            }
                        ]
                    },
                    {
                        "name": "meta",
                        "type": "array",
                        "label": "Meta Data",
                        "spec": {
                            "type": "collection",
                            "spec": [
                                {
                                    "name": "key",
                                    "type": "text",
                                    "label": "Key"
                                },
                                {
                                    "name": "value",
                                    "type": "any",
                                    "label": "Value"
                                }
                            ],
                            "name": "value"
                        }
                    },
                    {
                        "name": "assignToSelect",
                        "type": "select",
                        "label": "Assigned Users",
                        "required": true,
                        "validate": {
                            "enum": [
                                "all",
                                "selectByEmail"
                            ]
                        }
                    }
                ]
            }
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "us2.make.com",
        "notes": []
    }
}