25_stepping_stones/Level_4b.json
{
    "name": "Level 4b - Prompt to OpenAI to ElevenLabs to JSON2Video to HeyGen [Dropbox]",
    "flow": [
        {
            "id": 1,
            "module": "util:SetVariable2",
            "version": 1,
            "parameters": {},
            "mapper": {
                "name": "Prompt",
                "scope": "roundtrip",
                "value": "You are a short-form video scriptwriter specializing in health content. Your task is to create engaging short video voiceover. The voiceover should be 1 phrase consisting of about 10-15 words. The generated voiceover will be fed into a text-2-speech generator.\n\nJSON output schema\n\n{\n    \"voiceover\": string\n}\n​"
            },
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "scope": {
                            "label": "One cycle"
                        }
                    }
                },
                "expect": [
                    {
                        "name": "name",
                        "type": "text",
                        "label": "Variable name",
                        "required": true
                    },
                    {
                        "name": "scope",
                        "type": "select",
                        "label": "Variable lifetime",
                        "required": true,
                        "validate": {
                            "enum": [
                                "roundtrip",
                                "execution"
                            ]
                        }
                    },
                    {
                        "name": "value",
                        "type": "any",
                        "label": "Variable value"
                    }
                ],
                "interface": [
                    {
                        "name": "Prompt",
                        "type": "any",
                        "label": "Prompt"
                    }
                ]
            }
        },
        {
            "id": 2,
            "module": "openai-gpt-3:CreateCompletion",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 977869
            },
            "mapper": {
                "model": "gpt-4o",
                "top_p": "1",
                "select": "chat",
                "messages": [
                    {
                        "role": "user",
                        "content": "{{1.Prompt}}",
                        "imageDetail": "auto"
                    }
                ],
                "max_tokens": "2048",
                "temperature": "1",
                "n_completions": "1",
                "response_format": "json_object",
                "parseJSONResponse": true
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "stop": {
                            "mode": "chose"
                        },
                        "model": {
                            "mode": "chose",
                            "label": "gpt-4o (system)"
                        },
                        "select": {
                            "label": "Create a Chat Completion (GPT and o1 models)"
                        },
                        "messages": {
                            "mode": "chose",
                            "items": [
                                {
                                    "role": {
                                        "mode": "chose",
                                        "label": "User"
                                    },
                                    "imageDetail": {
                                        "mode": "chose",
                                        "label": "Auto"
                                    },
                                    "imageInputType": {
                                        "mode": "chose",
                                        "label": "Empty"
                                    }
                                }
                            ]
                        },
                        "logit_bias": {
                            "mode": "chose"
                        },
                        "response_format": {
                            "mode": "chose",
                            "label": "JSON Object"
                        },
                        "parseJSONResponse": {
                            "mode": "chose"
                        },
                        "additionalParameters": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "openai-gpt-3"
                            },
                            "label": "My OpenAI connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:openai-gpt-3",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "select",
                        "type": "select",
                        "label": "Select Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "chat",
                                "prompt"
                            ]
                        }
                    },
                    {
                        "name": "temperature",
                        "type": "number",
                        "label": "Temperature",
                        "validate": {
                            "max": 2,
                            "min": 0
                        }
                    },
                    {
                        "name": "top_p",
                        "type": "number",
                        "label": "Top P",
                        "validate": {
                            "max": 1,
                            "min": 0
                        }
                    },
                    {
                        "name": "n_completions",
                        "type": "number",
                        "label": "Number"
                    },
                    {
                        "name": "frequency_penalty",
                        "type": "number",
                        "label": "Frequency Penalty",
                        "validate": {
                            "max": 2,
                            "min": -2
                        }
                    },
                    {
                        "name": "presence_penalty",
                        "type": "number",
                        "label": "Presence Penalty",
                        "validate": {
                            "max": 2,
                            "min": -2
                        }
                    },
                    {
                        "name": "logit_bias",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "token",
                                    "type": "text",
                                    "label": "Token ID",
                                    "required": true
                                },
                                {
                                    "name": "probability",
                                    "type": "number",
                                    "label": "Probability",
                                    "required": true,
                                    "validate": {
                                        "max": 100,
                                        "min": -100
                                    }
                                }
                            ],
                            "type": "collection",
                            "label": "Token Probability"
                        },
                        "type": "array",
                        "label": "Token Probability"
                    },
                    {
                        "name": "seed",
                        "type": "integer",
                        "label": "Seed"
                    },
                    {
                        "name": "stop",
                        "spec": {
                            "name": "value",
                            "type": "text",
                            "label": "Stop Sequence"
                        },
                        "type": "array",
                        "label": "Stop Sequences",
                        "validate": {
                            "maxItems": 4
                        }
                    },
                    {
                        "name": "additionalParameters",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "key",
                                    "type": "text",
                                    "label": "Parameter Name",
                                    "required": true
                                },
                                {
                                    "name": "type",
                                    "type": "select",
                                    "label": "Input Type",
                                    "options": [
                                        {
                                            "label": "Text",
                                            "value": "text",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "text",
                                                    "label": "Parameter Value"
                                                }
                                            ],
                                            "default": true
                                        },
                                        {
                                            "label": "Number",
                                            "value": "number",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "number",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Boolean",
                                            "value": "boolean",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "boolean",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Date",
                                            "value": "date",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "date",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Any",
                                            "value": "any",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "any",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        }
                                    ]
                                }
                            ],
                            "type": "collection",
                            "label": "Input Parameter"
                        },
                        "type": "array",
                        "label": "Other Input Parameters"
                    },
                    {
                        "name": "model",
                        "type": "select",
                        "label": "Model",
                        "required": true
                    },
                    {
                        "name": "max_tokens",
                        "type": "uinteger",
                        "label": "Max Completion Tokens"
                    },
                    {
                        "name": "messages",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "role",
                                    "type": "select",
                                    "label": "Role",
                                    "options": {
                                        "store": [
                                            {
                                                "label": "User",
                                                "value": "user",
                                                "nested": [
                                                    {
                                                        "help": "Text content of the message on behalf of the selected __Role__.",
                                                        "name": "content",
                                                        "type": "text",
                                                        "label": "Text Content"
                                                    },
                                                    {
                                                        "name": "imageInputType",
                                                        "type": "select",
                                                        "label": "Image Input Type",
                                                        "options": [
                                                            {
                                                                "label": "URL",
                                                                "value": "url",
                                                                "nested": [
                                                                    {
                                                                        "help": "Make sure to use a publicly accessible URL.\nYou can test if your image is publicly accessible by opening the link in an incognito tab.",
                                                                        "name": "imageUrl",
                                                                        "type": "url",
                                                                        "label": "Image URL"
                                                                    }
                                                                ]
                                                            },
                                                            {
                                                                "label": "Image File",
                                                                "value": "file",
                                                                "nested": [
                                                                    {
                                                                        "name": "imageFile",
                                                                        "spec": [
                                                                            {
                                                                                "help": "Accepted extensions: `.jpg`, `.jpeg`, `.png`, `.webp` and `.gif`.",
                                                                                "name": "imageFilename",
                                                                                "type": "filename",
                                                                                "label": "Image Filename",
                                                                                "semantic": "file:name",
                                                                                "extension": [
                                                                                    "jpg",
                                                                                    "jpeg",
                                                                                    "png",
                                                                                    "webp",
                                                                                    "gif"
                                                                                ]
                                                                            },
                                                                            {
                                                                                "name": "imageData",
                                                                                "type": "buffer",
                                                                                "label": "Image Data",
                                                                                "semantic": "file:data"
                                                                            }
                                                                        ],
                                                                        "type": "collection",
                                                                        "label": "Image"
                                                                    }
                                                                ]
                                                            }
                                                        ],
                                                        "mappable": false
                                                    },
                                                    {
                                                        "help": "Recommended value: `Auto`",
                                                        "name": "imageDetail",
                                                        "type": "select",
                                                        "label": "Image Detail",
                                                        "options": [
                                                            {
                                                                "label": "Auto",
                                                                "value": "auto",
                                                                "default": true
                                                            },
                                                            {
                                                                "label": "High",
                                                                "value": "high"
                                                            },
                                                            {
                                                                "label": "Low",
                                                                "value": "low"
                                                            }
                                                        ]
                                                    }
                                                ]
                                            },
                                            {
                                                "label": "Assistant",
                                                "value": "assistant",
                                                "nested": [
                                                    {
                                                        "help": "Text content of the message on behalf of the selected __Role__.",
                                                        "name": "content",
                                                        "type": "text",
                                                        "label": "Text Content"
                                                    }
                                                ]
                                            },
                                            {
                                                "label": "Developer / System",
                                                "value": "system",
                                                "nested": [
                                                    {
                                                        "help": "Text content of the message on behalf of the selected __Role__.",
                                                        "name": "content",
                                                        "type": "text",
                                                        "label": "Text Content"
                                                    }
                                                ]
                                            }
                                        ]
                                    },
                                    "required": true
                                }
                            ],
                            "type": "collection",
                            "label": "Message"
                        },
                        "type": "array",
                        "label": "Messages",
                        "required": true
                    },
                    {
                        "name": "response_format",
                        "type": "select",
                        "label": "Response Format",
                        "validate": {
                            "enum": [
                                "text",
                                "json_object"
                            ]
                        }
                    },
                    {
                        "name": "prediction",
                        "type": "text",
                        "label": "Predicted Outputs"
                    },
                    {
                        "name": "parseJSONResponse",
                        "type": "boolean",
                        "label": "Parse JSON Response",
                        "required": true
                    }
                ],
                "interface": [
                    {
                        "name": "result",
                        "type": "any",
                        "label": "Result"
                    },
                    {
                        "name": "id",
                        "type": "text",
                        "label": "ID"
                    },
                    {
                        "name": "object",
                        "type": "text",
                        "label": "Object"
                    },
                    {
                        "name": "created",
                        "type": "date",
                        "label": "Created"
                    },
                    {
                        "name": "model",
                        "type": "text",
                        "label": "Model"
                    },
                    {
                        "name": "choices",
                        "spec": {
                            "spec": [
                                {
                                    "name": "text",
                                    "type": "text",
                                    "label": "Text"
                                },
                                {
                                    "name": "index",
                                    "type": "number",
                                    "label": "Index"
                                },
                                {
                                    "name": "logprobs",
                                    "type": "text",
                                    "label": "Log Probs"
                                },
                                {
                                    "name": "finish_reason",
                                    "type": "text",
                                    "label": "Finish Reason"
                                },
                                {
                                    "name": "message",
                                    "spec": [
                                        {
                                            "name": "role",
                                            "type": "text",
                                            "label": "Role"
                                        },
                                        {
                                            "name": "content",
                                            "type": "text",
                                            "label": "Content"
                                        },
                                        {
                                            "name": "refusal",
                                            "type": "text",
                                            "label": "Refusal"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Message"
                                }
                            ],
                            "type": "collection"
                        },
                        "type": "array",
                        "label": "Choices"
                    },
                    {
                        "name": "usage",
                        "spec": [
                            {
                                "name": "prompt_tokens",
                                "type": "number",
                                "label": "Prompt Tokens"
                            },
                            {
                                "name": "completion_tokens",
                                "type": "text",
                                "label": "Completion Tokens"
                            },
                            {
                                "name": "total_tokens",
                                "type": "number",
                                "label": "Total Tokens"
                            },
                            {
                                "name": "prompt_tokens_details",
                                "spec": [
                                    {
                                        "name": "cached_tokens",
                                        "type": "uinteger",
                                        "label": "Cached Tokens"
                                    },
                                    {
                                        "name": "text_tokens",
                                        "type": "uinteger",
                                        "label": "Text Tokens"
                                    },
                                    {
                                        "name": "image_tokens",
                                        "type": "uinteger",
                                        "label": "Image Tokens"
                                    },
                                    {
                                        "name": "audio_tokens",
                                        "type": "uinteger",
                                        "label": "Audio Tokens"
                                    }
                                ],
                                "type": "collection",
                                "label": "Prompt Tokens Details"
                            },
                            {
                                "name": "completion_tokens_details",
                                "spec": [
                                    {
                                        "name": "reasoning_tokens",
                                        "type": "uinteger",
                                        "label": "Reasoning Tokens"
                                    },
                                    {
                                        "name": "text_tokens",
                                        "type": "uinteger",
                                        "label": "Text Tokens"
                                    },
                                    {
                                        "name": "audio_tokens",
                                        "type": "uinteger",
                                        "label": "Audio Tokens"
                                    },
                                    {
                                        "name": "accepted_prediction_tokens",
                                        "type": "uinteger",
                                        "label": "Accepted Prediction Tokens"
                                    },
                                    {
                                        "name": "rejected_prediction_tokens",
                                        "type": "uinteger",
                                        "label": "Rejected Prediction Tokens"
                                    }
                                ],
                                "type": "collection",
                                "label": "Completion Tokens Details"
                            }
                        ],
                        "type": "collection",
                        "label": "Usage"
                    },
                    {
                        "name": "service_tier",
                        "type": "text",
                        "label": "Service Tier"
                    },
                    {
                        "name": "system_fingerprint",
                        "type": "text",
                        "label": "System Fingerprint"
                    }
                ],
                "advanced": true
            }
        },
        {
            "id": 3,
            "module": "elevenlabs:createTextToSpeech",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 2312778
            },
            "mapper": {
                "text": "{{2.result.voiceover}}",
                "model_id": "eleven_monolingual_v1",
                "voice_id": "SAz9YHcvj6GT2YYXdXww",
                "voice_settings": {
                    "stability": "0.41",
                    "similarity_boost": "0.75"
                },
                "optimize_streaming_latency": "0"
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "model_id": {
                            "mode": "chose",
                            "label": "Eleven English v1 (eleven_monolingual_v1)"
                        },
                        "voice_id": {
                            "mode": "chose",
                            "label": "premade/River"
                        },
                        "optimize_streaming_latency": {
                            "mode": "chose",
                            "label": "Default Mode"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "elevenlabs"
                            },
                            "label": "My ElevenLabs connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:elevenlabs",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "voice_id",
                        "type": "select",
                        "label": "Voice",
                        "required": true
                    },
                    {
                        "name": "model_id",
                        "type": "select",
                        "label": "Model",
                        "required": true
                    },
                    {
                        "name": "text",
                        "type": "text",
                        "label": "Text",
                        "required": true
                    },
                    {
                        "name": "voice_settings",
                        "spec": [
                            {
                                "name": "stability",
                                "type": "number",
                                "label": "Stability",
                                "validate": {
                                    "max": 1,
                                    "min": 0
                                }
                            },
                            {
                                "name": "similarity_boost",
                                "type": "number",
                                "label": "Similarity Boost",
                                "validate": {
                                    "max": 1,
                                    "min": 0
                                }
                            }
                        ],
                        "type": "collection",
                        "label": "Voice Settings"
                    },
                    {
                        "name": "optimize_streaming_latency",
                        "type": "select",
                        "label": "Optimize Streaming Latency",
                        "validate": {
                            "enum": [
                                "0",
                                "1",
                                "2",
                                "3",
                                "4"
                            ]
                        }
                    }
                ]
            }
        },
        {
            "id": 11,
            "module": "dropbox:uploadLargeFile",
            "version": 5,
            "parameters": {
                "__IMTCONN__": 2414932
            },
            "mapper": {
                "data": "{{3.data}}",
                "path": "/scratch",
                "filename": "{{3.fileName}}",
                "overwrite": false
            },
            "metadata": {
                "designer": {
                    "x": 900,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "path": {
                            "mode": "chose"
                        },
                        "overwrite": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "dropbox"
                            },
                            "label": "My Dropbox connection (tad@cmdlabs.io)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:dropbox",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "path",
                        "type": "folder",
                        "label": "Folder",
                        "required": true
                    },
                    {
                        "name": "filename",
                        "type": "filename",
                        "label": "File Name",
                        "required": true
                    },
                    {
                        "name": "data",
                        "type": "buffer",
                        "label": "Data",
                        "required": true
                    },
                    {
                        "name": "overwrite",
                        "type": "boolean",
                        "label": "Overwrite an existing file",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 12,
            "module": "dropbox:createShareLink",
            "version": 5,
            "parameters": {
                "__IMTCONN__": 2414932
            },
            "mapper": {
                "path": "{{11.id}}",
                "select": "file",
                "select_1": "file",
                "settings": {
                    "access": "viewer",
                    "allow_download": true
                }
            },
            "metadata": {
                "designer": {
                    "x": 1200,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "path": {
                            "mode": "edit"
                        },
                        "select": {
                            "label": "Select a file/folder"
                        },
                        "select_1": {
                            "label": "File"
                        },
                        "settings": {
                            "nested": {
                                "access": {
                                    "mode": "chose",
                                    "label": "Viewer"
                                },
                                "allow_download": {
                                    "mode": "chose"
                                },
                                "require_password": {
                                    "mode": "chose"
                                },
                                "requested_visibility": {
                                    "mode": "chose",
                                    "label": "Empty"
                                }
                            }
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "dropbox"
                            },
                            "label": "My Dropbox connection (tad@cmdlabs.io)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:dropbox",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "select",
                        "type": "select",
                        "label": "Way of selecting files",
                        "required": true,
                        "validate": {
                            "enum": [
                                "map",
                                "file"
                            ]
                        }
                    },
                    {
                        "name": "settings",
                        "spec": [
                            {
                                "name": "access",
                                "type": "select",
                                "label": "Link's Access Level",
                                "validate": {
                                    "enum": [
                                        "viewer",
                                        "editor",
                                        "max"
                                    ]
                                }
                            },
                            {
                                "name": "expires",
                                "time": true,
                                "type": "date",
                                "label": "Link's Expiration Date"
                            },
                            {
                                "name": "require_password",
                                "type": "boolean",
                                "label": "Require Password"
                            },
                            {
                                "name": "link_password",
                                "type": "text",
                                "label": "Link's Password"
                            },
                            {
                                "name": "allow_download",
                                "type": "boolean",
                                "label": "Allow Download"
                            },
                            {
                                "name": "requested_visibility",
                                "type": "select",
                                "label": "Requested Visibility (Deprecated)",
                                "validate": {
                                    "enum": [
                                        "public",
                                        "team_only",
                                        "password"
                                    ]
                                }
                            }
                        ],
                        "type": "collection",
                        "label": "Settings"
                    },
                    {
                        "name": "select_1",
                        "type": "select",
                        "label": "Select",
                        "required": true,
                        "validate": {
                            "enum": [
                                "file",
                                "folder"
                            ]
                        }
                    },
                    {
                        "name": "path",
                        "type": "file",
                        "label": "File",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 7,
            "module": "json2video:createmovie",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 2242114
            },
            "mapper": {
                "movie_json": "{\n    \"id\": \"q1nd8ls5\",\n    \"comment\": \"My first movie\",\n    \"resolution\": \"instagram-story\",\n    \"quality\": \"high\",\n    \"scenes\": [\n        {\n            \"id\": \"q74y726p\",\n            \"comment\": \"Scene 1\",\n            \"elements\": [\n                {\n                    \"id\": \"qnwr7cxu\",\n                    \"type\": \"image\",\n                    \"src\": \"https://fastly.picsum.photos/id/22/4434/3729.jpg?hmac=fjZdkSMZJNFgsoDh8Qo5zdA_nSGUAWvKLyyqmEt2xs0\",\n                    \"height\": null,\n                    \"x\": 0,\n                    \"y\": 0,\n                    \"position\": \"center-center\",\n                    \"rotate\": {},\n                    \"width\": 1080\n                },\n                {\n                    \"id\": \"qpfm3m0m\",\n                    \"type\": \"audio\",\n                    \"src\": \"{{12.downloadUrl}}\"\n                },\n                {\n                    \"id\": \"qsv8svdr\",\n                    \"type\": \"subtitles\",\n                    \"settings\": {\n                        \"font-family\": \"Luckiest Guy\",\n                        \"font-size\": 120,\n                        \"word-color\": \"#FFFFFF\",\n                        \"position\": \"center-center\",\n                        \"style\": \"classic\",\n                        \"outline-color\": \"#000000\",\n                        \"outline-width\": 2,\n                        \"shadow-color\": \"#000000\",\n                        \"shadow-offset\": 4,\n                        \"max-words-per-line\": 4\n                    }\n                }\n            ],\n            \"background-color\": \"#ffffff\"\n        }\n    ],\n    \"elements\": [],\n    \"width\": 1080,\n    \"height\": 1920\n}"
            },
            "metadata": {
                "designer": {
                    "x": 1500,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "json2video"
                            },
                            "label": "My JSON2Video connection (tad@cmdlabs.io - admin)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:json2video",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "movie_json",
                        "type": "text",
                        "label": "Movie JSON",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 8,
            "module": "json2video:waitForAMovieToRender",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 2242114
            },
            "mapper": {
                "project": "{{7.project}}"
            },
            "metadata": {
                "designer": {
                    "x": 1800,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "json2video"
                            },
                            "label": "My JSON2Video connection (tad@cmdlabs.io - admin)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:json2video",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "project",
                        "type": "text",
                        "label": "Project ID",
                        "required": true
                    }
                ]
            }
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "us2.make.com",
        "notes": []
    }
}