25_stepping_stones/Level_5b.json
{
    "name": "Level 5b - HeyGen Hack",
    "flow": [
        {
            "id": 17,
            "module": "util:SetVariable2",
            "version": 1,
            "parameters": {},
            "mapper": {
                "name": "System Prompt",
                "scope": "roundtrip",
                "value": "You are a YouTube Shorts Scriptwriter specializing in travel content. Your task is to transform topics into engaging short video scripts delivered in English. For each request:\n\n1. Break the topic into sequential scenes (2-3 total)\n2. Each scene must have:\n    - Voiceover: should be 20-25 words in English\n    - Image prompt: Vivid description for A.I. image generation. Make it detailed and over 60 words. An array with 9 prompts. Must be PG-13. Realistic\n3. Structure output as JSON with:\n    - Title (attention-grabbing)\n    - Description (200 characters)\n    - Scenes array with voiceover/image prompts.\n        - backgroundMusicPrompt\n        - instagramCaption\n4. Ensure technical accuracy while maintaining narrative tone\n5. Prioritize visual storytelling potential\n6. Make the video as a tips video or information/knowledge video\n7. The tone should be narrational and informative\n8. Try starting with a hook to engage the users. (eg: Did you know, Have you ever thought, etc.)\n\nreturn your output in JSON format\n\n{\n    \"title\": string,\n    \"description\": string,\n    \"scenes\": {\"voiceOver\":string,\"imagePrompts\": string[]}[],\n    \"backgroundMusicPrompt\": string,\n    \"instagramCaption\": string \n}\n​"
            },
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0,
                    "name": "System Prompt"
                },
                "restore": {
                    "expect": {
                        "scope": {
                            "label": "One cycle"
                        }
                    }
                },
                "expect": [
                    {
                        "name": "name",
                        "type": "text",
                        "label": "Variable name",
                        "required": true
                    },
                    {
                        "name": "scope",
                        "type": "select",
                        "label": "Variable lifetime",
                        "required": true,
                        "validate": {
                            "enum": [
                                "roundtrip",
                                "execution"
                            ]
                        }
                    },
                    {
                        "name": "value",
                        "type": "any",
                        "label": "Variable value"
                    }
                ],
                "interface": [
                    {
                        "name": "System Prompt",
                        "type": "any",
                        "label": "System Prompt"
                    }
                ]
            }
        },
        {
            "id": 18,
            "module": "util:SetVariable2",
            "version": 1,
            "parameters": {},
            "mapper": {
                "name": "User Prompt",
                "scope": "roundtrip",
                "value": "Create a YouTube short script about bagels. Follow these requirements:\n\n- 1-2 scenes with 5s voiceovers max per scene\n- Voicovers should be concise, narrational sentences\n- Image prompts must describe specific visual elements\n- Output JSON format with title, description, and scenes array, music and caption\n- No markdown formatting\n- Ensure valid JSON structure\n\nCategory: Food\nTopic: Bagels"
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 0,
                    "name": "User Prompt"
                },
                "restore": {
                    "expect": {
                        "scope": {
                            "label": "One cycle"
                        }
                    }
                },
                "expect": [
                    {
                        "name": "name",
                        "type": "text",
                        "label": "Variable name",
                        "required": true
                    },
                    {
                        "name": "scope",
                        "type": "select",
                        "label": "Variable lifetime",
                        "required": true,
                        "validate": {
                            "enum": [
                                "roundtrip",
                                "execution"
                            ]
                        }
                    },
                    {
                        "name": "value",
                        "type": "any",
                        "label": "Variable value"
                    }
                ],
                "interface": [
                    {
                        "name": "User Prompt",
                        "type": "any",
                        "label": "User Prompt"
                    }
                ]
            }
        },
        {
            "id": 2,
            "module": "openai-gpt-3:CreateCompletion",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 977869
            },
            "mapper": {
                "model": "gpt-4o-mini",
                "top_p": "1",
                "select": "chat",
                "messages": [
                    {
                        "role": "system",
                        "content": "{{17.`System Prompt`}}"
                    },
                    {
                        "role": "user",
                        "content": "{{18.`User Prompt`}}",
                        "imageDetail": "auto"
                    }
                ],
                "max_tokens": "2048",
                "temperature": "1",
                "n_completions": "1",
                "response_format": "json_object",
                "parseJSONResponse": true
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "stop": {
                            "mode": "chose"
                        },
                        "model": {
                            "mode": "chose",
                            "label": "gpt-4o-mini (system)"
                        },
                        "select": {
                            "label": "Create a Chat Completion (GPT and o1 models)"
                        },
                        "messages": {
                            "mode": "chose",
                            "items": [
                                {
                                    "role": {
                                        "mode": "chose",
                                        "label": "Developer / System"
                                    }
                                },
                                {
                                    "role": {
                                        "mode": "chose",
                                        "label": "User"
                                    },
                                    "imageDetail": {
                                        "mode": "chose",
                                        "label": "Auto"
                                    },
                                    "imageInputType": {
                                        "mode": "chose",
                                        "label": "Empty"
                                    }
                                }
                            ]
                        },
                        "logit_bias": {
                            "mode": "chose"
                        },
                        "response_format": {
                            "mode": "chose",
                            "label": "JSON Object"
                        },
                        "parseJSONResponse": {
                            "mode": "chose"
                        },
                        "additionalParameters": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "openai-gpt-3"
                            },
                            "label": "My OpenAI connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:openai-gpt-3",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "select",
                        "type": "select",
                        "label": "Select Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "chat",
                                "prompt"
                            ]
                        }
                    },
                    {
                        "name": "temperature",
                        "type": "number",
                        "label": "Temperature",
                        "validate": {
                            "max": 2,
                            "min": 0
                        }
                    },
                    {
                        "name": "top_p",
                        "type": "number",
                        "label": "Top P",
                        "validate": {
                            "max": 1,
                            "min": 0
                        }
                    },
                    {
                        "name": "n_completions",
                        "type": "number",
                        "label": "Number"
                    },
                    {
                        "name": "frequency_penalty",
                        "type": "number",
                        "label": "Frequency Penalty",
                        "validate": {
                            "max": 2,
                            "min": -2
                        }
                    },
                    {
                        "name": "presence_penalty",
                        "type": "number",
                        "label": "Presence Penalty",
                        "validate": {
                            "max": 2,
                            "min": -2
                        }
                    },
                    {
                        "name": "logit_bias",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "token",
                                    "type": "text",
                                    "label": "Token ID",
                                    "required": true
                                },
                                {
                                    "name": "probability",
                                    "type": "number",
                                    "label": "Probability",
                                    "required": true,
                                    "validate": {
                                        "max": 100,
                                        "min": -100
                                    }
                                }
                            ],
                            "type": "collection",
                            "label": "Token Probability"
                        },
                        "type": "array",
                        "label": "Token Probability"
                    },
                    {
                        "name": "seed",
                        "type": "integer",
                        "label": "Seed"
                    },
                    {
                        "name": "stop",
                        "spec": {
                            "name": "value",
                            "type": "text",
                            "label": "Stop Sequence"
                        },
                        "type": "array",
                        "label": "Stop Sequences",
                        "validate": {
                            "maxItems": 4
                        }
                    },
                    {
                        "name": "additionalParameters",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "key",
                                    "type": "text",
                                    "label": "Parameter Name",
                                    "required": true
                                },
                                {
                                    "name": "type",
                                    "type": "select",
                                    "label": "Input Type",
                                    "options": [
                                        {
                                            "label": "Text",
                                            "value": "text",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "text",
                                                    "label": "Parameter Value"
                                                }
                                            ],
                                            "default": true
                                        },
                                        {
                                            "label": "Number",
                                            "value": "number",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "number",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Boolean",
                                            "value": "boolean",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "boolean",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Date",
                                            "value": "date",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "date",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Any",
                                            "value": "any",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "any",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        }
                                    ]
                                }
                            ],
                            "type": "collection",
                            "label": "Input Parameter"
                        },
                        "type": "array",
                        "label": "Other Input Parameters"
                    },
                    {
                        "name": "model",
                        "type": "select",
                        "label": "Model",
                        "required": true
                    },
                    {
                        "name": "max_tokens",
                        "type": "uinteger",
                        "label": "Max Completion Tokens"
                    },
                    {
                        "name": "messages",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "role",
                                    "type": "select",
                                    "label": "Role",
                                    "options": {
                                        "store": [
                                            {
                                                "label": "User",
                                                "value": "user",
                                                "nested": [
                                                    {
                                                        "help": "Text content of the message on behalf of the selected __Role__.",
                                                        "name": "content",
                                                        "type": "text",
                                                        "label": "Text Content"
                                                    },
                                                    {
                                                        "name": "imageInputType",
                                                        "type": "select",
                                                        "label": "Image Input Type",
                                                        "options": [
                                                            {
                                                                "label": "URL",
                                                                "value": "url",
                                                                "nested": [
                                                                    {
                                                                        "help": "Make sure to use a publicly accessible URL.\nYou can test if your image is publicly accessible by opening the link in an incognito tab.",
                                                                        "name": "imageUrl",
                                                                        "type": "url",
                                                                        "label": "Image URL"
                                                                    }
                                                                ]
                                                            },
                                                            {
                                                                "label": "Image File",
                                                                "value": "file",
                                                                "nested": [
                                                                    {
                                                                        "name": "imageFile",
                                                                        "spec": [
                                                                            {
                                                                                "help": "Accepted extensions: `.jpg`, `.jpeg`, `.png`, `.webp` and `.gif`.",
                                                                                "name": "imageFilename",
                                                                                "type": "filename",
                                                                                "label": "Image Filename",
                                                                                "semantic": "file:name",
                                                                                "extension": [
                                                                                    "jpg",
                                                                                    "jpeg",
                                                                                    "png",
                                                                                    "webp",
                                                                                    "gif"
                                                                                ]
                                                                            },
                                                                            {
                                                                                "name": "imageData",
                                                                                "type": "buffer",
                                                                                "label": "Image Data",
                                                                                "semantic": "file:data"
                                                                            }
                                                                        ],
                                                                        "type": "collection",
                                                                        "label": "Image"
                                                                    }
                                                                ]
                                                            }
                                                        ],
                                                        "mappable": false
                                                    },
                                                    {
                                                        "help": "Recommended value: `Auto`",
                                                        "name": "imageDetail",
                                                        "type": "select",
                                                        "label": "Image Detail",
                                                        "options": [
                                                            {
                                                                "label": "Auto",
                                                                "value": "auto",
                                                                "default": true
                                                            },
                                                            {
                                                                "label": "High",
                                                                "value": "high"
                                                            },
                                                            {
                                                                "label": "Low",
                                                                "value": "low"
                                                            }
                                                        ]
                                                    }
                                                ]
                                            },
                                            {
                                                "label": "Assistant",
                                                "value": "assistant",
                                                "nested": [
                                                    {
                                                        "help": "Text content of the message on behalf of the selected __Role__.",
                                                        "name": "content",
                                                        "type": "text",
                                                        "label": "Text Content"
                                                    }
                                                ]
                                            },
                                            {
                                                "label": "Developer / System",
                                                "value": "system",
                                                "nested": [
                                                    {
                                                        "help": "Text content of the message on behalf of the selected __Role__.",
                                                        "name": "content",
                                                        "type": "text",
                                                        "label": "Text Content"
                                                    }
                                                ]
                                            }
                                        ]
                                    },
                                    "required": true
                                }
                            ],
                            "type": "collection",
                            "label": "Message"
                        },
                        "type": "array",
                        "label": "Messages",
                        "required": true
                    },
                    {
                        "name": "response_format",
                        "type": "select",
                        "label": "Response Format",
                        "validate": {
                            "enum": [
                                "text",
                                "json_object"
                            ]
                        }
                    },
                    {
                        "name": "prediction",
                        "type": "text",
                        "label": "Predicted Outputs"
                    },
                    {
                        "name": "parseJSONResponse",
                        "type": "boolean",
                        "label": "Parse JSON Response",
                        "required": true
                    }
                ],
                "interface": [
                    {
                        "name": "result",
                        "type": "any",
                        "label": "Result"
                    },
                    {
                        "name": "id",
                        "type": "text",
                        "label": "ID"
                    },
                    {
                        "name": "object",
                        "type": "text",
                        "label": "Object"
                    },
                    {
                        "name": "created",
                        "type": "date",
                        "label": "Created"
                    },
                    {
                        "name": "model",
                        "type": "text",
                        "label": "Model"
                    },
                    {
                        "name": "choices",
                        "spec": {
                            "spec": [
                                {
                                    "name": "text",
                                    "type": "text",
                                    "label": "Text"
                                },
                                {
                                    "name": "index",
                                    "type": "number",
                                    "label": "Index"
                                },
                                {
                                    "name": "logprobs",
                                    "type": "text",
                                    "label": "Log Probs"
                                },
                                {
                                    "name": "finish_reason",
                                    "type": "text",
                                    "label": "Finish Reason"
                                },
                                {
                                    "name": "message",
                                    "spec": [
                                        {
                                            "name": "role",
                                            "type": "text",
                                            "label": "Role"
                                        },
                                        {
                                            "name": "content",
                                            "type": "text",
                                            "label": "Content"
                                        },
                                        {
                                            "name": "refusal",
                                            "type": "text",
                                            "label": "Refusal"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Message"
                                }
                            ],
                            "type": "collection"
                        },
                        "type": "array",
                        "label": "Choices"
                    },
                    {
                        "name": "usage",
                        "spec": [
                            {
                                "name": "prompt_tokens",
                                "type": "number",
                                "label": "Prompt Tokens"
                            },
                            {
                                "name": "completion_tokens",
                                "type": "text",
                                "label": "Completion Tokens"
                            },
                            {
                                "name": "total_tokens",
                                "type": "number",
                                "label": "Total Tokens"
                            },
                            {
                                "name": "prompt_tokens_details",
                                "spec": [
                                    {
                                        "name": "cached_tokens",
                                        "type": "uinteger",
                                        "label": "Cached Tokens"
                                    },
                                    {
                                        "name": "text_tokens",
                                        "type": "uinteger",
                                        "label": "Text Tokens"
                                    },
                                    {
                                        "name": "image_tokens",
                                        "type": "uinteger",
                                        "label": "Image Tokens"
                                    },
                                    {
                                        "name": "audio_tokens",
                                        "type": "uinteger",
                                        "label": "Audio Tokens"
                                    }
                                ],
                                "type": "collection",
                                "label": "Prompt Tokens Details"
                            },
                            {
                                "name": "completion_tokens_details",
                                "spec": [
                                    {
                                        "name": "reasoning_tokens",
                                        "type": "uinteger",
                                        "label": "Reasoning Tokens"
                                    },
                                    {
                                        "name": "text_tokens",
                                        "type": "uinteger",
                                        "label": "Text Tokens"
                                    },
                                    {
                                        "name": "audio_tokens",
                                        "type": "uinteger",
                                        "label": "Audio Tokens"
                                    },
                                    {
                                        "name": "accepted_prediction_tokens",
                                        "type": "uinteger",
                                        "label": "Accepted Prediction Tokens"
                                    },
                                    {
                                        "name": "rejected_prediction_tokens",
                                        "type": "uinteger",
                                        "label": "Rejected Prediction Tokens"
                                    }
                                ],
                                "type": "collection",
                                "label": "Completion Tokens Details"
                            }
                        ],
                        "type": "collection",
                        "label": "Usage"
                    },
                    {
                        "name": "service_tier",
                        "type": "text",
                        "label": "Service Tier"
                    },
                    {
                        "name": "system_fingerprint",
                        "type": "text",
                        "label": "System Fingerprint"
                    }
                ],
                "advanced": true
            }
        },
        {
            "id": 3,
            "module": "builtin:BasicFeeder",
            "version": 1,
            "parameters": {},
            "mapper": {
                "array": "{{2.result.scenes}}"
            },
            "metadata": {
                "designer": {
                    "x": 900,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "array": {
                            "mode": "edit"
                        }
                    }
                },
                "expect": [
                    {
                        "mode": "edit",
                        "name": "array",
                        "spec": [],
                        "type": "array",
                        "label": "Array"
                    }
                ]
            }
        },
        {
            "id": 4,
            "module": "builtin:BasicFeeder",
            "version": 1,
            "parameters": {},
            "mapper": {
                "array": "{{3.imagePrompts}}"
            },
            "metadata": {
                "designer": {
                    "x": 1200,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "array": {
                            "mode": "edit"
                        }
                    }
                },
                "expect": [
                    {
                        "mode": "edit",
                        "name": "array",
                        "spec": [],
                        "type": "array",
                        "label": "Array"
                    }
                ]
            }
        },
        {
            "id": 15,
            "module": "leonardo-ai:generateImage",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 2315225
            },
            "mapper": {
                "prompt": "{{4.value}}",
                "modelId": "e316348f-7773-490e-adcd-46757c738eb7",
                "negative_prompt": "ugly,malformed,exposing,blurred, text, words, faces, people"
            },
            "metadata": {
                "designer": {
                    "x": 1500,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "nsfw": {
                            "mode": "chose"
                        },
                        "public": {
                            "mode": "chose"
                        },
                        "source": {
                            "mode": "chose",
                            "label": "Empty"
                        },
                        "tiling": {
                            "mode": "chose"
                        },
                        "unzoom": {
                            "mode": "chose"
                        },
                        "alchemy": {
                            "mode": "chose"
                        },
                        "modelId": {
                            "mode": "chose",
                            "label": "Absolute Reality v1.6"
                        },
                        "scheduler": {
                            "mode": "chose",
                            "label": "Empty"
                        },
                        "sd_version": {
                            "mode": "chose",
                            "label": "Empty"
                        },
                        "controlnets": {
                            "mode": "chose"
                        },
                        "presetStyle": {
                            "mode": "chose",
                            "label": "Empty"
                        },
                        "promptMagic": {
                            "mode": "chose"
                        },
                        "imagePrompts": {
                            "mode": "chose"
                        },
                        "transparency": {
                            "mode": "chose",
                            "label": "Empty"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "leonardo-ai"
                            },
                            "label": "My Leonardo.AI connection v2 (kalygo)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:leonardo-ai",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "prompt",
                        "type": "text",
                        "label": "Prompt",
                        "required": true
                    },
                    {
                        "name": "modelId",
                        "type": "select",
                        "label": "Model"
                    },
                    {
                        "name": "num_images",
                        "type": "uinteger",
                        "label": "Number of images to generate",
                        "validate": {
                            "max": 8,
                            "min": 1
                        }
                    },
                    {
                        "name": "source",
                        "type": "select",
                        "label": "Source",
                        "validate": {
                            "enum": [
                                "im",
                                "gen"
                            ]
                        }
                    },
                    {
                        "name": "public",
                        "type": "boolean",
                        "label": "Public"
                    },
                    {
                        "name": "height",
                        "type": "uinteger",
                        "label": "Height",
                        "validate": {
                            "max": 1536,
                            "min": 32
                        }
                    },
                    {
                        "name": "width",
                        "type": "uinteger",
                        "label": "Width",
                        "validate": {
                            "max": 1536,
                            "min": 32
                        }
                    },
                    {
                        "name": "unzoom",
                        "type": "boolean",
                        "label": "Unzoom"
                    },
                    {
                        "name": "alchemy",
                        "type": "boolean",
                        "label": "Alchemy"
                    },
                    {
                        "name": "promptMagic",
                        "type": "boolean",
                        "label": "Prompt Magic"
                    },
                    {
                        "name": "controlnets",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "initImageId",
                                    "type": "text",
                                    "label": "Init Image ID",
                                    "required": true
                                },
                                {
                                    "name": "initImageType",
                                    "type": "select",
                                    "label": "Init Image Type",
                                    "options": [
                                        {
                                            "label": "Uploaded",
                                            "value": "UPLOADED"
                                        },
                                        {
                                            "label": "Generated",
                                            "value": "GENERATED"
                                        }
                                    ],
                                    "required": true
                                },
                                {
                                    "name": "preprocessorId",
                                    "type": "number",
                                    "label": "Preprocessor ID",
                                    "required": true
                                },
                                {
                                    "name": "weight",
                                    "type": "number",
                                    "label": "Weight",
                                    "validate": {
                                        "max": 2,
                                        "min": 0
                                    }
                                },
                                {
                                    "name": "strengthType",
                                    "type": "select",
                                    "label": "Strength Type",
                                    "options": [
                                        {
                                            "value": "Low"
                                        },
                                        {
                                            "value": "Mid"
                                        },
                                        {
                                            "value": "High"
                                        },
                                        {
                                            "value": "Ultra"
                                        },
                                        {
                                            "value": "Max"
                                        }
                                    ]
                                }
                            ],
                            "type": "collection",
                            "label": "ControlNet"
                        },
                        "type": "array",
                        "label": "ControlNets"
                    },
                    {
                        "name": "presetStyle",
                        "type": "select",
                        "label": "Preset style",
                        "validate": {
                            "enum": [
                                "CINEMATIC",
                                "CREATIVE",
                                "VIBRANT",
                                "NONE",
                                "ANIME",
                                "CREATIVE",
                                "DYNAMIC",
                                "ENVIRONMENT",
                                "GENERAL",
                                "ILLUSTRATION",
                                "PHOTOGRAPHY",
                                "RAYTRACED",
                                "RENDER_3D",
                                "SKETCH_BW",
                                "SKETCH_COLOR",
                                "NONE",
                                "LEONARDO",
                                "NONE"
                            ]
                        }
                    },
                    {
                        "name": "guidance_scale",
                        "type": "uinteger",
                        "label": "Guidance scale",
                        "validate": {
                            "max": 20,
                            "min": 1
                        }
                    },
                    {
                        "name": "weighting",
                        "type": "number",
                        "label": "Weighting"
                    },
                    {
                        "name": "init_strength",
                        "type": "number",
                        "label": "Init strength",
                        "validate": {
                            "max": 0.9,
                            "min": 0.1
                        }
                    },
                    {
                        "name": "nsfw",
                        "type": "boolean",
                        "label": "NSFW"
                    },
                    {
                        "name": "tiling",
                        "type": "boolean",
                        "label": "Tiling"
                    },
                    {
                        "name": "num_inference_steps",
                        "type": "uinteger",
                        "label": "Number of inference steps",
                        "validate": {
                            "max": 60,
                            "min": 30
                        }
                    },
                    {
                        "name": "sd_version",
                        "type": "select",
                        "label": "SD version",
                        "validate": {
                            "enum": [
                                "v1_5",
                                "v2"
                            ]
                        }
                    },
                    {
                        "name": "imagePrompts",
                        "spec": {
                            "name": "value",
                            "type": "text",
                            "label": "Image prompt"
                        },
                        "type": "array",
                        "label": "Image prompts"
                    },
                    {
                        "name": "imagePromptWeight",
                        "type": "number",
                        "label": "Image prompt weight"
                    },
                    {
                        "name": "scheduler",
                        "type": "select",
                        "label": "Scheduler",
                        "validate": {
                            "enum": [
                                "KLMS",
                                "EULER_ANCESTRAL_DISCRETE",
                                "EULER_DISCRETE",
                                "DDIM",
                                "DPM_SOLVER",
                                "PNDM",
                                "LEONARDO"
                            ]
                        }
                    },
                    {
                        "name": "seed",
                        "type": "uinteger",
                        "label": "Seed"
                    },
                    {
                        "name": "negative_prompt",
                        "type": "text",
                        "label": "Negative prompt"
                    },
                    {
                        "name": "upscaleRatio",
                        "type": "number",
                        "label": "Upscale ratio"
                    },
                    {
                        "name": "transparency",
                        "type": "select",
                        "label": "Transparency",
                        "validate": {
                            "enum": [
                                "disabled",
                                "foreground_only"
                            ]
                        }
                    }
                ],
                "advanced": true
            }
        },
        {
            "id": 16,
            "module": "http:ActionGetFile",
            "version": 3,
            "parameters": {
                "handleErrors": false
            },
            "mapper": {
                "url": "{{15.generated_images[].url}}",
                "method": "get",
                "serializeUrl": false,
                "shareCookies": false
            },
            "metadata": {
                "designer": {
                    "x": 1800,
                    "y": 0
                },
                "restore": {},
                "parameters": [
                    {
                        "name": "handleErrors",
                        "type": "boolean",
                        "label": "Evaluate all states as errors (except for 2xx and 3xx )",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "url",
                        "type": "url",
                        "label": "URL",
                        "required": true
                    },
                    {
                        "name": "serializeUrl",
                        "type": "boolean",
                        "label": "Serialize URL",
                        "required": true
                    },
                    {
                        "name": "method",
                        "type": "hidden",
                        "label": "Method"
                    },
                    {
                        "name": "shareCookies",
                        "type": "boolean",
                        "label": "Share cookies with other HTTP modules",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 7,
            "module": "google-drive:uploadAFile",
            "version": 4,
            "parameters": {
                "__IMTCONN__": 1464137
            },
            "mapper": {
                "data": "{{16.data}}",
                "select": "value",
                "convert": false,
                "filename": "image.png",
                "folderId": "/1084DABzvCsYN4-Cov1V2ptIzSOs-OaeD",
                "destination": "drive"
            },
            "metadata": {
                "designer": {
                    "x": 2100,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "select": {
                            "label": "Select from the list"
                        },
                        "folderId": {
                            "mode": "chose",
                            "path": [
                                "Social_Media_Content"
                            ]
                        },
                        "destination": {
                            "label": "My Drive"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google-restricted"
                            },
                            "label": "Video_Post_Automation_Connection (tad@cmdlabs.io)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google-restricted",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "type": "hidden"
                    },
                    {
                        "name": "select",
                        "type": "select",
                        "label": "Enter a Folder ID",
                        "required": true,
                        "validate": {
                            "enum": [
                                "map",
                                "value"
                            ]
                        }
                    },
                    {
                        "name": "title",
                        "type": "text",
                        "label": "New File Name"
                    },
                    {
                        "name": "filename",
                        "type": "text",
                        "label": "File Name",
                        "required": true
                    },
                    {
                        "name": "data",
                        "type": "buffer",
                        "label": "Data",
                        "required": true
                    },
                    {
                        "name": "convert",
                        "type": "boolean",
                        "label": "Convert a File",
                        "required": true
                    },
                    {
                        "name": "destination",
                        "type": "select",
                        "label": "New Drive Location",
                        "required": true,
                        "validate": {
                            "enum": [
                                "drive",
                                "share",
                                "team"
                            ]
                        }
                    },
                    {
                        "name": "folderId",
                        "type": "folder",
                        "label": "New Folder Location",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 8,
            "module": "google-drive:shareAFileFolder",
            "version": 4,
            "parameters": {
                "__IMTCONN__": 1464137
            },
            "mapper": {
                "file": "{{7.id}}",
                "role": "reader",
                "type": "anyone",
                "select": "file",
                "destination": "drive",
                "allowFileDiscovery": true
            },
            "metadata": {
                "designer": {
                    "x": 2400,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "file": {
                            "mode": "edit",
                            "path": []
                        },
                        "role": {
                            "mode": "chose",
                            "label": "Reader"
                        },
                        "type": {
                            "mode": "chose",
                            "label": "Anyone"
                        },
                        "select": {
                            "label": "File"
                        },
                        "destination": {
                            "label": "My Drive"
                        },
                        "allowFileDiscovery": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google-restricted"
                            },
                            "label": "Video_Post_Automation_Connection (tad@cmdlabs.io)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google-restricted",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "type": "hidden"
                    },
                    {
                        "name": "destination",
                        "type": "select",
                        "label": "Choose a Drive",
                        "required": true,
                        "validate": {
                            "enum": [
                                "drive",
                                "share",
                                "team"
                            ]
                        }
                    },
                    {
                        "name": "select",
                        "type": "select",
                        "label": "Select",
                        "required": true,
                        "validate": {
                            "enum": [
                                "file",
                                "folder"
                            ]
                        }
                    },
                    {
                        "name": "role",
                        "type": "select",
                        "label": "Role",
                        "required": true,
                        "validate": {
                            "enum": [
                                "owner",
                                "writer",
                                "commenter",
                                "reader"
                            ]
                        }
                    },
                    {
                        "name": "type",
                        "type": "select",
                        "label": "Type",
                        "required": true,
                        "validate": {
                            "enum": [
                                "user",
                                "group",
                                "domain",
                                "anyone"
                            ]
                        }
                    },
                    {
                        "mode": "edit",
                        "name": "file",
                        "type": "file",
                        "label": "File ID",
                        "required": true
                    },
                    {
                        "name": "allowFileDiscovery",
                        "type": "boolean",
                        "label": "Allow File Discovery",
                        "required": true
                    }
                ],
                "interface": [
                    {
                        "name": "fileId",
                        "type": "text",
                        "label": "File ID"
                    },
                    {
                        "name": "kind",
                        "type": "text",
                        "label": "Kind"
                    },
                    {
                        "name": "id",
                        "type": "text",
                        "label": "Permission ID"
                    },
                    {
                        "name": "type",
                        "type": "text",
                        "label": "Type"
                    },
                    {
                        "name": "shareLink",
                        "type": "url",
                        "label": "Share Link"
                    },
                    {
                        "name": "emailAddress",
                        "type": "text",
                        "label": "Email Address"
                    },
                    {
                        "name": "domain",
                        "type": "text",
                        "label": "Domain"
                    },
                    {
                        "name": "role",
                        "type": "text",
                        "label": "Role"
                    },
                    {
                        "name": "allowFileDiscovery",
                        "type": "boolean",
                        "label": "Allow File Discovery"
                    },
                    {
                        "name": "displayName",
                        "type": "text",
                        "label": "Display Name"
                    },
                    {
                        "name": "photoLink",
                        "type": "text",
                        "label": "Photo Link"
                    },
                    {
                        "name": "expirationTime",
                        "type": "date",
                        "label": "Expiration Time"
                    },
                    {
                        "name": "teamDrivePermissionDetails",
                        "spec": {
                            "spec": [
                                {
                                    "name": "teamDrivePermissionType",
                                    "type": "text",
                                    "label": "Team Drive Permission Type"
                                },
                                {
                                    "name": "role",
                                    "type": "text",
                                    "label": "Role"
                                },
                                {
                                    "name": "inheritedFrom",
                                    "type": "text",
                                    "label": "Inherited From"
                                },
                                {
                                    "name": "inherited",
                                    "type": "boolean",
                                    "label": "Inherited"
                                }
                            ],
                            "type": "collection"
                        },
                        "type": "array",
                        "label": "Team Drive Permission Details"
                    },
                    {
                        "name": "permissionDetails",
                        "spec": {
                            "spec": [
                                {
                                    "name": "permissionType",
                                    "type": "text",
                                    "label": "Permission Type"
                                },
                                {
                                    "name": "role",
                                    "type": "text",
                                    "label": "Role"
                                },
                                {
                                    "name": "inheritedFrom",
                                    "type": "text",
                                    "label": "Inherited From"
                                },
                                {
                                    "name": "inherited",
                                    "type": "boolean",
                                    "label": "Inherited"
                                }
                            ],
                            "type": "collection"
                        },
                        "type": "array",
                        "label": "Permission Details"
                    },
                    {
                        "name": "deleted",
                        "type": "boolean",
                        "label": "Deleted"
                    },
                    {
                        "name": "pendingOwner",
                        "type": "boolean",
                        "label": "Pending Owner"
                    },
                    {
                        "name": "webContentLink",
                        "type": "url",
                        "label": "Web Content Link"
                    }
                ]
            }
        },
        {
            "id": 9,
            "module": "builtin:BasicAggregator",
            "version": 1,
            "parameters": {
                "feeder": 4,
                "target": "10.slides"
            },
            "mapper": {
                "url": "{{8.webContentLink}}",
                "type": "image",
                "zoom": "2",
                "duration": "3"
            },
            "metadata": {
                "designer": {
                    "x": 2700,
                    "y": 0
                },
                "restore": {
                    "extra": {
                        "feeder": {
                            "label": "Iterator [4]"
                        },
                        "target": {
                            "label": "Slides"
                        }
                    },
                    "expect": {
                        "__IMTTARGET__": {
                            "nested": {
                                "type": {
                                    "mode": "chose",
                                    "label": "image"
                                },
                                "zoom": {
                                    "mode": "chose",
                                    "label": "Zoom in"
                                }
                            }
                        }
                    }
                },
                "expect": [
                    {
                        "name": "type",
                        "type": "select",
                        "label": "Type"
                    },
                    {
                        "name": "url",
                        "type": "text",
                        "label": "Url"
                    },
                    {
                        "name": "zoom",
                        "type": "select",
                        "label": "Zoom"
                    },
                    {
                        "name": "duration",
                        "type": "number",
                        "label": "Duration"
                    }
                ]
            }
        },
        {
            "id": 10,
            "module": "json2video:createSlideshowWithAudio",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 2242114
            },
            "mapper": {
                "slides": "{{9.array}}",
                "resolution": "instagram-story"
            },
            "metadata": {
                "designer": {
                    "x": 3000,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "slides": {
                            "mode": "edit",
                            "items": [
                                {
                                    "type": {
                                        "mode": "chose",
                                        "label": "image"
                                    },
                                    "zoom": {
                                        "mode": "chose",
                                        "label": "No zoom"
                                    }
                                }
                            ]
                        },
                        "resolution": {
                            "mode": "chose",
                            "label": "1080x1920 - Vertical"
                        },
                        "client_data": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "json2video"
                            },
                            "label": "My JSON2Video connection (tad@cmdlabs.io - admin)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:json2video",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "resolution",
                        "type": "select",
                        "label": "Output video resolution",
                        "validate": {
                            "enum": [
                                "full-hd",
                                "instagram-story",
                                "squared",
                                "custom"
                            ]
                        }
                    },
                    {
                        "name": "slides",
                        "spec": [
                            {
                                "name": "type",
                                "type": "select",
                                "label": "Type",
                                "dynamic": true,
                                "options": [
                                    {
                                        "label": "image",
                                        "value": "image"
                                    },
                                    {
                                        "label": "video",
                                        "value": "video"
                                    }
                                ],
                                "validate": false
                            },
                            {
                                "name": "url",
                                "type": "text",
                                "label": "Url"
                            },
                            {
                                "name": "zoom",
                                "type": "select",
                                "label": "Zoom",
                                "dynamic": true,
                                "options": [
                                    {
                                        "label": "Zoom out",
                                        "value": "-2"
                                    },
                                    {
                                        "label": "No zoom",
                                        "value": "0"
                                    },
                                    {
                                        "label": "Zoom in",
                                        "value": "2"
                                    }
                                ],
                                "validate": false
                            },
                            {
                                "name": "duration",
                                "type": "number",
                                "label": "Duration"
                            }
                        ],
                        "type": "array",
                        "label": "Slides"
                    },
                    {
                        "name": "background_audio",
                        "type": "text",
                        "label": "Background audio"
                    },
                    {
                        "name": "make_webhook_url",
                        "type": "text",
                        "label": "Webhook URL"
                    },
                    {
                        "name": "client_data",
                        "spec": [
                            {
                                "name": "key",
                                "type": "text",
                                "label": "Key"
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value"
                            }
                        ],
                        "type": "array",
                        "label": "Client data"
                    }
                ]
            }
        },
        {
            "id": 11,
            "module": "json2video:waitForAMovieToRender",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 2242114
            },
            "mapper": {
                "project": "{{10.project}}"
            },
            "metadata": {
                "designer": {
                    "x": 3300,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "json2video"
                            },
                            "label": "My JSON2Video connection (tad@cmdlabs.io - admin)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:json2video",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "project",
                        "type": "text",
                        "label": "Project ID",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 12,
            "module": "builtin:BasicAggregator",
            "version": 1,
            "parameters": {
                "feeder": 3,
                "target": "13.video_inputs"
            },
            "mapper": {
                "voice": {
                    "type": "text",
                    "pitch": "",
                    "speed": "1",
                    "emotion": "",
                    "voice_id": "543ac3d42fcf41dfb6fc673e5e3da825",
                    "input_text": "{{3.voiceOver}}"
                },
                "character": {
                    "type": "avatar",
                    "scale": "1",
                    "offset": {
                        "x": "",
                        "y": "0.28"
                    },
                    "matting": false,
                    "avatar_id": "Armando_Casual_Front_public",
                    "avatar_style": "",
                    "circle_background_color": ""
                },
                "background": {
                    "url": "{{11.movie.url}}",
                    "type": "video",
                    "play_style": "fit_to_scene"
                }
            },
            "metadata": {
                "designer": {
                    "x": 3600,
                    "y": 0
                },
                "restore": {
                    "extra": {
                        "feeder": {
                            "label": "Iterator [3]"
                        },
                        "target": {
                            "label": "Video Inputs"
                        }
                    },
                    "expect": {
                        "__IMTTARGET__": {
                            "nested": {
                                "voice": {
                                    "nested": {
                                        "type": {
                                            "mode": "chose",
                                            "label": "Text"
                                        },
                                        "emotion": {
                                            "mode": "chose",
                                            "label": "Empty"
                                        },
                                        "voice_id": {
                                            "mode": "edit"
                                        }
                                    }
                                },
                                "character": {
                                    "nested": {
                                        "type": {
                                            "mode": "chose",
                                            "label": "Avatar"
                                        },
                                        "matting": {
                                            "mode": "chose"
                                        },
                                        "avatar_id": {
                                            "mode": "edit"
                                        },
                                        "avatar_style": {
                                            "mode": "chose",
                                            "label": "Empty"
                                        }
                                    }
                                },
                                "background": {
                                    "nested": {
                                        "type": {
                                            "mode": "chose",
                                            "label": "Video Background"
                                        },
                                        "play_style": {
                                            "mode": "chose",
                                            "label": "Fit to Scene"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "expect": [
                    {
                        "name": "character",
                        "spec": [
                            {
                                "name": "type",
                                "type": "select",
                                "label": "Type",
                                "validate": {
                                    "enum": [
                                        "avatar",
                                        "talking_photo"
                                    ]
                                }
                            },
                            {
                                "name": "avatar_id",
                                "type": "select",
                                "label": "Avatar",
                                "required": true
                            },
                            {
                                "name": "scale",
                                "type": "number",
                                "label": "Avatar scale",
                                "required": true,
                                "validate": {
                                    "max": 2,
                                    "min": 0
                                }
                            },
                            {
                                "name": "avatar_style",
                                "type": "select",
                                "label": "Avatar Style",
                                "validate": {
                                    "enum": [
                                        "circle",
                                        "normal",
                                        "closeUp"
                                    ]
                                }
                            },
                            {
                                "name": "offset",
                                "spec": [
                                    {
                                        "name": "x",
                                        "type": "number",
                                        "label": "X"
                                    },
                                    {
                                        "name": "y",
                                        "type": "number",
                                        "label": "Y"
                                    }
                                ],
                                "type": "collection",
                                "label": "Offset"
                            },
                            {
                                "name": "matting",
                                "type": "boolean",
                                "label": "Matting"
                            },
                            {
                                "name": "circle_background_color",
                                "type": "text",
                                "label": "Circle Background Color"
                            }
                        ],
                        "type": "collection",
                        "label": "Character Settings"
                    },
                    {
                        "name": "voice",
                        "spec": [
                            {
                                "name": "type",
                                "type": "select",
                                "label": "Voice Type",
                                "validate": {
                                    "enum": [
                                        "text",
                                        "audio",
                                        "silence"
                                    ]
                                }
                            },
                            {
                                "name": "voice_id",
                                "type": "select",
                                "label": "Voice ID"
                            },
                            {
                                "name": "input_text",
                                "type": "text",
                                "label": "Input Text"
                            },
                            {
                                "name": "speed",
                                "type": "number",
                                "label": "Voice Speec",
                                "validate": {
                                    "max": 1.5,
                                    "min": 0.5
                                }
                            },
                            {
                                "name": "pitch",
                                "type": "integer",
                                "label": "Voice Pitch",
                                "validate": {
                                    "max": 50,
                                    "min": -50
                                }
                            },
                            {
                                "name": "emotion",
                                "type": "select",
                                "label": "Voice Emotion method",
                                "validate": {
                                    "enum": [
                                        "Excited",
                                        "Friendly",
                                        "Serious",
                                        "Soothing",
                                        "Broadcaster"
                                    ]
                                }
                            }
                        ],
                        "type": "collection",
                        "label": "Voice Settings"
                    },
                    {
                        "name": "background",
                        "spec": [
                            {
                                "name": "type",
                                "type": "select",
                                "label": "Background Type",
                                "validate": {
                                    "enum": [
                                        "color",
                                        "image",
                                        "video"
                                    ]
                                }
                            },
                            {
                                "name": "url",
                                "type": "text",
                                "label": "Video URL"
                            },
                            {
                                "name": "play_style",
                                "type": "select",
                                "label": "Video Play Style",
                                "validate": {
                                    "enum": [
                                        "fit_to_scene",
                                        "freeze",
                                        "loop",
                                        "once"
                                    ]
                                }
                            }
                        ],
                        "type": "collection",
                        "label": "Background Settings"
                    }
                ],
                "advanced": true
            }
        },
        {
            "id": 13,
            "module": "heygen:createAnAvatarVideoV2",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 1981270
            },
            "mapper": {
                "test": false,
                "title": "{{2.result.title}}",
                "caption": false,
                "dimension": {
                    "width": "720",
                    "height": "1280"
                },
                "video_inputs": "{{12.array}}"
            },
            "metadata": {
                "designer": {
                    "x": 3900,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "test": {
                            "mode": "chose"
                        },
                        "caption": {
                            "mode": "chose"
                        },
                        "video_inputs": {
                            "mode": "edit",
                            "items": [
                                {
                                    "voice": {
                                        "nested": {
                                            "type": {
                                                "mode": "chose",
                                                "label": "Empty"
                                            }
                                        }
                                    },
                                    "character": {
                                        "nested": {
                                            "type": {
                                                "mode": "chose",
                                                "label": "Empty"
                                            }
                                        }
                                    },
                                    "background": {
                                        "nested": {
                                            "type": {
                                                "mode": "chose",
                                                "label": "Empty"
                                            }
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "hey-gen-9e1ue3"
                            },
                            "label": "My HeyGen connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:hey-gen-9e1ue3",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "video_inputs",
                        "spec": [
                            {
                                "name": "character",
                                "spec": [
                                    {
                                        "name": "type",
                                        "type": "select",
                                        "label": "Type",
                                        "options": [
                                            {
                                                "label": "Avatar",
                                                "value": "avatar",
                                                "nested": [
                                                    {
                                                        "name": "avatar_id",
                                                        "type": "select",
                                                        "label": "Avatar",
                                                        "options": "rpc://heygen/1/listAvatars",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "scale",
                                                        "type": "number",
                                                        "label": "Avatar scale",
                                                        "default": 1,
                                                        "required": true,
                                                        "validate": {
                                                            "max": 2,
                                                            "min": 0
                                                        }
                                                    },
                                                    {
                                                        "name": "avatar_style",
                                                        "type": "select",
                                                        "label": "Avatar Style",
                                                        "options": [
                                                            {
                                                                "label": "Circle",
                                                                "value": "circle"
                                                            },
                                                            {
                                                                "label": "Normal",
                                                                "value": "normal"
                                                            },
                                                            {
                                                                "label": "Close Up",
                                                                "value": "closeUp"
                                                            }
                                                        ]
                                                    },
                                                    {
                                                        "name": "offset",
                                                        "spec": [
                                                            {
                                                                "name": "x",
                                                                "type": "number",
                                                                "label": "X",
                                                                "default": 0
                                                            },
                                                            {
                                                                "name": "y",
                                                                "type": "number",
                                                                "label": "Y",
                                                                "default": 0
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Offset"
                                                    },
                                                    {
                                                        "help": "Whether to do matting",
                                                        "name": "matting",
                                                        "type": "boolean",
                                                        "label": "Matting",
                                                        "default": false,
                                                        "required": false
                                                    },
                                                    {
                                                        "help": "Color value in hex format.",
                                                        "name": "circle_background_color",
                                                        "type": "text",
                                                        "label": "Circle Background Color",
                                                        "required": false
                                                    }
                                                ]
                                            },
                                            {
                                                "label": "Talking Photo",
                                                "value": "talking_photo",
                                                "nested": [
                                                    {
                                                        "name": "talking_photo_id",
                                                        "type": "select",
                                                        "label": "Talking Photo ID",
                                                        "options": "rpc://heygen/1/listTalkingVoicesV2",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "scale",
                                                        "type": "number",
                                                        "label": "Talking Photo scale",
                                                        "default": 1,
                                                        "required": true,
                                                        "validate": {
                                                            "max": 2,
                                                            "min": 0
                                                        }
                                                    },
                                                    {
                                                        "name": "talking_photo_style",
                                                        "type": "select",
                                                        "label": "Talking Photo crop style",
                                                        "options": [
                                                            {
                                                                "label": "Square",
                                                                "value": "square"
                                                            },
                                                            {
                                                                "label": "Circle",
                                                                "value": "circle"
                                                            }
                                                        ]
                                                    },
                                                    {
                                                        "name": "offset",
                                                        "spec": [
                                                            {
                                                                "name": "x",
                                                                "type": "number",
                                                                "label": "X",
                                                                "default": 0
                                                            },
                                                            {
                                                                "name": "y",
                                                                "type": "number",
                                                                "label": "Y",
                                                                "default": 0
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Offset",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "talking_style",
                                                        "type": "select",
                                                        "label": "Talking Photo talking style",
                                                        "default": "stable",
                                                        "options": [
                                                            {
                                                                "label": "Stable",
                                                                "value": "stable"
                                                            },
                                                            {
                                                                "label": "Expressive",
                                                                "value": "expressive"
                                                            }
                                                        ]
                                                    },
                                                    {
                                                        "name": "expression",
                                                        "type": "select",
                                                        "label": "Talking Photo expression style",
                                                        "default": "default",
                                                        "options": [
                                                            {
                                                                "label": "Default",
                                                                "value": "default"
                                                            },
                                                            {
                                                                "label": "Happy",
                                                                "value": "happy"
                                                            }
                                                        ]
                                                    },
                                                    {
                                                        "help": "Whether to enhance this photar image",
                                                        "name": "super_resolution",
                                                        "type": "boolean",
                                                        "label": "Super Resolution",
                                                        "required": false
                                                    },
                                                    {
                                                        "help": "Whether to do matting",
                                                        "name": "matting",
                                                        "type": "boolean",
                                                        "label": "Matting",
                                                        "required": false
                                                    },
                                                    {
                                                        "help": "Background color in the circle/square when using circle/square style. Color value in hex format.",
                                                        "name": "circle_background_color",
                                                        "type": "text",
                                                        "label": "Circle Background Color",
                                                        "required": false
                                                    }
                                                ]
                                            }
                                        ]
                                    }
                                ],
                                "type": "collection",
                                "label": "Character Settings"
                            },
                            {
                                "name": "voice",
                                "spec": [
                                    {
                                        "name": "type",
                                        "type": "select",
                                        "label": "Voice Type",
                                        "options": [
                                            {
                                                "label": "Text",
                                                "value": "text",
                                                "nested": [
                                                    {
                                                        "name": "voice_id",
                                                        "type": "select",
                                                        "label": "Voice ID",
                                                        "options": "rpc://heygen/1/listVoices"
                                                    },
                                                    {
                                                        "name": "input_text",
                                                        "type": "text",
                                                        "label": "Input Text"
                                                    },
                                                    {
                                                        "name": "speed",
                                                        "type": "number",
                                                        "label": "Voice Speec",
                                                        "default": 1,
                                                        "validate": {
                                                            "max": 1.5,
                                                            "min": 0.5
                                                        }
                                                    },
                                                    {
                                                        "name": "pitch",
                                                        "type": "integer",
                                                        "label": "Voice Pitch",
                                                        "default": 0,
                                                        "validate": {
                                                            "max": 50,
                                                            "min": -50
                                                        }
                                                    },
                                                    {
                                                        "name": "emotion",
                                                        "type": "select",
                                                        "label": "Voice Emotion method",
                                                        "options": [
                                                            {
                                                                "label": "Excited",
                                                                "value": "Excited"
                                                            },
                                                            {
                                                                "label": "Friendly",
                                                                "value": "Friendly"
                                                            },
                                                            {
                                                                "label": "Serious",
                                                                "value": "Serious"
                                                            },
                                                            {
                                                                "label": "Soothing",
                                                                "value": "Soothing"
                                                            },
                                                            {
                                                                "label": "Broadcaster",
                                                                "value": "Broadcaster"
                                                            }
                                                        ]
                                                    }
                                                ]
                                            },
                                            {
                                                "label": "Audio",
                                                "value": "audio",
                                                "nested": [
                                                    {
                                                        "name": "audio_url",
                                                        "type": "text",
                                                        "label": "Audio URL"
                                                    }
                                                ]
                                            },
                                            {
                                                "label": "Silence",
                                                "value": "silence",
                                                "nested": [
                                                    {
                                                        "name": "duration",
                                                        "type": "number",
                                                        "label": "Duration of Silence",
                                                        "validate": {
                                                            "max": 100,
                                                            "min": 1
                                                        }
                                                    }
                                                ]
                                            }
                                        ]
                                    }
                                ],
                                "type": "collection",
                                "label": "Voice Settings"
                            },
                            {
                                "name": "background",
                                "spec": [
                                    {
                                        "name": "type",
                                        "type": "select",
                                        "label": "Background Type",
                                        "options": [
                                            {
                                                "label": "Color Background",
                                                "value": "color",
                                                "nested": [
                                                    {
                                                        "help": "Color value in hex format.",
                                                        "name": "value",
                                                        "type": "text",
                                                        "label": "Background Color",
                                                        "default": "#f6f6fc"
                                                    }
                                                ]
                                            },
                                            {
                                                "label": "Image Background",
                                                "value": "image",
                                                "nested": [
                                                    {
                                                        "name": "url",
                                                        "type": "text",
                                                        "label": "Image URL"
                                                    }
                                                ]
                                            },
                                            {
                                                "label": "Video Background",
                                                "value": "video",
                                                "nested": [
                                                    {
                                                        "name": "url",
                                                        "type": "text",
                                                        "label": "Video URL"
                                                    },
                                                    {
                                                        "name": "play_style",
                                                        "type": "select",
                                                        "label": "Video Play Style",
                                                        "options": [
                                                            {
                                                                "label": "Fit to Scene",
                                                                "value": "fit_to_scene"
                                                            },
                                                            {
                                                                "label": "Freeze",
                                                                "value": "freeze"
                                                            },
                                                            {
                                                                "label": "Loop",
                                                                "value": "loop"
                                                            },
                                                            {
                                                                "label": "Once",
                                                                "value": "once"
                                                            }
                                                        ]
                                                    }
                                                ]
                                            }
                                        ]
                                    }
                                ],
                                "type": "collection",
                                "label": "Background Settings"
                            }
                        ],
                        "type": "array",
                        "label": "Video Inputs"
                    },
                    {
                        "name": "title",
                        "type": "text",
                        "label": "Title of the video"
                    },
                    {
                        "name": "test",
                        "type": "boolean",
                        "label": "Test Mode"
                    },
                    {
                        "name": "caption",
                        "type": "boolean",
                        "label": "Captions"
                    },
                    {
                        "name": "callback_id",
                        "type": "text",
                        "label": "Callback ID"
                    },
                    {
                        "name": "dimension",
                        "spec": [
                            {
                                "name": "width",
                                "type": "integer",
                                "label": "Width"
                            },
                            {
                                "name": "height",
                                "type": "integer",
                                "label": "Height"
                            }
                        ],
                        "type": "collection",
                        "label": "Dimension"
                    }
                ]
            }
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "us2.make.com",
        "notes": []
    }
}