13_IG_DM_Bot_template/blueprint_13.json
{
    "name": "14_IG_DM_bot_with_GCP",
    "flow": [
        {
            "id": 1,
            "module": "manychat:ManyChatWebhook",
            "version": 1,
            "parameters": {
                "__IMTHOOK__": 425380
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 150
                },
                "restore": {
                    "parameters": {
                        "__IMTHOOK__": {
                            "data": {
                                "editable": "false"
                            },
                            "label": "My ManyChat webhook for Replit Hosted Agent"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTHOOK__",
                        "type": "hook:manychat",
                        "label": "Webhook",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 3,
            "module": "builtin:BasicRouter",
            "version": 1,
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 150
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": 18,
                            "module": "util:SetVariable2",
                            "version": 1,
                            "parameters": {},
                            "filter": {
                                "name": "No Thread ID in Manychat",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{1.subscriber.custom_fields.`Assistant - Thread ID`}}",
                                            "o": "text:equal",
                                            "b": ""
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "name": "SanitizedPrompt",
                                "scope": "roundtrip",
                                "value": "{{replace(1.subscriber.custom_fields.`Assistant - Prompt`; newline; \"\\\\n\")}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 600,
                                    "y": 0
                                },
                                "restore": {
                                    "expect": {
                                        "scope": {
                                            "label": "One cycle"
                                        }
                                    }
                                },
                                "expect": [
                                    {
                                        "name": "name",
                                        "type": "text",
                                        "label": "Variable name",
                                        "required": true
                                    },
                                    {
                                        "name": "scope",
                                        "type": "select",
                                        "label": "Variable lifetime",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "roundtrip",
                                                "execution"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "value",
                                        "type": "any",
                                        "label": "Variable value"
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "SanitizedPrompt",
                                        "label": "SanitizedPrompt",
                                        "type": "any"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 11,
                            "module": "http:ActionSendData",
                            "version": 3,
                            "parameters": {
                                "handleErrors": false,
                                "useNewZLibDeCompress": true
                            },
                            "mapper": {
                                "url": "https://openai-assistant-api-830723611668.us-east1.run.app/api/chat",
                                "serializeUrl": false,
                                "method": "post",
                                "headers": [
                                    {
                                        "name": "Api-Key",
                                        "value": "abc123"
                                    }
                                ],
                                "qs": [],
                                "bodyType": "raw",
                                "parseResponse": true,
                                "authUser": "",
                                "authPass": "",
                                "timeout": "",
                                "shareCookies": false,
                                "ca": "",
                                "rejectUnauthorized": true,
                                "followRedirect": true,
                                "useQuerystring": false,
                                "gzip": true,
                                "useMtls": false,
                                "contentType": "application/json",
                                "data": "{\"assistant_id\":\"asst_8XaMCZ0jXistHLFdTEi2HKfo\",\"prompt\":\"{{replace(1.subscriber.custom_fields.`Assistant - Prompt`; \"\"\"\\n\"\"\"; \"\"\"\\\\n\"\"\")}}\",\"thread_id\":\"N/A\"}",
                                "followAllRedirects": false
                            },
                            "metadata": {
                                "designer": {
                                    "x": 900,
                                    "y": 0,
                                    "name": "Hosted Agent"
                                },
                                "restore": {
                                    "expect": {
                                        "method": {
                                            "mode": "chose",
                                            "label": "POST"
                                        },
                                        "headers": {
                                            "mode": "chose",
                                            "items": [
                                                null
                                            ]
                                        },
                                        "qs": {
                                            "mode": "chose"
                                        },
                                        "bodyType": {
                                            "label": "Raw"
                                        },
                                        "contentType": {
                                            "label": "JSON (application/json)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "handleErrors",
                                        "type": "boolean",
                                        "label": "Evaluate all states as errors (except for 2xx and 3xx )",
                                        "required": true
                                    },
                                    {
                                        "name": "useNewZLibDeCompress",
                                        "type": "hidden"
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "url",
                                        "type": "url",
                                        "label": "URL",
                                        "required": true
                                    },
                                    {
                                        "name": "serializeUrl",
                                        "type": "boolean",
                                        "label": "Serialize URL",
                                        "required": true
                                    },
                                    {
                                        "name": "method",
                                        "type": "select",
                                        "label": "Method",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "get",
                                                "head",
                                                "post",
                                                "put",
                                                "patch",
                                                "delete",
                                                "options"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "headers",
                                        "type": "array",
                                        "label": "Headers",
                                        "spec": [
                                            {
                                                "name": "name",
                                                "label": "Name",
                                                "type": "text",
                                                "required": true
                                            },
                                            {
                                                "name": "value",
                                                "label": "Value",
                                                "type": "text"
                                            }
                                        ]
                                    },
                                    {
                                        "name": "qs",
                                        "type": "array",
                                        "label": "Query String",
                                        "spec": [
                                            {
                                                "name": "name",
                                                "label": "Name",
                                                "type": "text",
                                                "required": true
                                            },
                                            {
                                                "name": "value",
                                                "label": "Value",
                                                "type": "text"
                                            }
                                        ]
                                    },
                                    {
                                        "name": "bodyType",
                                        "type": "select",
                                        "label": "Body type",
                                        "validate": {
                                            "enum": [
                                                "raw",
                                                "x_www_form_urlencoded",
                                                "multipart_form_data"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "parseResponse",
                                        "type": "boolean",
                                        "label": "Parse response",
                                        "required": true
                                    },
                                    {
                                        "name": "authUser",
                                        "type": "text",
                                        "label": "User name"
                                    },
                                    {
                                        "name": "authPass",
                                        "type": "password",
                                        "label": "Password"
                                    },
                                    {
                                        "name": "timeout",
                                        "type": "uinteger",
                                        "label": "Timeout",
                                        "validate": {
                                            "max": 300,
                                            "min": 1
                                        }
                                    },
                                    {
                                        "name": "shareCookies",
                                        "type": "boolean",
                                        "label": "Share cookies with other HTTP modules",
                                        "required": true
                                    },
                                    {
                                        "name": "ca",
                                        "type": "cert",
                                        "label": "Self-signed certificate"
                                    },
                                    {
                                        "name": "rejectUnauthorized",
                                        "type": "boolean",
                                        "label": "Reject connections that are using unverified (self-signed) certificates",
                                        "required": true
                                    },
                                    {
                                        "name": "followRedirect",
                                        "type": "boolean",
                                        "label": "Follow redirect",
                                        "required": true
                                    },
                                    {
                                        "name": "useQuerystring",
                                        "type": "boolean",
                                        "label": "Disable serialization of multiple same query string keys as arrays",
                                        "required": true
                                    },
                                    {
                                        "name": "gzip",
                                        "type": "boolean",
                                        "label": "Request compressed content",
                                        "required": true
                                    },
                                    {
                                        "name": "useMtls",
                                        "type": "boolean",
                                        "label": "Use Mutual TLS",
                                        "required": true
                                    },
                                    {
                                        "name": "contentType",
                                        "type": "select",
                                        "label": "Content type",
                                        "validate": {
                                            "enum": [
                                                "text/plain",
                                                "application/json",
                                                "application/xml",
                                                "text/xml",
                                                "text/html",
                                                "custom"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "data",
                                        "type": "buffer",
                                        "label": "Request content"
                                    },
                                    {
                                        "name": "followAllRedirects",
                                        "type": "boolean",
                                        "label": "Follow all redirect",
                                        "required": true
                                    }
                                ]
                            }
                        },
                        {
                            "id": 6,
                            "module": "manychat:SetSubscriberCustomField",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 1730454
                            },
                            "filter": {
                                "name": "200",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{11.statusCode}}",
                                            "b": "200",
                                            "o": "text:equal"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "cFieldId": 12505255,
                                "cFieldValue": "{{11.data.thread_id}}",
                                "subscriberId": "{{1.subscriber.id}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1200,
                                    "y": 0
                                },
                                "restore": {
                                    "expect": {
                                        "cFieldId": {
                                            "mode": "chose",
                                            "label": "Assistant - Thread ID"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "manychat"
                                            },
                                            "label": "My ManyChat connection"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:manychat",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "subscriberId",
                                        "type": "text",
                                        "label": "Subscriber ID",
                                        "required": true,
                                        "validate": {
                                            "pattern": "^[0-9]+$"
                                        }
                                    },
                                    {
                                        "name": "cFieldId",
                                        "type": "select",
                                        "label": "Field ID",
                                        "required": true
                                    },
                                    {
                                        "name": "cFieldValue",
                                        "type": "any",
                                        "label": "Field value",
                                        "required": true
                                    }
                                ]
                            }
                        },
                        {
                            "id": 7,
                            "module": "manychat:SetSubscriberCustomField",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 1730454
                            },
                            "mapper": {
                                "cFieldId": 12505251,
                                "cFieldValue": "{{11.data.response}}",
                                "subscriberId": "{{1.subscriber.id}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1500,
                                    "y": 0
                                },
                                "restore": {
                                    "expect": {
                                        "cFieldId": {
                                            "mode": "chose",
                                            "label": "Assistant - Completion"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "manychat"
                                            },
                                            "label": "My ManyChat connection"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:manychat",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "subscriberId",
                                        "type": "text",
                                        "label": "Subscriber ID",
                                        "required": true,
                                        "validate": {
                                            "pattern": "^[0-9]+$"
                                        }
                                    },
                                    {
                                        "name": "cFieldId",
                                        "type": "select",
                                        "label": "Field ID",
                                        "required": true
                                    },
                                    {
                                        "name": "cFieldValue",
                                        "type": "any",
                                        "label": "Field value",
                                        "required": true
                                    }
                                ]
                            }
                        },
                        {
                            "id": 8,
                            "module": "manychat:SendFlow",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 1730454
                            },
                            "mapper": {
                                "flowName": "content20250212151635_408989",
                                "subscriberId": "{{1.subscriber.id}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1800,
                                    "y": 0
                                },
                                "restore": {
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "manychat"
                                            },
                                            "label": "My ManyChat connection"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:manychat",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "subscriberId",
                                        "type": "text",
                                        "label": "Subscriber ID",
                                        "required": true,
                                        "validate": {
                                            "pattern": "^[0-9]+$"
                                        }
                                    },
                                    {
                                        "name": "flowName",
                                        "type": "text",
                                        "label": "Flow ID",
                                        "required": true
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 17,
                            "module": "util:SetVariable2",
                            "version": 1,
                            "parameters": {},
                            "filter": {
                                "name": "Thread ID in Manychat",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{1.subscriber.custom_fields.`Assistant - Thread ID`}}",
                                            "o": "exist"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "name": "SanitizedPrompt",
                                "scope": "roundtrip",
                                "value": "{{replace(1.subscriber.custom_fields.`Assistant - Prompt`; newline; \"\\\\n\")}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 600,
                                    "y": 300
                                },
                                "restore": {
                                    "expect": {
                                        "scope": {
                                            "label": "One cycle"
                                        }
                                    }
                                },
                                "expect": [
                                    {
                                        "name": "name",
                                        "type": "text",
                                        "label": "Variable name",
                                        "required": true
                                    },
                                    {
                                        "name": "scope",
                                        "type": "select",
                                        "label": "Variable lifetime",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "roundtrip",
                                                "execution"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "value",
                                        "type": "any",
                                        "label": "Variable value"
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "SanitizedPrompt",
                                        "label": "SanitizedPrompt",
                                        "type": "any"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 16,
                            "module": "http:ActionSendData",
                            "version": 3,
                            "parameters": {
                                "handleErrors": false,
                                "useNewZLibDeCompress": true
                            },
                            "mapper": {
                                "url": "https://openai-assistant-api-830723611668.us-east1.run.app/api/chat",
                                "serializeUrl": false,
                                "method": "post",
                                "headers": [
                                    {
                                        "name": "Api-Key",
                                        "value": "abc123"
                                    }
                                ],
                                "qs": [],
                                "bodyType": "raw",
                                "parseResponse": true,
                                "authUser": "",
                                "authPass": "",
                                "timeout": "",
                                "shareCookies": false,
                                "ca": "",
                                "rejectUnauthorized": true,
                                "followRedirect": true,
                                "useQuerystring": false,
                                "gzip": true,
                                "useMtls": false,
                                "contentType": "application/json",
                                "data": "{\"assistant_id\":\"asst_8XaMCZ0jXistHLFdTEi2HKfo\",\"prompt\":\"{{17.SanitizedPrompt}}\",\"thread_id\":\"{{1.subscriber.custom_fields.`Assistant - Thread ID`}}\"}",
                                "followAllRedirects": false
                            },
                            "metadata": {
                                "designer": {
                                    "x": 900,
                                    "y": 300,
                                    "name": "Hosted Agent"
                                },
                                "restore": {
                                    "expect": {
                                        "method": {
                                            "mode": "chose",
                                            "label": "POST"
                                        },
                                        "headers": {
                                            "mode": "chose",
                                            "items": [
                                                null
                                            ]
                                        },
                                        "qs": {
                                            "mode": "chose"
                                        },
                                        "bodyType": {
                                            "label": "Raw"
                                        },
                                        "contentType": {
                                            "label": "JSON (application/json)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "handleErrors",
                                        "type": "boolean",
                                        "label": "Evaluate all states as errors (except for 2xx and 3xx )",
                                        "required": true
                                    },
                                    {
                                        "name": "useNewZLibDeCompress",
                                        "type": "hidden"
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "url",
                                        "type": "url",
                                        "label": "URL",
                                        "required": true
                                    },
                                    {
                                        "name": "serializeUrl",
                                        "type": "boolean",
                                        "label": "Serialize URL",
                                        "required": true
                                    },
                                    {
                                        "name": "method",
                                        "type": "select",
                                        "label": "Method",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "get",
                                                "head",
                                                "post",
                                                "put",
                                                "patch",
                                                "delete",
                                                "options"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "headers",
                                        "type": "array",
                                        "label": "Headers",
                                        "spec": [
                                            {
                                                "name": "name",
                                                "label": "Name",
                                                "type": "text",
                                                "required": true
                                            },
                                            {
                                                "name": "value",
                                                "label": "Value",
                                                "type": "text"
                                            }
                                        ]
                                    },
                                    {
                                        "name": "qs",
                                        "type": "array",
                                        "label": "Query String",
                                        "spec": [
                                            {
                                                "name": "name",
                                                "label": "Name",
                                                "type": "text",
                                                "required": true
                                            },
                                            {
                                                "name": "value",
                                                "label": "Value",
                                                "type": "text"
                                            }
                                        ]
                                    },
                                    {
                                        "name": "bodyType",
                                        "type": "select",
                                        "label": "Body type",
                                        "validate": {
                                            "enum": [
                                                "raw",
                                                "x_www_form_urlencoded",
                                                "multipart_form_data"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "parseResponse",
                                        "type": "boolean",
                                        "label": "Parse response",
                                        "required": true
                                    },
                                    {
                                        "name": "authUser",
                                        "type": "text",
                                        "label": "User name"
                                    },
                                    {
                                        "name": "authPass",
                                        "type": "password",
                                        "label": "Password"
                                    },
                                    {
                                        "name": "timeout",
                                        "type": "uinteger",
                                        "label": "Timeout",
                                        "validate": {
                                            "max": 300,
                                            "min": 1
                                        }
                                    },
                                    {
                                        "name": "shareCookies",
                                        "type": "boolean",
                                        "label": "Share cookies with other HTTP modules",
                                        "required": true
                                    },
                                    {
                                        "name": "ca",
                                        "type": "cert",
                                        "label": "Self-signed certificate"
                                    },
                                    {
                                        "name": "rejectUnauthorized",
                                        "type": "boolean",
                                        "label": "Reject connections that are using unverified (self-signed) certificates",
                                        "required": true
                                    },
                                    {
                                        "name": "followRedirect",
                                        "type": "boolean",
                                        "label": "Follow redirect",
                                        "required": true
                                    },
                                    {
                                        "name": "useQuerystring",
                                        "type": "boolean",
                                        "label": "Disable serialization of multiple same query string keys as arrays",
                                        "required": true
                                    },
                                    {
                                        "name": "gzip",
                                        "type": "boolean",
                                        "label": "Request compressed content",
                                        "required": true
                                    },
                                    {
                                        "name": "useMtls",
                                        "type": "boolean",
                                        "label": "Use Mutual TLS",
                                        "required": true
                                    },
                                    {
                                        "name": "contentType",
                                        "type": "select",
                                        "label": "Content type",
                                        "validate": {
                                            "enum": [
                                                "text/plain",
                                                "application/json",
                                                "application/xml",
                                                "text/xml",
                                                "text/html",
                                                "custom"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "data",
                                        "type": "buffer",
                                        "label": "Request content"
                                    },
                                    {
                                        "name": "followAllRedirects",
                                        "type": "boolean",
                                        "label": "Follow all redirect",
                                        "required": true
                                    }
                                ]
                            }
                        },
                        {
                            "id": 9,
                            "module": "manychat:SetSubscriberCustomField",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 1730454
                            },
                            "filter": {
                                "name": "200",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{16.statusCode}}",
                                            "o": "text:equal",
                                            "b": "200"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "subscriberId": "{{1.subscriber.id}}",
                                "cFieldId": 12505251,
                                "cFieldValue": "{{16.data.response}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1200,
                                    "y": 300
                                },
                                "restore": {
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "label": "My ManyChat connection",
                                            "data": {
                                                "scoped": "true",
                                                "connection": "manychat"
                                            }
                                        }
                                    },
                                    "expect": {
                                        "cFieldId": {
                                            "mode": "chose",
                                            "label": "Assistant - Completion"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:manychat",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "subscriberId",
                                        "type": "text",
                                        "label": "Subscriber ID",
                                        "validate": {
                                            "pattern": "^[0-9]+$"
                                        },
                                        "required": true
                                    },
                                    {
                                        "name": "cFieldId",
                                        "type": "select",
                                        "label": "Field ID",
                                        "required": true
                                    },
                                    {
                                        "name": "cFieldValue",
                                        "type": "any",
                                        "label": "Field value",
                                        "required": true
                                    }
                                ]
                            }
                        },
                        {
                            "id": 10,
                            "module": "manychat:SendFlow",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 1730454
                            },
                            "mapper": {
                                "flowName": "content20250212151635_408989",
                                "subscriberId": "{{1.subscriber.id}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1500,
                                    "y": 300
                                },
                                "restore": {
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "manychat"
                                            },
                                            "label": "My ManyChat connection"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:manychat",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "subscriberId",
                                        "type": "text",
                                        "label": "Subscriber ID",
                                        "required": true,
                                        "validate": {
                                            "pattern": "^[0-9]+$"
                                        }
                                    },
                                    {
                                        "name": "flowName",
                                        "type": "text",
                                        "label": "Flow ID",
                                        "required": true
                                    }
                                ]
                            }
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 40,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "us2.make.com",
        "notes": []
    }
}